<mat-toolbar style="width: auto; margin:-24px -24px 0px -24px; height: 8.5vh; font-size: 3.3vh;">
    <h2 mat-dialog-title>{{copy.mode=="add"?"New Inherent Risk":"Edit Inherent Risk"}}</h2>
    <span class="spacer"></span>
    <button mat-icon-button title="Close" cdkFocusInitial mat-dialog-close>
        <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
    </button>
</mat-toolbar>
<mat-dialog-content>

    <form [formGroup]="masterForm" autocomplete="off" fxLayout="row wrap" fxLayoutGap="12px grid">
        <input formControlName="txtRateId" hidden="true">
        <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Group</mat-label>
            <mat-select formControlName="ddlGroup" (selectionChange)="groupOnChange(this)">
                <mat-option *ngFor="let item of groupDS" [value]="item.GroupID"> {{item.Name}} </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Unit</mat-label>
            <mat-select formControlName="ddlUnit">
                <mat-option *ngFor="let item of unitDS" [value]="item.UnitID"> {{item.Name}} </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Process</mat-label>
            <mat-select formControlName="ddlProcess">
                <mat-option *ngFor="let item of processDS" [value]="item.ProcessID">
                    {{item.Name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Risk</mat-label>
            <input matInput formControlName="txtRisk">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Risk Category</mat-label>
            <mat-select formControlName="ddlRiskCategory">
                <mat-option *ngFor="let item of riskCategoryDS" [value]="item.RiskCategoryID"> {{item.Category}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Inherent Likelihood</mat-label>
            <mat-select formControlName="ddlInherentLikelihood">
                <mat-option *ngFor="let item of inherentLikelihoodDS" [value]="item.InherentLikelihoodRatingID">
                    {{item.Rating}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Inherent Impact Rating</mat-label>
            <mat-select formControlName="ddlInherentImpactRating">
                <mat-option *ngFor="let item of inherentImpactRatingDS" [value]="item.InherentImpactRatingID">
                    {{item.Rating}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>


</mat-dialog-content>
<div fxLayout="row wrap">
    <span class="spacer"></span>
    <mat-error *ngIf="!masterForm.valid">The save button is enabled once all the mandatory
        fields are entered</mat-error>
</div>
<mat-error *ngIf="saveerror">{{saveerror}}</mat-error>
<mat-dialog-actions>
    <span class="spacer"></span>
    <div class="move-buttons">
        <button class="buttons save" id="saveSub" [disabled]="!masterForm.valid" (click)="validateSave()"><img
                src="./assets/images/icon-application.svg" alt="Save">Save</button>

    </div>
    <button type="button" class="btn btn-secondary modalCancelBtn" id="cancel" style="margin-right: 1vh;height: 5.5vh;
    margin-top: -0.2vh;" mat-dialog-close>Cancel</button>
</mat-dialog-actions>