.container{
    flex-direction: row;
}

.left {
    display: flex;
    width: 20%;
    margin: 4vh 4vh 0 4vh;
}

.right {
    display: flex;
    flex-flow: column;
    width: 80%;
    margin: 4vh 4vh 0 0;
}

.not-part {
    align-self: center;
    font-size: 3vh;
}

.mat-display-4,
.mat-display-3,
.mat-h3,
.mat-h4 {
    margin: 0;
}
