::ng-deep.mat-dialog-container {
    padding: 0px;

}

// ::ng-deep.mat-elevation-z8 {
//     box-shadow: none;
// }
.viewAll{
    color: #1b61d1;
    cursor: pointer;
}

.example-container {
    height: calc(100% - 22.5%);
    max-width: 100%;
    overflow: auto;
}

.mat-table-padding {
    margin-top:20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
::ng-deep.mat-header-row{
    position: sticky;
    top: 0;
    z-index: 100;
    // background: white;
}

.mat-row:nth-child(even):hover,
.mat-row:nth-child(odd):hover
 {
    background-color: #fffdeb;
  }

.mat-row:nth-child(even){
    background-color: rgb(233, 233, 230);
    // height: 10px;
}
        
.mat-row:nth-child(odd){
    background-color: rgb(225, 223, 223);
    // height: 10px;
}


.triangle-up {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid red;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid green;
}

.triangle-space{
margin-left: 17px;
}

.bottom-dig{
    background-color: #e7e7e7;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 45px;
}
.bottom-dig button{
    background-color: #c9c9c9;
    color: black;
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px 1px #777777;
    overflow: hidden;
}

