.mat-tool-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
::ng-deep.mat-dialog-container{
    padding: 0px;
} 
.mat-tool-bar{
    justify-content: space-between;
}
th{
    background-color: #e7e7e7;
}
