.main-container {
    margin: 0.2vw 0.5vw 0 0.5vw;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
}

label {
    font-size: 1.5vw
}

.total-unread-count {
    font-weight: 700;
    font-size: 150%;
    line-height: 2.5;
}

.toggle-button {
    display: flex;
    align-items: center;
}

::ng-deep.cdk-overlay-connected-position-bounding-box {
    right: 10px !important;
}

mat-form-field {
    background-color: white;
    color: #4883ba;
    height: 7vh;
    width: 10vw;
    border-radius: 10px;
    padding: 0.1vw;
}

.notification-box {
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
    border-radius: 8px;
    margin: 2px 0;
    padding: 0 4px;
    background-image: linear-gradient(to right, #BED6EC 60%, #F5F5F5) !important;
}

.notiContent {
    min-height: 6vh;
    margin: 0.4vw;
    width: 33.5vw;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
}

.mat-expansion-panel-header.mat-expanded {
    height: 50px;
}

mat-expansion-panel-header {
    background-image: linear-gradient(to right, #BED6EC 40%, #F5F5F5);
    min-width: 36vw;
}

mat-expansion-panel-body {
    padding: 5px 18px 16px;
}

.custom_notification_body{
    overflow: auto;
    height: 40vh;
}
// ::ng-deep.mat-expansion-panel-content {
//     overflow: auto !important;
//     max-height: 40vh;
// }

mat-panel-title {
    padding: 0.2vw;
    color: white;
    font-weight: bold;
    border-radius: 0.3vw;
    background-color: #2980B9;
    display: flex;
    justify-content: space-around;
}

mat-panel-description {
    font-weight: 400 !important;
    color: rgb(24, 24, 24);
}

mat-card {
    height: auto;
    padding: 0;
}

mat-card-header,
mat-card-title {
    font-size: 17px !important;
    font-weight: 700;
}

.mat-card-content {
    padding-left: 0.8vw;
}

.mat-card-subtitle {
    margin-bottom: 0px;
}

.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
    background-image: linear-gradient(to right, #BED6EC 40%, #F5F5F5);
}

::ng-deep .mat-expansion-panel-body {
    padding: 7px 24px 16px !important;
}
