<mat-toolbar class="fontSize">
    <span>Upload Risk Appetite Documents</span>
</mat-toolbar>
<div class="container">
    <div class="upload-new-container">
        <h4 class="card-heading">Upload New</h4>
        <mat-card class="upload-card-container">
            <div style="text-align: right; margin: 1.5vh 0;">
                <button mat-icon-button (click)="downloadLatestTemplate()">
                    <img src="assets/icon-excel.svg">
                </button>
                <a (click)="downloadLatestTemplate()" class="link">Download Risk Appetite Template</a>
            </div>

            <form class="example-form" [formGroup]="uploadForm" (ngSubmit)="onSubmit();">
                <mat-form-field class="example-full-width" appearance="standard">
                    <mat-label for="rafPolicyName">RAF Policy Name *</mat-label>
                    <input matInput placeholder="File name" type="text" id="rafPolicyName" name="rafPolicyName"
                        (blur)="onRafPolicyName($event)" formControlName="rafPolicyName">
                </mat-form-field>

                <!-- <div *ngIf="submitted && isrefPolicyError">
                    <mat-error *ngIf="submitted && isrefPolicyError">Enter RAF Policy Name</mat-error>
                </div>
                <div *ngIf="submitted && isPolicyError">
                    <mat-error *ngIf="submitted && isPolicyError">Policy Name should be less than 256 characters</mat-error>
                </div> -->

                <div *ngIf="submitted ">
                    <mat-error *ngIf=" isrefPolicyError ">Enter RAF Policy Name</mat-error>
                    <mat-error *ngIf="isPolicyError && !isrefPolicyError">Policy Name should be less than 256 characters</mat-error>
                  </div>

                <mat-form-field class="col-12" appearance="standard">
                    <mat-label for="uploadRAFPolicy">RAF Policy</mat-label>
                    <input matInput placeholder="Choose File"
                        onclick="document.getElementById('uploadRAFPolicy').click();" readonly="readonly"
                        [value]="fileinput" required />
                    <input class="form-control" id="uploadRAFPolicy" type="file" name="RAF Policy"
                        (onFileSelected)="getPolicyDetails()" ng2FileSelect [uploader]="uploader1"
                        formControlName="uploadRAFPolicy" style="display: none;" />
                </mat-form-field>

                <div class="text-right">
                    <span class="extension">RAF Policy: .pdf</span>
                </div>

                <mat-error *ngIf="uploadRAFError" class="alert alert-danger" style="color: red;">{{uploadRAFError}}</mat-error>

                <mat-error *ngIf="invalidfile" style="color: red;"> Invalid file extension. Please attach
                    file with ".pdf" extension</mat-error>
                <mat-error *ngIf="invalidfilesize" style="color: red;"> File Size should be less than 10MB</mat-error>
                <mat-error *ngIf="validFileNameErr" style="color: red;"> Special Characters are not allowed in File name</mat-error>

                <mat-form-field class="col-12" appearance="standard" style="margin-top: 1.5vh;">
                    <mat-label for="uploadRAFFramework">RAF Framework File</mat-label>
                    <input matInput placeholder="Choose File"
                        onclick="document.getElementById('uploadRAFFramework').click();" readonly="readonly"
                        [value]="fileinput1" required />
                    <input class="form-control" id="uploadRAFFramework" type="file" name="RAF Framework Excel"
                        (onFileSelected)="getFrameworkDetails($event)" ng2FileSelect formControlName="uploadRAFFramework"
                        [uploader]="uploader2" style="display: none;" />
                </mat-form-field>

                <div class="text-right">
                    <span class="extension">RAF Framework: .xlsx</span>
                </div>

                <mat-error *ngIf="uploadExcelError" class="alert alert-danger"style="color: red;">{{uploadExcelError}}</mat-error>

                <mat-error *ngIf="invalidfile1"style="color: red;"> Invalid file extension. Please attach
                    file with ".xlsx" extension</mat-error>
                <mat-error *ngIf="invalidfilesize1"style="color: red;"> File Size should be less than 10MB</mat-error>
                <mat-error *ngIf="validFileNameErr1" style="color: red;"> Special Characters are not allowed in File name</mat-error>
                <mat-error *ngIf="invalidExcelDataFile" style="color: red;"> Please upload file with valid data</mat-error>
                <div class="button-container" [ngStyle]="{'margin': ((isrefPolicyError || (isPolicyError && !isrefPolicyError)) && (uploadRAFError || invalidfile || invalidfilesize) && (uploadExcelError || invalidfile1 || invalidfilesize1 || invalidExcelDataFile))? '' : '5vh 0 5vh 0'}">
                    <!-- <button mat-flat-button color="primary"
                        [disabled]="invalidfile || invalidfile1 || invalidfilesize || invalidfilesize1 || invalidExcelDataFile || validFileNameErr1 || validFileNameErr" type="submit"
                        style="margin-right:1vw">Upload Documents to ORM</button> -->
                        <button type="button" class="btn btn-primary modalColorBtn" style="width: 32vh;color: white !important;" [disabled]="invalidfile || invalidfile1 || invalidfilesize || invalidfilesize1 || invalidExcelDataFile || validFileNameErr1 || validFileNameErr" type="submit">
                            <img src="./assets/images/icon-upload.svg" style="margin-right: 0.2vw;" alt="upload"/>
                            Upload Documents to ORM
                          </button>
                    <!-- <button mat-stroked-button type="button" (click)="onCancel()">Cancel</button> -->
                    <button type="button" class="btn btn-secondary modalCancelBtn" id="cancel" style="margin-left: 1vh;height: 5.5vh;margin-bottom: 0vh;" (click)="onCancel()">Cancel</button>
                </div>
            </form>

            <!-- <form class="example-form">
                <mat-form-field class="example-full-width" appearance="standard">
                    <mat-label for="rafPolicyName">RAF Policy Name</mat-label>
                    <input matInput placeholder="File name" type="text" id="rafPolicyName" name="rafPolicyName"
                        [(ngModel)]="rafPolicyName" (keyup)="onKey($event)">
                </mat-form-field>

                <mat-error *ngIf="rafPolicyName">{{nameerror}}</mat-error> -->

            <!-- Uploadfile below -->
            <!-- <mat-form-field class="col-12" appearance="standard">
                    <mat-label for="uploadRAFPolicy">RAF Policy</mat-label>
                    <input matInput placeholder="Choose File"
                        onclick="document.getElementById('uploadRAFPolicy').click();" [value]="fileinput" required />
                    <input class="form-control" id="uploadRAFPolicy" type="file" [(ngModel)]="uploadFilename"
                        name="RAF Policy" (onFileSelected)="getPolicyDetails()" ng2FileSelect [uploader]="uploader1"
                        style="display: none;" />
                </mat-form-field>

                <div *ngIf="invalidfile"> Invalid file extension. Please attach
                    file with ".pdf" extension</div>
                <div *ngIf="invalidfilesize"> File Size should be less than 50MB</div>

                <mat-form-field class="col-12" appearance="standard" style="margin-top: 1.5vh;">
                    <mat-label for="uploadRAFFramework">RAF Framework File</mat-label>
                    <input matInput placeholder="Choose File"
                        onclick="document.getElementById('uploadRAFFramework').click();" [value]="fileinput1"
                        required />
                    <input class="form-control" id="uploadRAFFramework" type="file" [(ngModel)]="uploadFilename1"
                        name="RAF Framework Excel" (onFileSelected)="getFrameworkDetails()" ng2FileSelect
                        [uploader]="uploader2" style="display: none;" />
                </mat-form-field> -->

            <!-- <div *ngIf="invalidfile1"> Invalid file extension. Please attach
                    file with ".xlsx" extension</div>
                <div *ngIf="invalidfilesize1"> File Size should be less than 50MB</div>

                <mat-error *ngIf="uploaderror" class="alert alert-danger">{{uploaderror}}</mat-error>

                <div class="button-container" style="padding-top: 2vh;">
                    <button mat-raised-button (click)="validateDetails()" type="submit" color="primary">
                        <i *ngIf="loaderUploader" class="fa fa-refresh fa-spin"></i>Upload Documents to ORM</button>
                    <button mat-raised-button (click)="OnCancel()">Cancel</button>
                </div> -->
            <!-- Uploadfile above -->

            <!-- <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>RAF Policy</mat-label>
                        <input placeholder="Choose File" value={{filename}} required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>RAF Framework Excel</mat-label>
                        <input placeholder="Choose File" value={{filename}} required>
                    </mat-form-field> -->
            <!-- <div class="button-container">
                        <button mat-flat-button color="primary" style="margin-right:1vw">Upload Documnts to
                            ORM</button>
                        <button mat-stroked-button>Cancel</button>
                    </div> -->
            <!-- </form> -->
        </mat-card>
    </div>
    <div class="previously-uploaded-documents">
        <h4 class="card-heading">Previously Uploaded Documents</h4>
        <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> RAF Policy Name </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <a (click)="openRafPolicy(row, dataSource.filteredData)" style="color: blue;" class="link">{{row.FrameworkName}}
                            {{row.CreatedDate | date: 'MMMYY' }}</a>
                        <span>Ver{{row.Version | number:'1.1'}}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="policyFileName">
                    <mat-header-cell *matHeaderCellDef> RAF Policy </mat-header-cell>
                    <mat-cell *matCellDef="let row" style="justify-content: space-between;"> <a (click)="downloadPolicy(row, 'Policy')"
                            class="link">{{removeExtension(row.PolicyFileName)}}.pdf</a>
                        <button mat-icon-button (click)="downloadPolicy(row, 'Policy')" matTooltipPosition="above"
                            matTooltip="{{row.PolicyFileName}}">
                            <img src="assets/icon-pdf.svg">
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="frameworkFileName">
                    <mat-header-cell *matHeaderCellDef> RAF Framework Excel </mat-header-cell>
                    <mat-cell *matCellDef="let row" style="justify-content: space-between;"> <a (click)="downloadPolicy(row, 'Framework')" style="width: 9vw;"
                            class="link">{{removeExtension(row.FrameworkFileName)}}.xlsx</a>
                        <button mat-icon-button (click)="downloadPolicy(row, 'Framework')" matTooltipPosition="above"
                            matTooltip="{{row.FrameworkFileName}} ">
                            <img src="assets/icon-excel.svg">
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="uploadDate">
                    <mat-header-cell *matHeaderCellDef> Uploaded On </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{utils.formatDate(row.UploadDate)}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngStyle]="{'background-color': getBackgroundColor(row)}"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Select page of documents" class="InherentTable">
            </mat-paginator>
        </div>
    </div>
</div>
