.container {
    margin: 0 4vh 0 4vh;
}

.table-header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.text-center {
    text-align: center;
}

.threshold-value {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

.dropdown-label {
    margin-right: 0.5rem;
}

.disable-label {
    color: darkgray;
}

.toggle-label {
    padding: 0px 5px;
}

.mat-elevation-z8 {
    width: 100%;
}

.measurement-header {
    width: 7%;
}

th.mat-header-cell,
td.mat-cell {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px !important;
}

.actions-container {
    display: flex;
    justify-content: space-between;
    // padding: 10px 20px;
}

.actions-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-action {
    @extend .actions-display;
    gap: 30px;
}

.right-action {
    @extend .actions-display;
}

.no-data {
    width: 100%;
    text-align: center;
    font-size: 3vh;
}
