<div class="container">
    <form class="incident-form" [formGroup]="incidentForm" *ngIf="service?.isIncidentEditable">
        <mat-card class="matcard">
            <div class="form-row">
                <div class="form-label">
                    <label>Reporting Date</label>
                </div>
                <div class="reporting-date">
                    {{reportingDate}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-label">
                    <label>Group <span style="color: red;">*</span></label>
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>Select a Group</mat-label>
                    <mat-select formControlName="groupName" [(ngModel)]="incident.GroupID"
                    (selectionChange)="selectedUnit($event, incident)"
                    [disabled]="incident.StatusID >= 1"
                    [matTooltip]="incident.StatusID >= 1 ? 'Group cannot be edited once it is saved':''">
            <mat-option *ngFor="let group of service.info?.groups" [value]="group.GroupID">
                {{ group?.Name }}
            </mat-option>
        </mat-select>


                </mat-form-field>
                <!-- <div class="grpvalidation">Group cannot be edited once it is saved</div> -->

                <div class="form-label">
                    <label>Unit Name <span style="color: red;">*</span></label>
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>Select an Unit</mat-label>
                    <mat-select formControlName="unitName" [(ngModel)]="incident.UnitID"
                        [disabled]="incident.StatusID >= 1"
                        [matTooltip]="incident.StatusID >= 1 ? 'Unit cannot be edited once it is saved':''">
                        <mat-option *ngFor="let unit of filteredUnits(incident?.GroupID)" [value]="unit?.UnitID">
                            {{unit?.Name}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>

            </div>
            <div class="grpvalidation" *ngIf="!isSaved">Group and Unit cannot be edited once it is saved</div>

            <h3>Incident Information</h3>
            <mat-divider></mat-divider>
            <div class="form-row">
                <div class="form-name">
                    <label>Reporting Personnel Name <span style="color: red;">*</span></label>
                </div>
                <div class="reportingPersonnelName">
                    {{incident.IncidentCode==""?service.info?.currentUserData[0].FullName:incident.ReporteeUser}}
                </div>
                <div class="form-label">
                    <label>Location Type <span style="color: red;">*</span></label>
                </div>
                <mat-radio-group formControlName="locationType" class="radio-group" aria-label="Select an option"
                    [(ngModel)]="incident.LocationTypeID">
                    <mat-radio-button *ngFor="let location of service.info?.locationTypes"
                        [value]="location.LocationTypeID">{{location.Name}}</mat-radio-button>
                </mat-radio-group>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div class="form-row">
                <div class="form-label">
                    <label>Involved team</label>
                </div>
                <mat-form-field appearance="fill">
                    <textarea matInput formControlName="team" [(ngModel)]="incident.IncidentTeam"></textarea>
                </mat-form-field>
                <div class="form-label">
                    <label>Incident Date <span style="color: red;">*</span></label>
                </div>
                <!-- <mat-form-field appearance="fill" (click)="picker.open()">
                    <input matInput formControlName="incidentDate" [matDatepicker]="picker" [max]="maxDate"
                        [ngModel]="incident.IncidentDate" (dateChange)="changeIncidentDate('change', $event)">
                    <mat-datepicker-toggle matSuffix [for]=picker></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->
                <!-- Add the (keydown) event handler to the incidentDate input field -->
                <mat-form-field appearance="fill" (click)="picker.open()">
                    <input matInput formControlName="incidentDate" [max]="maxDate" [matDatepicker]="picker"
                        [ngModel]="incident.IncidentDate" (dateChange)="changeIncidentDate('change', $event)"
                        (keydown.enter)="$event.preventDefault()">
                    <mat-datepicker-toggle matSuffix [for]=picker></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <!-- <mat-form-field appearance="fill">
                    <input type="date" matInput formControlName="incidentDate" [ngModel]="incident.IncidentDate | date:'yyyy-MM-dd'">
                </mat-form-field> -->
            </div>
            <div class="form-row">
                <div class="form-label">
                    <label>Contact:</label>
                </div>
                <div class="Contact">
                    {{incident.IncidentCode==""?service.info?.currentUserData[0].MobileNumber:incident.MobileNumber}}
                </div>
                <div class="form-label-email">
                    <label>Email:</label>
                </div>
                <div class="Email">
                    {{incident.IncidentCode==""?service.info?.currentUserData[0].EmailID:incident.EmailID}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-label">
                    <label>Incident Title <span style="color: red;">*</span></label>
                </div>
                <mat-form-field style="width:90%" appearance="fill">
                    <textarea matInput formControlName="incidentTitle" [(ngModel)]="incident.IncidentTitle"></textarea>
                </mat-form-field>
            </div>
            <div class="form-row">
                <div class="form-label">
                    <label>Incident Description<span style="color: red;">*</span></label>
                </div>
                <mat-form-field style="width:90%" appearance="fill">
                    <textarea matInput formControlName="incidentDesc" [(ngModel)]="incident.Description"></textarea>
                </mat-form-field>
            </div>
            <div class="form-row">
                <div class="form-label">
                    <label>Recommended Action by Unit <span style="color: red;">*</span></label>
                </div>
                <mat-form-field style="width:90%" appearance="fill">
                    <textarea matInput formControlName="recommendedAction"
                        [(ngModel)]="incident.Recommendation"></textarea>
                </mat-form-field>
            </div>
            <div class="form-row">
                <div class="form-label">
                    <label>Action Taken <span style="color: red;">*</span></label>
                </div>
                <mat-form-field style="width:90%" appearance="fill">
                    <textarea matInput formControlName="actionTaken" [(ngModel)]="incident.Action"></textarea>
                </mat-form-field>
            </div>
            <div class="form-row">
                <div class="form-label">
                    <label>RCA<span style="color: red;">*</span></label>
                </div>
                <mat-form-field style="width:90%" appearance="fill">
                    <textarea matInput formControlName="rca" [(ngModel)]="incident.MakerRCA"></textarea>
                </mat-form-field>
            </div>
            <div class="form-row">
                <div class="form-label">
                    <label>Incident Type <span style="color: red;">*</span></label>
                </div>
                <div class="types">
                    <mat-checkbox [checked]="incidentType.checked" [value]="incidentType.TypeID"
                        (change)="incidentType.checked = !incidentType.checked"
                        *ngFor="let incidentType of service.info?.incidentTypes">
                        {{incidentType.Name}}
                    </mat-checkbox>
                </div>
                <div class="form-label">
                    <label>Source Of Identification <span style="color: red;">*</span></label>
                </div>
                <mat-radio-group formControlName="incidentSource" class="radio-group"
                    [(ngModel)]="incident.IncidentSourceID">
                    <mat-radio-button *ngFor="let incidentSource of service.info?.incidentSources"
                        [value]="incidentSource.SourceID">{{incidentSource.Name}}</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="form-row">
                <div class="form-label">
                    <label>Loss Amount({{currency}})</label>
                </div>
                <mat-form-field appearance="fill">
                    <input matInput type="number" formControlName="lossAmount" min="0" [(ngModel)]="incident.LossAmount"
                        (change)="onChangeSAR()">
                </mat-form-field>
                <div class="form-label">
                    <label>Identification Date</label>
                </div>
                <mat-form-field appearance="fill" (click)="picker1.open()">
                    <input matInput formControlName="identificationDate" [max]="maxDate" [matDatepicker]="picker1"
                        [ngModel]="incident.IdentificationDate"
                        (dateChange)="changeIdentificationDate('change', $event)"
                        (keydown.enter)="$event.preventDefault()">
                    <mat-datepicker-toggle matSuffix [for]=picker1></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <!-- <mat-form-field appearance="fill">
                    <input matInput type="date" formControlName="identificationDate" [ngModel]="incident.IdentificationDate | date:'yyyy-MM-dd'">
                </mat-form-field> -->
            </div>
            <div class="form-row">
                <div class="form-label">
                    <label>Aggrieved Party Details</label>
                </div>
                <mat-form-field appearance="fill">
                    <input matInput formControlName="partyDetails" [(ngModel)]="incident.AggPartyDetails">
                </mat-form-field>
                <div class="form-label">
                    <label>Criticality <span style="color: red;">*</span></label>
                </div>
                <mat-radio-group class="radio-group" aria-label="Select an option" formControlName="criticality"
                    [(ngModel)]="incident.CriticalityID">
                    <mat-radio-button *ngFor="let criticality of service.info?.incidentCriticalities"
                        [value]="criticality.CriticalityID">{{criticality.Name}}</mat-radio-button>
                </mat-radio-group>
            </div>
            <br>
            <div class="form-row">
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <label style="font-weight: bold;">Total {{getLossTotal()}}%</label>
                <!-- <mat-error *ngIf="!validateLossValue()">&nbsp;&nbsp;&nbsp;&nbsp;Please select the impacted units along
                    with the loss percentage, Total Loss% should be 100
                </mat-error> -->
                <label>&nbsp;&nbsp;&nbsp;&nbsp;(Select Multiple if impact applicable across)</label>
            </div>
            <div class="form-row">
                <div class="form-label">
                    <label>All Units</label>
                </div>
                <div class="unit-container unit-types">
                    <app-unit *ngFor="let unit of service.info?.units" [unit]="unit" [loss]="incident.LossAmount>0">
                    </app-unit>
                </div>
            </div>
            <div class="form-row">
                <div class="form-label">
                    <label>Operational Risk Loss Event Category</label>
                </div>
                <div class="types losscat">
                    <mat-checkbox [checked]="lossCat.checked" (change)="lossCat.checked = !lossCat.checked"
                        *ngFor="let lossCat of service.info?.lossCatagories" [value]="lossCat.CategoryID">
                        {{lossCat.Name}}</mat-checkbox>
                </div>
            </div>
            <app-file-upload [evdname]="'Incident'" [disabled]="!service.incident?.Reportee"></app-file-upload>
        </mat-card>
        <div class="form-actions">
            <b style="color: red;" *ngIf="incidentForm.invalid || !areAllChecked() || !isUnitValid">The save button is
                enabled once all the mandatory fields are entered</b>
            <!-- <button mat-raised-button color="primary" type="submit"
                [disabled]="incidentForm.invalid || !areAllChecked() || !isUnitValid" (click)="save()">
                Save
            </button>
            <button mat-stroked-button type="button" (click)="closeDialog()" style="margin-right:1vw">Cancel</button> -->

            <div class="move-buttons" >
                <button class="buttons save" id="saveSub"  type="submit" [disabled]="incidentForm.invalid || !areAllChecked() || !isUnitValid" (click)="save()" ><img src="./assets/images/icon-application.svg"
                          alt="Save">Save</button>

                </div>
                        <button type="button" class="btn btn-secondary modalCancelBtn" id="cancel" (click)="closeDialog()" style="margin-right: 1vw;height: 5.5vh;margin-top: 1.1vh;">Cancel</button>
        </div>
    </form>
    <div *ngIf="!service?.isIncidentEditable">
        <mat-card class="form-view">
            <div class="main-details">
                <div class="left-main-details">
                    <div class="row">
                        <h5>Reporting Date</h5>&nbsp;&nbsp; <p>{{utils.formatDate(service.incident?.ReportingDate)}}</p>
                    </div>
                    <div class="row">
                        <h5>Group</h5>&nbsp;&nbsp; <p>{{service.incident?.GroupName}}</p>
                    </div>
                    <div class="row">
                        <h5>Unit Name</h5>&nbsp;&nbsp; <p>{{service.incident?.UnitName}}</p>
                    </div>
                </div>
                <button mat-icon-button
                    [disabled]="utils.isReadOnlyUserORM() || !service.incident?.Reportee || ![1,3,9,12].includes(service.incident?.StatusCode)"
                    (click)="edit()">
                    <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="edit"></mat-icon>
                </button>
            </div>
            <hr>
            <div class="remaining-details">
                <div class="">
                    <div class="row">
                        <h5>Reporting Personnel Name</h5>&nbsp;&nbsp;
                        <p>{{service.incident?.ReporterName}}</p>
                    </div>
                    <div class="row">
                        <h5>Location</h5>&nbsp;&nbsp;
                        <p>{{service.incident?.LocationName}}</p>
                    </div>
                    <div class="row">
                        <h5>Team</h5>&nbsp;&nbsp;
                        <p class="width-20">
                            {{service.incident?.IncidentTeam}}
                        </p>
                    </div>
                </div>
                <div class="">
                    <div class="flex-box">
                        <div class="">
                            <div class="row">
                                <h5>Incident Date</h5>&nbsp;&nbsp;<p>
                                    {{utils.formatDate(service.incident?.IncidentDate)}}</p>
                            </div>
                            <div class="row">
                                <h5>Contact</h5>&nbsp;&nbsp;<p>{{service.incident?.MobileNumber}}</p>
                            </div>
                        </div>
                        <div class="">
                            <div class="row">
                                <h5>Email</h5>&nbsp;&nbsp;<p>{{service.incident?.EmailID}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h5>Incident Title</h5>&nbsp;&nbsp;
                        <p class="width-20">
                            {{service.incident?.IncidentTitle}}
                        </p>
                    </div>
                    <div class="row">
                        <h5>Incident Description</h5>&nbsp;&nbsp;
                        <p class="width-20">
                            {{service.incident?.Description}}
                        </p>
                    </div>
                    <div class="row">
                        <h5>Recommended Action by Unit</h5>&nbsp;&nbsp;
                        <p class="width-20">
                            {{service.incident?.Recommendation}}
                        </p>
                    </div>

                    <div class="row">
                        <h5>Action Taken</h5>&nbsp;&nbsp;
                        <p class="width-20">
                            {{service.incident?.Action}}
                        </p>
                    </div>
                    <div class="row">
                        <h5>RCA</h5>&nbsp;&nbsp;
                        <p class="width-20">
                            {{service.incident?.MakerRCA}}
                        </p>
                    </div>
                    <div class="flex-box">
                        <div class="">
                            <div class="row">
                                <h5>Incident Type</h5>&nbsp;&nbsp;
                                <div>
                                    <p *ngFor="let inc of service?.incidentTypes">
                                        {{inc?.Name}}&nbsp;&nbsp;
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <h5>Loss Amount({{currency}})</h5>&nbsp;&nbsp;
                                <p>{{service.incident?.LossAmount}}</p>
                            </div>
                            <div class="row">
                                <h5>Aggrieved Party Details</h5>&nbsp;&nbsp;
                                <p class="width-20">{{service.incident?.AggPartyDetails}}</p>
                            </div>
                        </div>
                        <div class="">
                            <div class="row">
                                <h5>Source of Identification</h5>&nbsp;&nbsp;<p>{{service.incident?.Identification}}</p>
                            </div>
                            <div class="row">
                                <h5>Identification Date</h5>&nbsp;&nbsp;<p>
                                    {{utils.formatDate(service.incident?.IdentificationDate)}}</p>
                            </div>
                            <div class="row">
                                <h5>Criticality</h5>&nbsp;&nbsp;<p>{{service.incident?.Criticality}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h5>All Units</h5>&nbsp;&nbsp;
                        <div>
                            <p *ngFor="let unit of service?.impactedUnits">
                                {{unit?.Name}} : <span
                                    *ngIf="unit.LossValue != null">{{unit?.LossValue}}%</span>&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <h5>Operational Risk Loss event category</h5>&nbsp;&nbsp;
                        <div>
                            <p *ngFor="let loss of service.riskLossCategories">
                                {{loss.Name}}&nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                    <app-file-upload [evdname]="'Incident'" [disabled]="true"></app-file-upload>
                </div>
            </div>
        </mat-card>
    </div>
</div>
