.button-text {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 2.1vh;
}

.notificationalert {
    border-radius: 50%;
    background-color: #e1141e !important;
    height: 1.3vh;
    width: 1.2vh;
    position: absolute;
    top: 0.5vh;
    right: 0.2vw;
  }

  .disabled-header {
    pointer-events: none;
    opacity: 0.5;  /* You can adjust the opacity to visually show it as disabled */
    /* You can also add other styles to indicate that the header is disabled */
}
.active {
    background-color: #ffffff30;
    border-radius: 50vh;
    text-decoration: none;
    // margin-left: 1vh;
    margin-top: 0.5vh;
    margin-left: 0.5vh;

}

.mat-toolbar {
    // background-color: #2980B9;
    background: linear-gradient(90deg, #2470A3 0.57%, #0A9C79 100%) !important;
    color: white;
    height: 6.4vh;
}

  .dropdown-menu {
    z-index: 9999; /* Bring it to the front */
  }
  
  /* Additional styling for menu items */
  .menuList ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .menuList mat-icon {
    margin-right: 5px;
  }
  
