.title {
    font-size: 3.8vh;
    color: #8ED2FFee;
    font-weight: bold;

}

.limits {
    margin-top: 1vh;
    font-size: 2vh;
    font-weight: 400;
    line-height: 1.2;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.mat-header-limit1 {
    max-width: 10vw;
    text-align: center;
    border-right: 1px solid gray;
}

.mat-header-limit2 {
    max-width: 10vw;
    text-align: center;
    border-right: 1px solid gray;
}

.mat-header-limit3 {
    max-width: 10vw;
    text-align: center;
}

.space {
    padding: 7px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.display-space {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    font-size: 18px;

}
