<h1 style="color:skyblue;font-weight: 700;">{{data.title}} for Q{{data.comments.PreviousScoring[data.pre].Quater}}, {{data.comments.PreviousScoring[data.pre].Year}}</h1>
<mat-table width="100%" style="background-color: transparent" [dataSource]="dataSource">
    <ng-container matColumnDef="limit1">
        <mat-header-cell *matHeaderCellDef [style.background-color]="color1s" class="space">Low Risk</mat-header-cell>
        <mat-cell *matCellDef="let element"    class="display-space"> {{element.Limit1}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="limit2">
        <mat-header-cell *matHeaderCellDef [style.background-color]="color2s" class="space">Moderate Risk</mat-header-cell>
        <mat-cell *matCellDef="let element" class="display-space"> {{element.Limit2}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="limit3">
        <mat-header-cell *matHeaderCellDef [style.background-color]="color3s" class="space">High Risk</mat-header-cell>
        <mat-cell *matCellDef="let element"   class="display-space"> {{element.Limit3}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>    