networks:
  default:
    driver: bridge
    name: risktrac

    external: true  # Uncomment if you created the network outside

services:
  authapi:
    image: vinod9072/authapi:v1
    container_name: authapi
    ports:
      - "6001:6001"

  umapi:
    image: vinod9072/umapi:v1
    container_name: umapi
    ports:
      - "6002:6002"

  ormapi:
    image: vinod9072/ormapi:v1
    container_name: ormapi
    ports:
      - "6003:6003"

  bcmapi:
    image: vinod9072/bcmapi:v1
    container_name: bcmapi
    ports:
      - "6004:6004"

  umweb:
    image: vinod9072/umweb:v1
    container_name: umweb

  ormweb:
    image: vinod9072/ormweb:v1
    container_name: ormweb

  hostweb:
    image: vinod9072/hostweb:v1
    container_name: hostweb

  # bcmweb:
  #   image: bcmweb:v1
  #   container_name: bcmweb

  nginx:
    image: vinod9072/nginx:v1
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - authapi
      - umapi
      - ormapi
      - ormweb
      - hostweb
      - umweb
    networks:
      - default

