networks:
  default:
    driver: bridge
    name: risktrac

    # external: true  # Uncomment if you created the network outside

services:
  umapi:
    image: vinod9072/umapi:v1
    container_name: umapi
  umweb:
    image: umweb:v1
    container_name: umweb

  ormapi:
    image: vinod9072/ormapi:v1
    container_name: ormapi
  
  ormweb:
     image: vinod9072/ormweb:v1
     container_name: ormweb

  # bcmapi:
  #   image: vinod9072/bcmapi:v1
  #   container_name: bcmapi

  authapi:
    image: vinod9072/authapi:v1
    container_name: authapi

  hostweb:
    image: vinod9072/hostweb:v1
    container_name: hostweb

  # bcmweb:
  #   image: bcmweb:v1
  #   container_name: bcmweb
  



