.title {
    font-size: 2.8vh;
    color: #8ED2FFee;
    font-weight: 400; 
}

.comments {
    margin-top: 1vh;
    font-size: 2vh;
    font-weight: 400;
    line-height: 1.2;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.caption {
    color: #FFE600ee;
    font-style: italic;
}
