<ng-container>
    <mat-toolbar class="fontSize">
        <span>Key Risk Indicator | KRI Review</span>
    </mat-toolbar>

    <div class="container" *ngIf="!dataHide">
        <div class="sidebar-container">
            <mat-sidenav-container class="sidenav-contrainer-class" autosize>
                <mat-sidenav #sidenav fixedInViewport="true" mode="side" class="mat-sidnav-class" [style.width]="kriService.kriReviewerUser ? '14.3vw' : '17.2vw'"
                [style.height]="kriService.kriReviewerUser ? '84vh' : '84vh'"
                    opened="{{ isExpanded }}">
                <div class="left-container">
                    <mat-card class="paddingZero">
                        <mat-icon class="arrow-back-class" (click)="sidenav.toggle()">
                            {{"arrow_back"}}
                          </mat-icon>
                        <br>
                        <div class="total-class"   [ngStyle]="colorValue('total') && textColor()" (click)="totalData()">
                            <span>Total</span>
                            <span style="float: right;">{{total()}}</span>
                        </div>
                        <div style="margin: 10px"
                            [ngStyle]="colorValue('Measured') && colorCode()">
                            <button class="measured-text measured-text-space"
                                [ngStyle]="colorValue('Measured') && textColor()"
                                (click)="measured('Measured')">
                                <p>Measured</p>
                                <p class="measured"
                                    [ngStyle]="colorValue('Measured') && textColor()">
                                    {{this.measuredData('Measured')}}</p>
                            </button>
                        </div>
                        <div style="margin: 10px"
                            [ngStyle]="colorValue('Not Measured') && colorCode()">
                            <button class="measured-text measured-text-space"
                                (click)="measured('Not Measured')"
                                [ngStyle]="colorValue('Not Measured') && textColor()">
                                <p>Not Measured</p>
                                <p class="measured"
                                    [ngStyle]="colorValue('Not Measured') && textColor()">
                                    {{this.measuredData('Not Measured')}} </p>
                            </button>
                        </div>
                        <div style="margin: 10px"
                            [ngStyle]="colorValue('Reported') && colorCode()">
                            <button class="measured-text measured-text-space"
                                (click)="measured('Reported')"
                                [ngStyle]="colorValue('Reported') && textColor()">
                                <p>Reported</p>
                                <p class="measured"
                                    [ngStyle]="colorValue('Reported') && textColor()">
                                    {{this.measuredData('Reported')}} </p>
                            </button>
                        </div>
                        <div class="buttons-class">
                            <div class="ssapproved" style="margin-right: 5px" [ngStyle]="colorValueTotal('Approved','total') && colorCode()"
                                (click)="reportedStatus('total','Approved')"> Approved
                                <span style="float: right;" [ngStyle]="colorValueTotal('Approved','total') && textColor()">{{countReportStatus('total','Approved')}}</span>
                            </div>
                            <div class="ssrejected" style="margin-right: 5px" [ngStyle]="colorValueTotal('Rejected','total') && colorCode()"
                                (click)="reportedStatus('total','Rejected')"> Rejected
                                <span style="float: right;" [ngStyle]="colorValueTotal('Rejected','total') && textColor()">{{countReportStatus('total','Rejected')}}</span>
                            </div>
                            <!-- <div class="sspending"
                                (click)="reportedStatus('total','Pending')"> Pending
                                <span style="float: right;">{{countReportStatus('total','Pending')}}</span>
                            </div> -->
                        </div>
                        <hr>

                        <div >
                            <div  class="frequency-side-class">
                                <div style="padding-top: 15px"
                                    [ngStyle]="colorValue('Monthly') && colorCode()">
                                    <button class="measured-text-space measured-text"
                                        [ngStyle]="colorValue('Monthly') && textColor()"
                                        (click)="measurementFrequencyData('Monthly')">
                                        <h4>{{'Monthly'}} </h4>
                                        <h4>{{measuredFrequencyCount('Monthly')}}</h4>
                                    </button>
                                </div>
                                <div
                                    [ngStyle]="colorValueData('Monthly','Measured') && colorCode()">
                                    <button class="measured-text-space measured-text"
                                        [ngStyle]="colorValueData('Monthly','Measured') && textColor()"
                                        (click)="measuredFrequency('Monthly','Measured')">
                                        <p>Measured</p>
                                        <p>{{MeasuredCount('Monthly','Measured')}}</p>
                                    </button>
                                </div>
                                <div
                                    [ngStyle]="colorValueData('Monthly','Not Measured') && colorCode()">
                                    <button class="measured-text-space measured-text"
                                        [ngStyle]="colorValueData('Monthly','Not Measured') && textColor()"
                                        (click)="measuredFrequency('Monthly','Not Measured')">
                                        <p>Not Measured</p>
                                        <p>{{MeasuredCount('Monthly','Not Measured')}}</p>
                                    </button>
                                </div>
                                <div
                                    [ngStyle]="colorValueData('Monthly','Reported') && colorCode()">
                                    <button class="measured-text-space measured-text"
                                        [ngStyle]="colorValueData('Monthly','Reported') && textColor()"
                                        (click)="measuredFrequency('Monthly','Reported')">
                                        <p>Reported</p>
                                        <p>{{MeasuredCount('Monthly','Reported')}}</p>
                                    </button>
                                </div>
                                <div class="buttons1-class">
                                    <div class="ssapproved approved-reject-button" [ngStyle]="colorValueData('Monthly','Approved') && colorCode()"
                                        (click)="reportedStatus('Monthly','Approved')">
                                        Approved <span
                                            style="float: right;" [ngStyle]="colorValueData('Monthly','Approved') && textColor()">{{countReportStatus('Monthly','Approved')}}</span>
                                    </div>
                                    <div class="ssrejected approved-reject-button" [ngStyle]="colorValueData('Monthly','Rejected') && colorCode()"
                                        (click)="reportedStatus('Monthly','Rejected')">
                                        Rejected <span
                                            style="float: right;" [ngStyle]="colorValueData('Monthly','Rejected') && textColor()">{{countReportStatus('Monthly','Rejected')}}</span>
                                    </div>
                                    <!-- <div class="sspending" style="margin-bottom: 10px;"
                                        (click)="reportedStatus('Monthly','Pending')">
                                        Pending <span
                                            style="float: right;">{{countReportStatus('Monthly','Pending')}}</span>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <div >
                            <div  class="frequency-side-class">
                                <div style="padding-top: 15px"
                                    [ngStyle]="colorValue('Quarterly') && colorCode()">
                                    <button class="measured-text-space measured-text"
                                        [ngStyle]="colorValue('Quarterly') && textColor()"
                                        (click)="measurementFrequencyData('Quarterly')">
                                        <h4>{{'Quarterly'}} </h4>
                                        <h4>{{measuredFrequencyCount('Quarterly')}}</h4>
                                    </button>
                                </div>
                                <div
                                    [ngStyle]="colorValueData('Quarterly','Measured') && colorCode()">
                                    <button class="measured-text-space measured-text"
                                        [ngStyle]="colorValueData('Quarterly','Measured') && textColor()"
                                        (click)="measuredFrequency('Quarterly','Measured')">
                                        <p>Measured</p>
                                        <p>{{MeasuredCount('Quarterly','Measured')}}</p>
                                    </button>
                                </div>
                                <div
                                    [ngStyle]="colorValueData('Quarterly','Not Measured') && colorCode()">
                                    <button class="measured-text-space measured-text"
                                        [ngStyle]="colorValueData('Quarterly','Not Measured') && textColor()"
                                        (click)="measuredFrequency('Quarterly','Not Measured')">
                                        <p>Not Measured</p>
                                        <p>{{MeasuredCount('Quarterly','Not Measured')}}</p>
                                    </button>
                                </div>
                                <div
                                    [ngStyle]="colorValueData('Quarterly','Reported') && colorCode()">
                                    <button class="measured-text-space measured-text"
                                        [ngStyle]="colorValueData('Quarterly','Reported') && textColor()"
                                        (click)="measuredFrequency('Quarterly','Reported')">
                                        <p>Reported</p>
                                        <p>{{MeasuredCount('Quarterly','Reported')}}</p>
                                    </button>
                                </div>
                                <div class="buttons1-class">
                                    <div class="ssapproved approved-reject-button" [ngStyle]="colorValueData('Quarterly','Approved') && colorCode()"
                                        (click)="reportedStatus('Quarterly','Approved')">
                                        Approved <span
                                            style="float: right;" [ngStyle]="colorValueData('Quarterly','Approved') && colorCode()">{{countReportStatus('Quarterly','Approved')}}</span>
                                    </div>
                                    <div class="ssrejected approved-reject-button" [ngStyle]="colorValueData('Quarterly','Rejected') && colorCode()"
                                        (click)="reportedStatus('Quarterly','Rejected')">
                                        Rejected <span
                                            style="float: right;" [ngStyle]="colorValueData('Quarterly','Rejected') && colorCode()">{{countReportStatus('Quarterly','Rejected')}}</span>
                                    </div>
                                    <!-- <div class="sspending" style="margin-bottom: 10px;"
                                        (click)="reportedStatus('Quarterly','Pending')">
                                        Pending <span
                                            style="float: right;">{{countReportStatus('Quarterly','Pending')}}</span>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <div >
                            <div  class="frequency-side-class">
                                <div style="padding-top: 15px"
                                    [ngStyle]="colorValue('Semi Annual') && colorCode()">
                                    <button class="measured-text-space measured-text"
                                        [ngStyle]="colorValue('Semi Annual') && textColor()"
                                        (click)="measurementFrequencyData('Semi Annual')">
                                        <h4>{{'Semi Annual'}} </h4>
                                        <h4>{{measuredFrequencyCount('Semi Annual')}}</h4>
                                    </button>
                                </div>
                                <div
                                    [ngStyle]="colorValueData('Semi Annual','Measured') && colorCode()">
                                    <button class="measured-text-space measured-text"
                                        [ngStyle]="colorValueData('Semi Annual','Measured') && textColor()"
                                        (click)="measuredFrequency('Semi Annual','Measured')">
                                        <p>Measured</p>
                                        <p>{{MeasuredCount('Semi Annual','Measured')}}</p>
                                    </button>
                                </div>
                                <div
                                    [ngStyle]="colorValueData('Semi Annual','Not Measured') && colorCode()">
                                    <button class="measured-text-space measured-text"
                                        [ngStyle]="colorValueData('Semi Annual','Not Measured') && textColor()"
                                        (click)="measuredFrequency('Semi Annual','Not Measured')">
                                        <p>Not Measured</p>
                                        <p>{{MeasuredCount('Semi Annual','Not Measured')}}</p>
                                    </button>
                                </div>
                                <div
                                    [ngStyle]="colorValueData('Semi Annual','Reported') && colorCode()">
                                    <button class="measured-text-space measured-text"
                                        [ngStyle]="colorValueData('Semi Annual','Reported') && textColor()"
                                        (click)="measuredFrequency('Semi Annual','Reported')">
                                        <p>Reported</p>
                                        <p>{{MeasuredCount('Semi Annual','Reported')}}</p>
                                    </button>
                                </div>
                                <div class="buttons1-class">
                                    <div class="ssapproved approved-reject-button" [ngStyle]="colorValueData('Semi Annual','Approved') && colorCode()"
                                        (click)="reportedStatus('Semi Annual','Approved')">
                                        Approved <span
                                            style="float: right;" [ngStyle]="colorValueData('Semi Annual','Approved') && textColor()">{{countReportStatus('Semi Annual','Approved')}}</span>
                                    </div>
                                    <div class="ssrejected approved-reject-button" [ngStyle]="colorValueData('Semi Annual','Rejected') && colorCode()"
                                        (click)="reportedStatus('Semi Annual','Rejected')">
                                        Rejected <span
                                            style="float: right;" [ngStyle]="colorValueData('Semi Annual','Rejected') && textColor()">{{countReportStatus('Semi Annual','Rejected')}}</span>
                                    </div>
                                    <!-- <div class="sspending" style="marg
                                     in-bottom: 10px;"
                                        (click)="reportedStatus('Semi Annual','Pending')">
                                        Pending <span
                                            style="float: right;">{{countReportStatus('Semi Annual','Pending')}}</span>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <div >
                            <div  class="frequency-side-class">
                                <div style="padding-top: 15px"
                                    [ngStyle]="colorValue('Annually') && colorCode()">
                                    <button class="measured-text-space measured-text"
                                        [ngStyle]="colorValue('Annually') && textColor()"
                                        (click)="measurementFrequencyData('Annually')">
                                        <h4>{{'Annually'}} </h4>
                                        <h4>{{measuredFrequencyCount('Annually')}}</h4>
                                    </button>
                                </div>
                                <div
                                    [ngStyle]="colorValueData('Annually','Measured') && colorCode()">
                                    <button class="measured-text-space measured-text"
                                        [ngStyle]="colorValueData('Annually','Measured') && textColor()"
                                        (click)="measuredFrequency('Annually','Measured')">
                                        <p>Measured</p>
                                        <p>{{MeasuredCount('Annually','Measured')}}</p>
                                    </button>
                                </div>
                                <div
                                    [ngStyle]="colorValueData('Annually','Not Measured') && colorCode()">
                                    <button class="measured-text-space measured-text"
                                        [ngStyle]="colorValueData('Annually','Not Measured') && textColor()"
                                        (click)="measuredFrequency('Annually','Not Measured')">
                                        <p>Not Measured</p>
                                        <p>{{MeasuredCount('Annually','Not Measured')}}</p>
                                    </button>
                                </div>
                                <div
                                    [ngStyle]="colorValueData('Annually','Reported') && colorCode()">
                                    <button class="measured-text-space measured-text"
                                        [ngStyle]="colorValueData('Annually','Reported') && textColor()"
                                        (click)="measuredFrequency('Annually','Reported')">
                                        <p>Reported</p>
                                        <p>{{MeasuredCount('Annually','Reported')}}</p>
                                    </button>
                                </div>
                                <div class="buttons1-class">
                                    <div class="ssapproved approved-reject-button" [ngStyle]="colorValueData('Annually','Approved') && colorCode()"
                                        (click)="reportedStatus('Annually','Approved')">
                                        Approved <span
                                            style="float: right;" [ngStyle]="colorValueData('Annually','Approved') && textColor()">{{countReportStatus('Annually','Approved')}}</span>
                                    </div>
                                    <div class="ssrejected approved-reject-button" [ngStyle]="colorValueData('Annually','Rejected') && colorCode()"
                                        (click)="reportedStatus('Annually','Rejected')">
                                        Rejected <span
                                            style="float: right;" [ngStyle]="colorValueData('Annually','Rejected') && textColor()">{{countReportStatus('Annually','Rejected')}}</span>
                                    </div>
                                    <!-- <div class="sspending" style="margin-bottom: 10px;"
                                        (click)="reportedStatus('Annually','Pending')">
                                        Pending <span
                                            style="float: right;">{{countReportStatus('Annually','Pending')}}</span>
                                    </div> -->
                                </div>
                            </div>
                        </div>


                    </mat-card>
                </div>
                </mat-sidenav>
                <mat-sidenav-content>
                <div class="content-container">
                    <mat-icon (click)="sidenav.toggle()">
                        {{"arrow_forward"}}
                    </mat-icon>
                </div>
                </mat-sidenav-content>
            </mat-sidenav-container>
            <!-- end of left nav bar -->
            <!-- start of right side content -->
            <div class="right-container">
                <mat-card class="mat-card-right-container">
                    <div class="ui-g-12" style="display: flex;">
                        <div class="dropdown-div-class">
                            <div class="ui-g-3" for="group" style="margin-top: 15px;font-weight: bold;">Department</div>
                            <div class="ui-g-9" style="margin-left: 10px;">
                                <mat-form-field class="dropdown-class dropdown-mat-field">
                                    <mat-select matSelectSearch placeholder="Search department..." (selectionChange)="filterGroups($event)" [(ngModel)]="groupSelected">
                                        <mat-option value="all">ALL</mat-option>
                                        <mat-option *ngFor="let group of kriService?.kriMeasurementGroups"
                                            [value]="group.GroupID">
                                            {{group.GroupName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="dropdown-div-class">
                            <div class="ui-g-3" for="unit" style="margin-top: 15px;font-weight: bold; margin-left: 0.5vw;">Unit</div>
                            <div class="ui-g-9" style="margin-left: 10px" >
                                <mat-form-field class="dropdown-class dropdown-mat-field">
                                    <mat-select matSelectSearch placeholder="Search unit..."
                                        (selectionChange)="filterUnits($event)" [(ngModel)]="unitSelected" >
                                        <mat-option value="all">ALL</mat-option>
                                        <mat-option *ngFor="let unit of getUnitsNames(kriService?.kriMeasurementUnits)"
                                            [value]="unit.UnitID">
                                            {{unit.UnitName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="reportingAlign">
                            <div class="reportItems">
                                <!-- <div class="reporting-frequency-class"> -->
                                    <span style="font-weight: bold;"> Reporting Frequency:&nbsp;<span
                                        class="reporting-frequency-font">{{kriService.kriMeasurmentsReportingFrequncy}}</span></span>
                                <!-- </div> -->
                            </div>
                            <div class="reportItems">
                                <!-- <div class="reporting-frequency-class"> -->
                                    <span style="font-weight: bold;"> Frequency End Date:&nbsp;<span
                                            class="reporting-frequency-font">{{ utils.formatDate(kriService.kriMeasurmentsReportingEndDate)}} </span></span>
                                <!-- </div>  -->
                            </div>
                                             
                            <div class=" me-4 cursor-pointer" class="reportItems" id="resetFilter">
                                <i class="fa fa-refresh" aria-hidden="true"  ></i><span style="font-weight: bold;cursor: pointer;color: blue;" (click)="resetFilter()" matTooltip="Reset Filter">Reset</span>
                                <mat-icon style="cursor: pointer;font-size: 18px;color: blue; line-height: 1.2;" ><span (click)="resetFilter()" matTooltip="Reset Filter">refresh</span> </mat-icon>
                            </div>
                                
                        </div>
                        <div class="searchfilter" style="width: 25%;">
                            <div class="srhposition" style="display: flex;">
                                <input type="text" class="searchtxtbox" placeholder="Search"
                                    (keyup)="applyFilter($event)" matInput #input [(ngModel)]="model" placeholder="Ex: KRI-RM-001">
                                    <mat-icon class="search-icon-class">search</mat-icon>
                            </div>
                        </div>
                        <div class="reporticon">
                            <button *ngIf="dataSource.filteredData.length" mat-icon-button matTooltipPosition="right" matTooltip="Export Excel Report"
                                (click)="exportAsExcel()">
                                <img src="assets/icon-excel.svg" class="d-inline-block align-middle cursor-pointer" alt="">
                            </button>
                        </div>
                    </div>
                </mat-card>
                <!-- start of table -->
                <mat-card class="table-mat-card">
                    <ng-container >
                        <table mat-table [dataSource]="dataSource">
                            <!-- *ngIf="this.kriService.kriReviewerUser" -->
                                <ng-container matColumnDef="rejectApproveBtn">
                                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"   [matTooltip]="(groupSelected === 'all'|| unitSelected == '' || unitSelected == 'all') ? 'Select group and Unit first to start Bulk Reviewing' : ''" >

                                        <div class="round checkred" style="margin-top: 15px;" [matTooltip]="getBulkRejectTooltipMessage()" >
                                            <input type="checkbox"  id="checkred"  [checked]="checkedAll == false" [value]="checkedAll" [disabled]="isRejectedValid" (change)="setRejectAll(checkedAll,false)" />
                                            <label for="checkred"></label>
                                        </div>

                                        <div class="round checkgreen"  [matTooltip]="getBulkApproveTooltipMessage()">
                                            <input type="checkbox"  id="checkgreen" [checked]="checkedAll == true" [value]="checkedAll" [disabled]="isApprovedValid" (change)="setApproveAll(checkedAll,true)"/>
                                            <label for="checkgreen"></label>
                                        </div>
                                    </th>
                                    <td mat-cell *matCellDef="let element"  >
                                        <div class="round checkred"  [matTooltip]="getTooltipMessage(element)" >
                                            <input type="checkbox"  [id]="element.MetricID + 'a'" [checked]="element.isChecked  == false" [value]="element.isChecked" [disabled]="shouldDisableCheckbox(element)"  (change)="reject(element,false)" />
                                            <label [for]="element.MetricID + 'a'"></label>
                                        </div>

                                        <div class="round checkgreen" style="margin-top: 0.2vh;" [matTooltip]="getTooltipMessage(element)" >
                                            <input type="checkbox"  [id]="element.MetricID + 'b'" [checked]="element.isChecked  == true" [value]="element.isChecked" [disabled]="shouldDisableCheckbox(element)"   (change)="approve(element,true)"/>
                                            <label [for]="element.MetricID + 'b'"></label>
                                        </div>
                                    </td>
                                </ng-container>



                            <ng-container matColumnDef="KriCode">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">KRI Code</th>
                            <td mat-cell *matCellDef="let element">{{element.KriCode}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Indicator">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Indicator</th>
                            <td mat-cell *matCellDef="let element">
                                <div class="block-ellipsis" [matTooltip]="element.Indicator">
                                    {{element.Indicator}}
                                </div>
                            </td>
                            </ng-container>

                            <ng-container matColumnDef="MeasurementFrequency">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">
                                Measurement Frequency
                            </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.MeasurementFrequency}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Target">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Target</th>
                            <td mat-cell *matCellDef="let element">{{element.Target | kriThresholdSuffix : element.ThresholdType}}</td>
                            </ng-container>

                            <ng-container matColumnDef="KriType">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">KRI Type</th>
                            <td mat-cell *matCellDef="let element">{{element.KriType}}</td>
                            </ng-container>

                            <ng-container matColumnDef="threashold">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="5">
                                Threshold Value
                            </th>
                            <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
                            </ng-container>

                            <ng-container matColumnDef="tvalue-1">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" [ngStyle]="{ 'background-color': kriService.kriThresholds?.[0]?.ColorCode || 'transparent' }">
                                <span style="position: relative; top: 10px;">1</span>
                            </th>
                            <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': kriService.kriThresholds?.[0]?.ColorCode, 'text-align': 'center'}">
                                {{element.ThresholdValue1 <= element.ThresholdValue2 ? '>=' : '<=' }}  {{element.ThresholdValue1 | kriThresholdSuffix : element.ThresholdType}}</td>
                            </ng-container>

                            <ng-container matColumnDef="tvalue-2">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"  [ngStyle]="{ 'background-color': kriService.kriThresholds?.[1]?.ColorCode || 'transparent' }">
                                <span style="position: relative; top: 10px;">2</span></th>
                            <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': kriService.kriThresholds?.[1]?.ColorCode || 'transparent', 'text-align': 'center'}">
                                {{element.ThresholdValue2 <= element.ThresholdValue3 ? '>=' : '<=' }}{{element.ThresholdValue2 | kriThresholdSuffix : element.ThresholdType}}</td>
                            </ng-container>

                            <ng-container matColumnDef="tvalue-3">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"  [ngStyle]="{ 'background-color': kriService.kriThresholds?.[2]?.ColorCode || 'transparent' }">
                                <span style="position: relative; top: 10px;">3</span></th>
                            <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': kriService.kriThresholds?.[2]?.ColorCode || 'transparent', 'text-align': 'center'}">
                                {{element.ThresholdValue3 <= element.ThresholdValue4 ? '>=' : '<=' }}{{element.ThresholdValue3 | kriThresholdSuffix : element.ThresholdType}}</td>
                            </ng-container>

                            <ng-container matColumnDef="tvalue-4">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"  [ngStyle]="{ 'background-color': kriService.kriThresholds?.[3]?.ColorCode || 'transparent' }">
                                <span style="position: relative; top: 10px;">4</span></th>
                            <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': kriService.kriThresholds?.[3]?.ColorCode || 'transparent', 'text-align': 'center'}">
                                {{element.ThresholdValue4 <= element.ThresholdValue5 ? '>=' : '<=' }}{{element.ThresholdValue4 | kriThresholdSuffix : element.ThresholdType}}</td>
                            </ng-container>

                            <ng-container matColumnDef="tvalue-5">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;"  [ngStyle]="{ 'background-color': kriService.kriThresholds?.[4]?.ColorCode || 'transparent' }">
                                    <span style="position: relative; top: 10px;">5</span></th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': kriService.kriThresholds?.[4]?.ColorCode || 'transparent', 'text-align': 'center'}">
                                    ={{element.ThresholdValue5 | kriThresholdSuffix : element.ThresholdType}}</td>
                            </ng-container>

                            <ng-container matColumnDef="periodT">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="4">Period - T</th>
                            <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Period">
                            <th mat-header-cell *matHeaderCellDef>Period</th>
                            <td mat-cell *matCellDef="let element">{{element.Period}}</td>
                            </ng-container>

                            <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef>Date</th>
                            <td mat-cell *matCellDef="let element">{{utils.formatDate(element.Date)}}</td>
                            </ng-container>

                            <ng-container matColumnDef="measurement">
                            <th mat-header-cell *matHeaderCellDef>Measurement</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">
                                <mat-form-field class="editable" style="width: 4vw;">
                                    <div style="display: flex;">
                                        <input matInput type="number" [attr.min]="element.ThresholdType === 'PERCENTAGE' ? 0 : null" [attr.max]="element.ThresholdType === 'PERCENTAGE' ? 100 : null"
                                            [(ngModel)]="element.Measurement"
                                            [disabled]="this.isReadOnly || utils.isReadOnlyUserORM() || utils.isRiskManagementUnit() && (department == 'all' && kriService.powerUser == true)"
                                            (keyup)="onChangeMeasurement(element)" autocomplete="off"><span *ngIf="showMeasurementPercent(element)">%</span>
                                    </div>
                                </mat-form-field>
                            </td>
                            </ng-container>

                            <ng-container matColumnDef="kri">
                            <th mat-header-cell *matHeaderCellDef>KRI Value</th>
                            <td mat-cell *matCellDef="let element">
                                <div class="krivalue-container">
                                    <div [style.background-color]="element.ColorCode"
                                        class="value-container">
                                        {{element.ThresholdValue}}
                                    </div>
                                </div>
                            </td>
                            </ng-container>

                            <ng-container matColumnDef="Remarks">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Remarks</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">
                                <mat-form-field class="example-full-width"
                                    style="width:4vw;" matTooltip={{element.Remarks}}>
                                    <input [(ngModel)]="element.Remarks" matInput
                                    [disabled]="this.isReadOnly || utils.isReadOnlyUserORM() || utils.isRiskManagementUnit() && (department == 'all' && kriService.powerUser == true)"
                                    >
                                </mat-form-field>
                            </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Status</th>
                            <td mat-cell *matCellDef="let element">{{element.KRI_Status}}</td>
                            </ng-container>

                            <ng-container matColumnDef="upload">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Upload Evidence</th>
                            <td mat-cell *matCellDef="let element">
                                <app-file-upload [inputData]="element" [evdname]="'Kri Scoring'"
                                    [disabled]="true" [showFileIcon]="true"></app-file-upload>
                            </td>
                            </ng-container>

                            <ng-container matColumnDef="prev">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Prev Data</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">
                                <div class="tooltip">
                                    <img class="text-center"
                                        src="assets/icons/icon-search-table.svg"
                                        class="d-inline-block align-middle cursor-pointer"
                                        alt="">
                                    <span class="tooltiptext">
                                        <p align="start" class="historical-text">
                                            Historical Data
                                        </p>
                                        <div *ngIf="!getPreviousScoring(element)">
                                            <p style="text-align:center">Empty</p>
                                        </div>
                                        <table style="width:90%;" class="tooltip-table" *ngIf="getPreviousScoring(element)">
                                            <colgroup>
                                                <col span="2">
                                            </colgroup>
                                            <tr class="tooltip-table">
                                                <!-- <th class="tooltip-table"></th> -->
                                                <th class="tooltip-table">Period</th>
                                                <th class="tooltip-table">Date</th>
                                                <th class="tooltip-table">Measurement</th>
                                                <th class="tooltip-table">KRI Value</th>
                                                <th class="tooltip-table">KRI Status</th>
                                            </tr>
                                            <tr class="tooltip-table" *ngFor="let data of getPreviousScoring(element)">
                                                <!-- <td class="tooltip-table">
                                                    T-{{getPreviousScoring(element).indexOf(data)+1}}</td> --> 
                                                <td class="tooltip-table">{{data.Period}}</td>
                                                <td class="tooltip-table">{{utils.formatDate(data.Date)}}</td>
                                                <td class="tooltip-table">{{data.Measurement | kriThresholdSuffix : element.ThresholdType}}</td>
                                                <td class="tooltip-table">
                                                    <div class="krivalue-container">
                                                        <div [style.background-color]="data.ColorCode" class="krivalue">
                                                            <p style="text-align:center; color:black;">
                                                                {{data.ThresholdValue}}</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                 <td class="tooltip-table">{{data.KRI_Status}}</td>
                                            </tr>
                                        </table>
                                    </span>
                                </div>
                            </td>
                            </ng-container>
                            <ng-container matColumnDef="sendEmail">
                                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Send Email</th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button class="material-icons app-toolbar-menu save-button" [disabled]="this.isReadOnly || element.KRI_EmailStatus == 0 || !isEnabledIcon" (click)="sendIndividualEmailReminder(element.MetricID)"
                                    matTooltip="Send Reminder">
                                    <mat-icon [ngStyle]="kriService.kriReviewerUser == true ? {'color': '#bdbdbd !important;'} : {'color': '#2470a3 !important;'}">mail</mat-icon>
                                </button>
                                </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="checkerComments">
                                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Checker Comments</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <mat-form-field class="example-full-width" class="comment-input-class" >
                                        <textarea [(ngModel)]="element.CommentBody" [matTooltip]="element.CommentBody" [disabled]="shouldDisableCheckbox(element)" (input)="commentDataInput(element)" matInput></textarea>
                                    </mat-form-field>
                                    <button mat-icon-button (click)="viewPreviousComments(element)" matTooltip="View Previous Comments" class="eye-icon">
                                    <mat-icon>visibility</mat-icon>
                                    </button>
                                </td>
                            </ng-container> -->

                            <ng-container matColumnDef="checkerComments">
                                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Checker Comments</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <mat-form-field class="example-full-width comment-input-class">
                                        <textarea [(ngModel)]="element.CommentBody"
                                            [matTooltip]="element.isChecked === null ? 'The review comment field will be enabled once the metric is marked as either approved or rejected.' : element.CommentBody"
                                            [disabled]="shouldDisableCheckbox(element) || element.isChecked == null"
                                            (input)="commentDataInput(element)"
                                            matInput>
                                        </textarea>

                                    </mat-form-field>
                                    <button mat-icon-button (click)="viewPreviousComments(element)" matTooltip="View Previous Comments" class="eye-icon">
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                                </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="mainColumn"></tr>
                            <tr mat-header-row *matHeaderRowDef="subColumn"></tr>
                            <tr mat-row *matRowDef="let row; columns: allColumnsForData"></tr>
                            <tr *matNoDataRow><td [attr.colspan]="allColumnsForData.length"><span style=" font-size: large;margin-left: 76vh !important;">No data found.</span></td></tr>
                        </table>
                        <mat-paginator #paginator [pageSize]="10"
                                [pageSizeOptions]="[10, 25, 50, 100]"
                                class="InherentTable">
                        </mat-paginator>
                        <div style="float: right;"   *ngIf="(getFilterOfTHreshouldValues().data && kriService.kriThresholds.length > 0);">
                            <button type="button" class="btn btnreminder mr-2" (click)="sendBulkRemainder()" *ngIf="!this.isReadOnly "
                                [ngClass]="!isEnabledIcon ? 'disabled-btn' : ''"
                                [disabled]="!isEnabledIcon"
                                [matTooltip]="!isEnabledIcon ? 'The button will be enabled based on the configured Email Trigger Setting date' : ''">
                                <span><img src="assets/icons/icon-email-btn.svg" style="width: 100%;" class="d-inline-block align-middle cursor-pointer" alt=""></span>
                                Send Reminder to All Defaulter Units
                            </button>

                            <button type="button" class="btn btnsave mr-2" (click)="saveReviewerDetails()" *ngIf="!this.isReadOnly"
                                style="margin-left: 10px;">
                                <span style="left: -62%;"><img src="assets/icons/icon-save-btn.svg" style="width: 100%;" class="d-inline-block align-middle cursor-pointer" alt=""></span>Save
                            </button>

                            <button type="button" class="btn btnsubmit" *ngIf="!this.isReadOnly"
                            [matTooltip]="dataRejectedSubmit() ? toolTipButton : ''"
                            [ngClass]="{'disabled-btn': dataRejectedSubmit()}"
                            [disabled]="dataRejectedSubmit() " style="margin-left: 10px;"
                             (click)="openDialog()">
                                <span style="left: -52%;"><img src="assets/icons/icon-submit-btn.svg" style="width: 100%;" class="d-inline-block align-middle cursor-pointer" alt=""></span>Submit
                            </button>
                        </div>
                    </ng-container>
                    <ng-template #noDataTemplate>
                        <p class="no-data">No Data Found</p>
                    </ng-template>
                </mat-card>
                <!-- en of table -->
            </div>
            <!-- end of right side content -->
        </div>
    </div>
</ng-container>
