.main-container {
    display: flex;
    flex-direction: column;
}

.mat-dialog-actions {
    display: flex;
    padding-top: 10px;
}

.mat-expansion-panel-header {
    background-image: linear-gradient(to right, #bed6ec, #f5f5f5);
    flex-direction: row-reverse;
    padding-left: 10px;
    height: 6.3vh;
}

// .mat-expansion-panel-header:hover {
//     flex-direction: row-reverse;
//     padding-left: 10px;
// }

.mat-panel-title {
    width: 20vw;
}
.mat-display-2, .mat-display-4{

    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.5vh;
    margin: 3px !important;
}

.mat-table {
    margin-top: 2vh;
}

.mat-header-row {
    align-items: center;
    border: 0px;
}

.mat-header-cell {
    border-top: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    // border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    padding: 0px 5px 0px 5px;
}

.mat-row {
    align-items: stretch;
    border: 0px;
}

.mat-cell {
    border-left: 1px solid #d4d4d4;
    // border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;

    // margin: 0px 10px 0px 10px;
    padding: 5px;
    flex-flow: column;
}

.mat-column-selection {
    max-width: 1vw;
}

.mat-column-level.mat-cell,
.mat-column-comments.mat-cell {
    align-items: flex-start;
}

.mat-column-risk-limit.mat-cell {
    align-items: stretch;
    justify-content: space-between;
}

.mat-column-comments.mat-cell {
    align-items: flex-start;
    height: 22vh;
}

.reviewer-comments{
    overflow-y: auto;
    height: 50vh;
    margin-top: -15px;
    margin-bottom: -10px;
}
.comment-field ::ng-deep .mat-form-field-wrapper {
    margin: 0;
    padding-bottom: 0;
}

.mat-column-q3,
.mat-column-score {
    justify-content: center;
    flex: initial;
    font-size: 2vh !important;
    width: 6vw;
}

.mat-column-remark.mat-cell {
    align-items: flex-start;
    overflow-y: auto;
    height: 22vh;
}

.mat-column-action.mat-cell {
    align-items: flex-start;
    padding-right: 3vw;
    // max-width: 5vw;
}

.action-plan-disp{
    align-items: flex-start;
    overflow-y: auto;
    height: 10vh;
    width: 178px;


}
.file-upload-disp{
    align-items: flex-start;
    overflow-y: auto;
    height: 12vh;
    width: 178px;
    // padding-right: 3vw;

}
.action-plan {
    padding-right: 3vw;
}

.risk-limit {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.risk-limit-left {
    display: flex;
    flex: 1;
    justify-content: end;
    margin: 0px 5px 0px 0px;
}

.risk-limit-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: start;
    margin: 5px;
}

.eye-icon {
    align-self: flex-end;
}

.mat-header-cell:last-child {
    flex: 1;
    border: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}

.mat-cell:last-child {
    flex: 1;
    border: 1px solid #d4d4d4;
}

.mdInput {
    width: 100%;
}

.textarea {
    height: auto;
}

.prev-policy {
    margin-left: 80vw;
    font-style: italic;
    font-weight: 400;
}

.curr-policy {
    font-style: italic;
    font-weight: 700;
}

.mat-display-4,
.mat-display-2,
.mat-h3,
.mat-h4 {
    margin: 0;
}

.risklimitbtn {
    background-color: #000;
    font-size: 1.7vh;
    font-weight: 400;
    color: #fff;
    width: 96%;
    position: absolute;
    bottom: 2%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    border-radius: 10vh;
    padding: 1%;
    line-height: 1.5;
    cursor: pointer;
}
.mat-icon-button .mat-icon {
    line-height: 32px;
}

.mat-button-toggle-group {
    width: 100%;
    justify-content: space-around;
    border: 0;
}

.mat-button-toggle-checked {
    background-color: #2470a3;
    color: white;
}
.break-word {
    word-break: break-word;
}

.align-middle {
    display: flex;
    align-items: center;
}

.horizontal-container {
    display: flex;
    align-items: center;
}

.mat-form-field {
    margin-right: 10px;
}

.modalColorBtn:disabled {
    background-color: #cccccc !important;; /* Light gray background */
    color: #666666 !important; /* Muted text color */
    cursor: not-allowed; /* Unclickable cursor */
    opacity: 0.7; /* Slight transparency for disabled state */
}
