<mat-toolbar class="fontSize">
    <span>Inherent Risk Rating</span>
    <span class="spacer"></span>
</mat-toolbar>
<div class="container">
    <div fxLayout="row wrap" fxLayoutGap="12px grid" >
      <div fxFlex.md="32%" fxFlex.lg="32%" fxFlex.sm="100%" fxFlex.xs="100%" fxFlexOffset.lg="1%">
        <app-riskcategory-masters></app-riskcategory-masters>
      </div>

      <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="100%" fxFlex.xs="100%">
        <app-inherent-likelihood-rate></app-inherent-likelihood-rate>
      </div>

      <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="100%" fxFlex.xs="100%" >
        <app-inherent-impact-rate></app-inherent-impact-rate>

      </div>
      <div fxFlex.md="32%" fxFlex.lg="32%" fxFlex.sm="100%" fxFlex.xs="100%" fxFlexOffset.lg="1%">
        <app-overall-inherent-risk-rate></app-overall-inherent-risk-rate>
      </div>
    </div>

    </div>
    <div class="container">
      <div fxLayout="row wrap" fxLayoutGap="12px grid">

      </div>
    </div>

