.mat-toolbar {
    height: 6.4vh;
}

.mat-elevation-z8 {
    margin: 4vh 4vh 0 4vh;
}

.mat-action-row {
    margin: 0vh 4vh 0 4vh;
}

.mat-header-row {
    min-height: 10vh;
}

.mat-column-Index {
    max-width: 2vw;
}

.container{
    margin-top: 30px;
}
  mat-card.mat-card.mat-focus-indicator.mat-elevation-z4 {
    padding: 0px;
}
mat-card-actions.mat-card-actions {
    padding: 0px 16PX 10px 0px !important;
    padding-top: 0px;
  }

  mat-card-content .content {
    margin-top: 10px;
    max-height: 116px;
    min-height: 116px;
    overflow: auto;
  }
.wrapper{
    // width: 490;
    background: #fff;
}
mat-card-content.content{
    margin: 10px 0;
}
.content p{
    font-size: 15px;
}

.content ul{
    display: flex;
    padding: 7px;
    margin: 0px 0;
    border-radius: 5px;
    // border: 1px solid #ffffff;
}
.content span{
    margin-left: 12px;
}
.content ul li{
   list-style: none;
   margin: 4px 3px;
   align-items: center;
   border-radius: 5px;
   background: #f2f2f2;
   padding: 5px 8px 5px 10px;
   border: 1px solid #e3d1e1;

}
.content :where(li,li mat-icon){
    display: flex;
    align-items: center;
}
.content ul li mat-icon{
    height: 20px;
    width: 20px;
    color: #808080;
    cursor: pointer;
    font-size: 12px;
    margin-left: 8px;
    border-radius: 50%;
    background: #dfdfdf;
    justify-content: center;
 }

 .content ul input{
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
 }
 .tag-box-items ul li{
    cursor: pointer;
 }

 mat-card{
    background: #F9f6ed;
 }
 mat-card-actions .content {
    margin-top: 10px;
    // max-height: 200px;
    min-height: 160px;
    overflow: auto;
  }

mat-card-content{
    margin-bottom: 0px;
    border-bottom: 1px solid #dfdfdf ;
  }

