.mat-toolbar {
    height: 6.4vh;
}

.container {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.border-radius {
    border-radius: 0.5vw;
}

.border-radius-top {
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
}

.border-radius-bottom {
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}

.kri-table {
    margin: 2vh 0 1vh 0;
}

mat-table {
    max-height: 48vh;
    min-height: 48vh;
    overflow-y: auto;
}

.table{
    max-height: 62vh;
    min-height: 39vh;
    overflow-y: auto;
}


.search-icon {
    height: 1.3vw;
    padding-left: 5px;
}

.search-icon:hover {
    display: flex;
}

.add-icon {
    font-size: 2.4vw;
    width: 2.3vw;
}

mat-form-field {
    height: 7vh;
    width: 7vw;
}

.table-header {
    margin: 0vh 2vh 0.2vh 2vh;
    height: 4vh;
    display: flex;
    // justify-content: space-between;
    align-items: flex-end;
}

.odd-row-bg {
    background-color: #fafafa;
}

.mat-elevation-z8 {
    // border-radius: 0.8rem;
    margin: 0vh 2vh 0 2vh;
    width: 74vw;
}
.mat-elevation-z9 {
    // border-radius: 0.8rem;
    margin: 2vh 2vh 0 2vh;
    width: 74vw;
}


.mat-action-row {
    // margin: 0vh 2vh 0 2vh;
    display: flex;
}

.mat-header-row {
    min-height: 10vh;
    text-align: left !important;
}

.mat-column-Index {
    max-width: 1vw;
}

.mat-column-ThreIndex {
    max-width: 3vw;
}

.mat-column-Name {
    padding-left: 0.8vw;
    min-width: 6vh;
}

.mat-column-StatusIndex {
    max-width: 3vw;
}

.mat-column-StatusName {
    max-width: 18vw;
}

.mat-column-Period {
    padding: 0px 0.5vw;
    min-width: 6vw;
}

.mat-column-Value {
    min-width: 5vw;
}

.mat-column-ColorCode {
    min-width: 25vw;
}

.mat-column-Status{
    padding-left: 0.8vw;
    max-width: 12vh;
}

.mat-column-StatusType{
    padding-left: 0.8vw;
}
.mat-column-Action {
    padding-left: 0.8vw;
    max-width: 12vh;
}

.mat-footer-cell {
    padding-right: 0.5vw;
    height: 5vh;
}

.mat-dialog-title {
    margin: 0px;
}

.mat-dialog-actions {
    display: flex;
    padding-top: 21vh;
}

.name-input {
    width: 11vw;
    margin: -2vh 0.5vw;
}

.disable-color {
    color: rgb(133, 133, 133);
}

.select {
    background-color: rgb(217, 217, 97);
    color: aliceblue;
    width: 3vh;
    height: 3vh;
    display: flex;
    align-items: center;
}

.cancel {
    margin-left: 4px;
    background-color: rgb(173, 173, 228);
    color: grey;
    width: 3vh;
    height: 3vh;
    display: flex;
    align-items: center;
}

.form-style {
    padding-left: 1vw;
    display: flex;
    justify-content: flex-end;
    padding-right: 1vw;
    height: 6.6vh;
    border-bottom: 0.2vh solid rgb(202, 202, 202);
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0 !important;
}

.add-button {
    padding-right: 1vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6.5vh;
    border-bottom: 0.2vh solid rgb(202, 202, 202);
}

.color-picker-box {
    cursor: pointer;
    width: 3.5vw;
    height: 3vh;
    border: 0.5px solid gray;
    border-radius: 0.2rem;
    margin: 0 1vw;
}
.left{
    display: flex;
    flex-flow: column;
    width: 290px;
    height: calc(100vh - 23.8vh);
    margin: 4vh 4vh 0 4vh;
}
.right{
    display: flex;
    flex-flow: column;
    width: calc(100% - 290px - 12vh);
    margin: 4vh 4vh 0 0;
}
.container{
    flex-direction: initial;
    display: -webkit-box;
}
.mat-card {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: hidden;
    background-size: 1000px 230px;
}
.leftMenuButtons{
    color: #191616;
    text-decoration: none;
    font-size: 4rem;
    display: block;
    margin-bottom: .2rem;
    padding: 1rem;
    display: flex;
    border: 0px;
    background: transparent;
    border-left: 5px solid transparent;
    width: 100%;
    text-align: left;
    align-items: center;
    cursor: pointer;
}

.leftMenuButtons.active{
    background-image: linear-gradient(to right , #fff, #ffffff00);

}

.leftMenuButtons h4{
    margin: 0px;
}
.leftMenuButtons svg {
    width: 32px;
    margin-right: .5rem;
}
.paddingZero{
    padding: 0px;
}
.topDate{
    background-color: #cfcfcf;
    padding: 1vh;
}
.topDate span{
    color: #8f8f8f;
}
.dashFilter{
    padding: 2vh;
}
.dashFilter mat-card-content{
    display: flex;
    border-bottom: 1px solid #a7a7a7;
}
.dashFilter mat-card-content .w50{
    width: calc(50% - 1vh);
}
.dashFilter mat-form-field{
    width: 100%;
}
.padd1vhRight{
    padding-right: 1vh;
}
.padd1vhLeft{
    padding-left: 1vh;
}
.Kri-Email{
    margin-top: 4vh;
    margin-left: 4vh;
    font-size: 15px;
    font-weight: 600;
    width: 20vh;
}
.mat-toolbar {
    height: 6.4vh;
}

.container {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    // padding-bottom: 19vh;
}

.border-radius {
    border-radius: 0.5vw;
}

.border-radius-top {
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
}

.border-radius-bottom {
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}

.incident-table {
    margin: 2vh 0 1vh 0;
}

.incident-table1 {
    margin: 2vh 0 1vh 0;
}

mat-table {
    max-height: 48vh;
    min-height: 48vh;
    overflow-y: auto;
}

.odd-row-bg {
    background-color: #fafafa;
}

.add-icon {
    font-size: 2.4vw;
    width: 2.3vw;
}

.table-header {
    margin: 0vh 2vh 0.2vh 2vh;
    height: 5vh;
    display: flex;
    align-items: flex-end;
}

.mat-dialog-title{
    margin: 0px;
}

.disable-color {
    color: rgb(133, 133, 133);
}

.mat-elevation-z8 {
    margin: 0vh 2vh 0 2vh;
    width: 74vw;
}

.mat-elevation-z81 {
    margin: 0vh 2vh 0 2vh;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
    width: 74vw;
}


.mat-action-row {
    margin: 0vh 1vh 0 1vh;
}

.mat-header-row {
    min-height: 10vh;
    text-align: left !important;
}

.mat-column-Index {
    max-width: 2vw;
}

.mat-column-UserIndex {
    max-width: 2vw;
}

.mat-column-Name {
    padding-left: 0.8vw;
    max-width: 62vh;
}

.mat-column-FullName {
    padding-left: 0.8vw;
    max-width: 122vh;
}


.mat-column-Action {
    padding-left: 0.8vw;
    max-width: 10vh;
}

.mat-column-IsActive {
    padding-left: 0.8vw;
    max-width: 12vh;
}

.mat-column-Action {
    display: flex;
    justify-content: center;
}

.mat-dialog-actions {
    display: flex;
    padding-top: 10px;
}

mat-form-field{
    height: 7vh;
    width: 7.8vw;
}

.name-input {
    width: 11vw;
    margin: -2vh 0.5vw;
}

.select {
    background-color: rgb(217, 217, 97);
    color: aliceblue;
    width: 3vh;
    height: 3vh;
    display: flex;
    align-items: center;
}

.cancel {
    margin-left: 4px;
    background-color: rgb(173, 173, 228);
    color: aliceblue;
    width: 3vh;
    height: 3vh;
    display: flex;
    align-items: center;
}

.flex-JC-center {
    display: flex;
    justify-content: center;
}

.form-style {
    padding-left: 1vw;
    display: flex;
    justify-content: flex-end;
    padding-right: 1vw;
    height: 8.8vh;
    border-bottom: 0.2vh solid rgb(202, 202, 202);
}

.add-button {
    padding-right: 1vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6.8vh;
    border-bottom: 0.2vh solid rgb(202, 202, 202);
}

.no-data {
    text-align: center;
    font-size: 2vh;
    justify-content: center;
    align-items: center;
}


.applyFilter button, .applyFilter button:focus {
    width: 15vh;
    min-height: 3.5vh;
    height: 4.5vh;
    padding: 0.3vh 0.6vw;
    box-shadow: 0.3vh 0.4vh 0.4vh 0px rgba(0, 0, 0, 0.28);
    border-left: 2vw solid #000;
    border-right: none;
    border-top: none;
    border-bottom: none;
    transition: width 2s;
    border-radius: 0.5vh;
    color: white;
}

.iconPositionLeft {
    left: 92.2vw !important;
    position: absolute;
}
.move-buttons .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin: 0.5em;
    width: 6vw;
    padding: 0.5em;
    border-radius: 0.3em;
    color: #fff;
    background: linear-gradient(45deg, rgba(29, 160, 79, 0.8), rgba(11, 89, 161, 0.8));
    outline: none;
    border: none;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));
    opacity: .3;
}

.move-buttons .buttons.save {
    justify-content: center;
    opacity: 1;
    background: #0b5ed7;
}
