<mat-toolbar class="fontSize">
  <button mat-raised-button color="primary" style="display:inline-block; padding:0vh 1vh;border-radius:100vw;margin-right: 10px;"
  (click)="navigateToPreviousPage()" matTooltip="Navigate back to Self Assessment Summary">
      <span style="font-size:16px; margin-right:10px;">&#11164;</span>Back
  </button>
  <!-- <button mat-icon-button class="back-icon" aria-label="Logout" (click)="navigateToPreviousPage()" matTooltip="Navigate back to Self Assessment Summary">
    <mat-icon>logout</mat-icon>
  </button> -->
  <h2 mat-dialog-title style="font-weight: 400;font-size: 3vh;">Assessment Details</h2>
  <span class="spacer"></span>
 <span class="navigate"><mat-icon style="float:right" matTooltip="Previous" (click)="Prev()">keyboard_arrow_left</mat-icon> </span>
 <span class="navigate"> <mat-icon style="float:right" matTooltip="Next" (click)="Next()">keyboard_arrow_right</mat-icon></span>

</mat-toolbar>
<!-- <button (click)="navigateToPreviousPage()"><mat-icon style="height: 25px;
  position: relative;
  top: 2px;
  right: 3px">arrow_back</mat-icon>
  <span style="position: relative;bottom: 6px; font-size: 15px;">{{'Back'}}</span>
</button> -->
<div fxLayout="column">
  <mat-dialog-content fxLayout="row wrap" fxLayoutGap="10" fxLayoutAlign="center stretch">
    <div fxFlex="65" fxLayout="column" >
      <span fxLayout="row" class="headertext" fxFlex="100">Inherent Risk Detail</span>
      <mat-card class="mat-elevation-z4" fxFlex="100">
        <mat-card-header>
          <!-- <span>Inherent Risk Detail</span> -->
        </mat-card-header>
        <mat-card-content>
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="RCSACode">
              <th mat-header-cell *matHeaderCellDef>RCSACode</th>
              <td mat-cell *matCellDef="let row; let iRow = index">{{ row.RCSACode }}</td>
            </ng-container>

            <ng-container matColumnDef="Risk">
              <th mat-header-cell *matHeaderCellDef>Risk</th>
              <td mat-cell *matCellDef="let row;" style="flex: 1 1 100%;
              box-sizing: border-box;
              max-width: 250px;
              padding-right: 8px">{{row.Risk}}</td>
            </ng-container>

            <ng-container matColumnDef="GroupName">
              <th mat-header-cell *matHeaderCellDef>Group</th>
              <td mat-cell *matCellDef="let row;">{{row.GroupName}}</td>
            </ng-container>

            <ng-container matColumnDef="UnitName">
              <th mat-header-cell *matHeaderCellDef>Unit</th>
              <td mat-cell *matCellDef="let row;">{{row.UnitName}}</td>
            </ng-container>
            <ng-container matColumnDef="RiskCategoryName">
              <th mat-header-cell *matHeaderCellDef>Risk Category</th>
              <td mat-cell *matCellDef="let row;">{{row.RiskCategoryName}}</td>
            </ng-container>
            <ng-container matColumnDef="ProcessName">
              <th mat-header-cell *matHeaderCellDef>Process</th>
              <td mat-cell *matCellDef="let row;">{{row.ProcessName}}</td>
            </ng-container>
            <ng-container matColumnDef="InherentLikelihoodName">
              <th mat-header-cell *matHeaderCellDef>Likelihood Rating</th>
              <td mat-cell *matCellDef="let row;">{{row.InherentLikelihoodName}}</td>
            </ng-container>
            <ng-container matColumnDef="InherentImpactRatingName">
              <th mat-header-cell *matHeaderCellDef>Impact Rating</th>
              <td mat-cell *matCellDef="let row;">{{row.InherentImpactRatingName}}</td>
            </ng-container>
            <ng-container matColumnDef="OverallInherentRiskRating">
              <th mat-header-cell *matHeaderCellDef>Risk Rating</th>
              <td mat-cell *matCellDef="let row;" [style.background]="formData?.OverallInherentRiskColor" style="text-align: center;">
                {{formData?.OverallInherentRiskRating}}</td>
            </ng-container>
            <tr mat-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns:displayedColumns">
            </tr>
          </table>
        </mat-card-content>

        <mat-card-actions>

        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="30" fxLayout="column">
      <span fxLayout="row" class="headertext" fxFlex="100" *ngIf="iSReviewerPanelEnabled">Reviewer's Detail</span>
      <mat-card class="mat-elevation-z4" fxFlex="100" *ngIf="iSReviewerPanelEnabled">
        <mat-card-header>

        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="reviewerForm" autocomplete="off" fxLayout="row wrap" fxLayoutAlign="center center"
            fxFlex="90">
            <mat-form-field appearance="fill" fxFlex="100%">
              <mat-label>Reviewer's Remarks</mat-label>
              <textarea matInput formControlName="txtReviewerRemark"></textarea>
            </mat-form-field>
            <div fxFlex="100%" fxLayoutAlign="end center" fxLayoutGap="12">
              <button type="button" mat-stroked-button color="primary"
                [style.display]="iSReviewerPanelEnabled? ''  : 'none'" aria-label="Approve"
                (click)="approveScheduleAssessment()">
                Approve
              </button>
              <button mat-stroked-button class="warm" [style.display]="iSReviewerPanelEnabled? ''  : 'none'"
                aria-label="Reject" (click)="RejectScheduleAssessment()">
                Reject
              </button>
            </div>
          </form>
        </mat-card-content>

        <mat-card-actions>

        </mat-card-actions>
      </mat-card>
    </div>
  </mat-dialog-content>
  <mat-dialog-content fxLayout="row wrap" fxLayoutGap="10" fxLayoutAlign="center stretch" >

    <div fxLayout="column" fxFlex="39" >
      <span class="headertext" fxLayout="row">Control Assessment</span>
      <mat-card class="mat-elevation-z4" fxLayout="row" fxFlex="100">
        <mat-card-content fxLayout="row wrap" fxFlex="100">
          <form [formGroup]="controlAssessmentForm" autocomplete="off" fxLayoutGap="10" fxLayout="row wrap"
            fxLayoutAlign="center start" fxFlex="100" >
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="center stretch">
              <mat-form-field appearance="fill" fxFlex="100">
                <mat-label>Control Description</mat-label>
                <textarea rows="5" matInput formControlName="txtControlDescription"></textarea>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxLayout="row" fxLayoutGap="10" fxLayoutAlign="center center">
              <mat-form-field appearance="fill" fxFlex="50">
                <mat-label>Control Type</mat-label>
                <mat-select formControlName="ddlControlType">
                  <mat-option *ngFor="let item of controlTypeDS" [value]="item.ControlTypeID"> {{item.ControlType}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div fxFlex="50">
                <span class="" fxFlex="50">Overall Control Environment Rating</span>
                <span class="TextboxSpan" fxFlex="50" style="text-align: center;"
                  [style.background]="formData?.OverallControlEnvironmentRatingColourCode">{{formData?.OverallControlEnvironmentRiskRating}}</span>
              </div>
            </div>
            <div fxFlex="100" fxLayout="row" fxLayoutGap="10" fxLayoutAlign="center stretch">
              <mat-form-field appearance="fill" fxFlex="50">
                <mat-label>Is Control in-place?</mat-label>
                <mat-select formControlName="ddlControlinPlace">
                  <mat-option *ngFor="let item of controlInPlaceDS" [value]="item.ControlInPaceID"> {{item.Name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" fxFlex="50">
                <mat-label>What is the Nature of Control?</mat-label>
                <mat-select formControlName="ddlNatureofControl">
                  <mat-option *ngFor="let item of NatureofControlDS" [value]="item.ControlNatureID">
                    {{item.NatureofControl}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxLayoutGap="10" fxLayout="row" fxLayoutAlign="center stretch">
              <mat-form-field appearance="fill" fxFlex="50">
                <mat-label>What is the level of Automation?</mat-label>
                <mat-select formControlName="ddlAutomation">
                  <mat-option *ngFor="let item of AutomationDS" [value]="item.ControlAutomationID">
                    {{item.LevelOfControl}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" fxFlex="50">
                <mat-label>Is Control applied at suitable frequency?</mat-label>
                <mat-select formControlName="ddlFrequency">
                  <mat-option *ngFor="let item of FrequencyDS" [value]="item.ControlFrequencyID"> {{item.Frequency}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>

        </mat-card-content>

        <mat-card-actions>

        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25" fxLayout="column" fxLayoutGap="10">
      <span class="headertext" fxLayout="row">Residual Risk</span>
      <mat-card class="mat-elevation-z4" fxFlex="48">
        <mat-card-content>
          <form [formGroup]="residualRiskForm" autocomplete="off">
            <div fxLayout="row">

              <span class="residualspantext" fxFlex="50" fxLayoutAlign="start center">Residual Risk Rating</span>
              <span class="TextboxSpan" fxFlex="50" style="text-align: center;"
                [style.background]="formData?.ResidualRiskRatingColourCode">{{formData?.ResidualRiskRating}}</span>
            </div>
            <br />
            <div fxLayout="row">
              <mat-form-field appearance="fill" fxFlex="100">
                <mat-label>Risk Response</mat-label>
                <mat-select formControlName="ddlRiskResponse">
                  <mat-option *ngFor="let item of ResidualRiskResponseDS" [value]="item.ResidualRiskResponseID">
                    {{item.RiskResponse}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxLayout="row">
              <mat-form-field appearance="fill" fxFlex="100">
                <mat-label>Risk Responsible Person</mat-label>
                <mat-select formControlName="ddlResidualRiskResponsePerson">
                  <mat-option *ngFor="let item of ResidualRiskResponsePersonDS"
                    [value]="item.ResidualRiskResponsiblePersonID"> {{item.ResponsiblePerson}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
      <div fxFlex="48" fxLayout="column">
        <span class="headertext" fxLayout="row">Control Testing</span>
        <mat-card class="mat-elevation-z4" fxFlex="100">
          <mat-card-content>
            <form [formGroup]="controlTestingForm" autocomplete="off" fxLayout="row wrap" fxLayoutAlign="center center"
              fxFlex="100">
              <div fxFlex="100">
                <mat-form-field appearance="fill" fxFlex="100">
                  <mat-label>Current Quarter control Test Result</mat-label>
                  <mat-select formControlName="ddlControlTestResul">
                    <mat-option *ngFor="let item of ControlTestResultDS" [value]="item.ControlTestingResultID">
                      {{item.ControlTestingResult}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <mat-form-field appearance="fill" fxFlex="100%">
                <mat-label>Comments</mat-label>
                <textarea matInput formControlName="txtcontrolTestingComment"></textarea>
              </mat-form-field>

            </form>

          </mat-card-content>

          <mat-card-actions>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div fxLayout="column" fxFlex="30">
      <span class="headertext" fxLayout="row">Action Trail</span>
      <mat-card class="mat-elevation-z4" fxFlex="100">
        <mat-card-content>
          <table mat-table [dataSource]="dataSourceActionTrail">
            <ng-container matColumnDef="CreatedDate">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let row; let iRow = index">{{ row.CreatedDate | date:'dd MMM yyyy' }}</td>
            </ng-container>

            <ng-container matColumnDef="ActionComment">
              <th mat-header-cell *matHeaderCellDef>Comments</th>
              <td mat-cell *matCellDef="let row;">{{row.ActionComment}}</td>
            </ng-container>

            <ng-container matColumnDef="ScheduleInherentStatus">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let row;">{{row.ScheduleInherentStatus}}</td>
            </ng-container>

            <tr mat-row *matHeaderRowDef="['CreatedDate','ActionComment','ScheduleInherentStatus']"></tr>
            <tr mat-row *matRowDef="let element; columns:['CreatedDate','ActionComment','ScheduleInherentStatus']">
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
      </mat-card>
    </div>
  </mat-dialog-content>


  <mat-dialog-content fxLayout="row wrap" fxLayoutGap="10" fxLayoutAlign="center stretch" >
    <!-- [ngClass] ="(ScheduleInherentRiskStatusIDDB == 5 || ScheduleInherentRiskStatusIDDB == 3) ? 'disable' : '' " -->
    <div fxLayout="column" fxFlex="39">
      <span class="headertext" fxLayout="row">Action Implementation Plan</span>
      <mat-card class="mat-elevation-z4" fxFlex="100">
        <mat-card-content>
          <form [formGroup]="actionImplementationForm" autocomplete="off" fxLayout="row wrap"
            fxLayoutAlign="center center" fxFlex="100">
            <mat-form-field appearance="fill" fxFlex="100">
              <mat-label>Identified Action</mat-label>
              <textarea matInput formControlName="txtIdentifiedActionComment"></textarea>
            </mat-form-field>
            <div fxFlex="100" fxLayoutGap="10">
              <mat-form-field appearance="fill" fxFlex="50">
                <mat-label>Timeline</mat-label>
                <input matInput [matDatepicker]="picker2" placeholder="Timeline" formControlName="txtTimeline"
                  (click)="picker2.open()" (keydown)="false">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="fill" fxFlex="50">
                <mat-label>Status</mat-label>
                <mat-select formControlName="ddlStatus">
                  <mat-option *ngFor="let item of ActionStatusDS" [value]="item.ActionPlanStatusID">
                    {{item.ActionPlanStatus}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
            <div fxFlex="100" fxLayoutGap="10">
              <mat-form-field appearance="fill" fxFlex="50">
                <mat-label>Responsible Person</mat-label>
                <mat-select formControlName="ddlResponsiblePerson">
                  <mat-option *ngFor="let item of ActionResponsePersonDS" [value]="item.ActionResponsiblePersonID">
                    {{item.Description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" fxFlex="50">
                <mat-label>Confirmation/ Verification of
                  closure</mat-label>
                <mat-select formControlName="ddlConfirmation">
                  <mat-option *ngFor="let item of ConfirmationDS" [value]="item.ControlVerificationClosureID">
                    {{item.ControlVerificationClosure}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxLayoutGap="10">
              <mat-form-field appearance="fill" fxFlex="100">
                <mat-label>Comments</mat-label>
                <!-- <input matInput formControlName="ddlComments"> -->
                <textarea matInput formControlName="ddlComments"></textarea>
              </mat-form-field>


            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>


    <div fxFlex="25" fxLayout="column" fxLayoutGap="10">
      <span class="headertext" fxLayout="row">Save/Submit</span>
      <mat-card class="mat-elevation-z4" fxFlex="100">
        <mat-card-content>
          <form [formGroup]="savingForm" autocomplete="off" fxLayout="row wrap" fxLayoutAlign="center center"
            fxFlex="100">
            <mat-form-field appearance="fill" fxFlex="100%">
              <mat-label>Self Comments</mat-label>
              <textarea matInput formControlName="txtSavingComment" style="height: 100px"></textarea>
            </mat-form-field>
            <mat-error fxFlex="100%" *ngIf="formData?.ISSaveEnabled && formData?.ISRMSaveEnabled && canSaveSubmitAccess() && !(this.controlAssessmentForm.valid && this.residualRiskForm.valid && this.actionImplementationForm.valid && this.saveFlag )">The save button is enabled once all the mandatory fields are entered</mat-error>
            <div fxFlex="100%" fxLayoutAlign="end center" fxLayoutGap="12" *ngIf="!formData?.ISReviewerPanelEnabled">
              <!-- <button type="button" mat-stroked-button color="primary" aria-label="Save" (click)="saveManageData()"
                [disabled]="!(this.controlAssessmentForm.valid && this.residualRiskForm.valid && this.actionImplementationForm.valid && this.saveFlag)" *ngIf="formData?.ISSaveEnabled && formData?.ISRMSaveEnabled && canSaveSubmitAccess()">
                Save
              </button> -->

              <div class="move-buttons" >
                <button class="buttons save" id="saveSub" (click)="saveManageData()"
                [disabled]="!(this.controlAssessmentForm.valid && this.residualRiskForm.valid && this.actionImplementationForm.valid && this.saveFlag)" *ngIf="formData?.ISSaveEnabled && formData?.ISRMSaveEnabled && canSaveSubmitAccess()">
                <img src="./assets/images/icon-application.svg"
                          alt="Save"> Save</button>

                </div>

              <button mat-stroked-button class="warm" aria-label="Submit" *ngIf="formData?.ISSubmitEnabled && canSaveSubmitAccess()"
                (click)="submitData()"><img
                src="./assets/images/icon-send.svg" alt="">
                Submit
              </button>
            </div>
          </form>

        </mat-card-content>
      </mat-card>

    </div>
    <div fxFlex="31"  fxLayout="column" >
      <span class="headertext" fxLayout="row">Evidence&nbsp;*</span>
      <mat-card class="mat-elevation-z4" fxFlex="100">
        <mat-card-content fxLayout="column wrap" >
          <form [formGroup]="FileuploadForm" autocomplete="off" fxLayout="row wrap" fxLayoutAlign="start center"
            fxFlex="100" fxLayoutGap="10">
              <mat-form-field  fxFlex="70" [ngClass] ="(ScheduleInherentRiskStatusIDDB == 5 || ScheduleInherentRiskStatusIDDB == 3) ? 'disable' : '' " matTooltip="Kindly choose the File first and Click on Upload Button to Upload it">
                <mat-label>Choose File&nbsp;*</mat-label>
                <button mat-icon-button matSuffix (click)="f_input.click()"  [disabled]="!(formData?.ISSaveEnabled && formData?.ISRMSaveEnabled &&  canSaveSubmitAccess())">
                  <mat-icon>attach_file</mat-icon>
                </button>
                <input type="text" readonly matInput formControlName="display" />

                <input type="file" accept=".xlsx,.pdf,.docx,.jpeg,.jpg,.png,.eml" hidden #f_input (change)="selectFile(f_input)"/>

                <!-- <mat-error>This field is required</mat-error> -->
              </mat-form-field>
              <div fxFlex="20" >
                <!-- <button mat-stroked-button class="warm" aria-label="Upload" [disabled]="!file_store || validFileNameErr" (click)="upload()"  *ngIf="formData?.ISSaveEnabled && formData?.ISRMSaveEnabled &&  canSaveSubmitAccess()">
                Upload
              </button> -->

              <button type="button" class="btn btn-primary modalColorBtn" style="min-width: 16vh;color: white !important;margin-bottom: 3vh;" [disabled]="!file_store || validFileNameErr" (click)="upload()"  *ngIf="formData?.ISSaveEnabled && formData?.ISRMSaveEnabled &&  canSaveSubmitAccess()">
                <img src="./assets/images/icon-upload.svg" style="margin-right: 0.2vw;width: 21%;" alt="upload"/>
                Upload
              </button>

            </div>
            <div *ngIf="validFileNameErr" style="color: red;"> Special Characters are not allowed in File name</div>
          </form>
          <span *ngIf="formData?.ISSaveEnabled && formData?.ISRMSaveEnabled &&  canSaveSubmitAccess()" style="font-weight: 600;">Allowed file type - ".xlsx", ".pdf", ".docx", ".jpeg", ".jpg", ".png", ".eml" with the max 10 MB</span>
          <br/>
          <div fxLayout="column" class="card mt-3" >
            <div class="card-header" fxLayout="row" style="font-weight: 600;" >List of Evidence files</div>
            <table mat-table [dataSource]="dataEvidencesSource"  fxLayout="row">
              <ng-container matColumnDef="OriginalFileName">
                <td mat-cell *matCellDef="let row; let iRow = index">{{iRow + 1 + '.'}} {{row.OriginalFileName }}</td>
              </ng-container>
              <ng-container matColumnDef="Action">
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button title="Download">
                        <mat-icon (click)="downloadEvidence(row.ScheduleAssessmentEvidenceID)" aria-hidden="false" aria-label="Download" fontIcon="download">
                        </mat-icon>
                    </button>
                    <button mat-icon-button title="Delete"  [disabled]="!(formData?.ISSaveEnabled && formData?.ISRMSaveEnabled &&  canSaveSubmitAccess())">
                        <mat-icon (click)="deleteEvidence(row.ScheduleAssessmentEvidenceID)"  aria-hidden="false" aria-label="Delete" fontIcon="delete">
                        </mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
              <tr mat-row *matRowDef="let element; columns:['OriginalFileName','Action']">
              </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-dialog-content>
</div>
