.mat-tool-bar {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

::ng-deep.mat-dialog-container {
    padding: 0px;

}

.mat-table-padding {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

::ng-deep.mat-elevation-z8 {
    box-shadow: none;
}

::ng-deep.mat-table {
    overflow-x: scroll;
}

::ng-deep.mat-header-row{
    position: sticky;
    top: 0;
    z-index: 100;
}

table {
    width: 100%;
}

.data-container {
    height: 400px;
    max-width: 100%;
    overflow: auto;
}


.mat-table-padding tr:hover td {
    background-color: #fffdeb;
}
.mat-table-padding tr:nth-child(odd) {
    background-color: #f3f3f3;
}


.bottom-dig{
    background-color: #e7e7e7;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 45px;
}
.bottom-dig button{
    background-color: #c9c9c9;
    color: black;
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px 1px #777777;
    overflow: hidden;
}