<mat-toolbar class="mat-tool-bar">
    Already Created Schedule New RCSA Cycle
    <button mat-icon-button title="Close" cdkFocusInitial mat-dialog-close>
        <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
    </button>
</mat-toolbar>
<div class="mat-table-padding matViewTable">
    <div *ngIf="period" class="period-label">
        <strong>Period:</strong> {{ period }}
    </div>

    <div *ngIf="cycles.length === 0" class="no-data">
        No RCSA cycles have been created for the selected period.
    </div>

    <table *ngIf="cycles.length > 0" mat-table [dataSource]="cycles" matSort style="width: 100%;" class="mat-elevation-z8">
        <!-- # Column -->
        <ng-container matColumnDef="srno">
            <th mat-header-cell *matHeaderCellDef style="width: 5%;">#</th>
            <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
        </ng-container>

        <!-- RCSA Code Column -->
        <ng-container matColumnDef="ScheduleAssessmentCode">
            <th mat-header-cell *matHeaderCellDef>RCSA Code</th>
            <td mat-cell *matCellDef="let element">{{element.ScheduleAssessmentCode ? element.ScheduleAssessmentCode : 'N.A'}}</td>
        </ng-container>

        <!-- Department Column -->
        <ng-container matColumnDef="DepartmentName">
            <th mat-header-cell *matHeaderCellDef>Department</th>
            <td mat-cell *matCellDef="let element">{{element.DepartmentName ? element.DepartmentName : 'N.A'}}</td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="UnitName">
            <th mat-header-cell *matHeaderCellDef>Unit</th>
            <td mat-cell *matCellDef="let element">{{element.UnitName ? element.UnitName : 'N.A'}}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="StatusName">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">{{element.StatusName ? element.StatusName : 'N.A'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="height:40px;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height:35px;"></tr>
    </table>
</div>

<div class="modal-footer modalFooter">
    <button type="button" class="btn btn-secondary modalCancelBtn" id="cancel" style="margin-right: 1vh" mat-dialog-close>Cancel</button>
</div>
