.mat-elevation-z8 {
    width: 100%;
}

.button-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    // overflow: hidden;
}

button {
    border-radius: 1em;
    font-size: 0.7em;
}

.spacer {
    flex: 1 1 auto;
}

.mat-dialog-content {
    font-size: 1.6vh;
    font-weight: 700;
    min-height: 70vh;
}

.mat-header-row {
    min-height: 10vh;
}

table {
    border-collapse: collapse;
    border-radius: 1em;
    margin: 5vh auto;
}

.content-width {
    overflow-wrap: break-word;
}

.align-center {
    text-align: center;
}

.dot {
    height: 10px;
    width: 10px;
    margin-right: 6px;
    background-color: #bbb;
    border: 0.5px solid #737373;
    border-radius: 50%;
    display: inline-block;
}

.mat-column-id {
    min-width: 1vw;
    max-width: 1.5vw !important;
    border-right: 1px solid #eee;
    padding-right: 10px;
}

.mat-column-risk {
    min-width: 4vw;
    max-width: 5vw;
}

.mat-column-risk,
.mat-column-riskMetric,
.mat-column-units,
.mat-column-riskLimits,
.mat-column-low,
.mat-column-moderate,
.mat-column-high {
    border-right: 1px solid #eee;
    padding-right: 24px;
    padding-left: 5px;
}

.mat-column-measurements {
    border-right: 1px solid #eee;
    padding-left: 5px;
}

.mat-column-riskMetric {
    max-width: 10vw;
}

.text-align {
    text-align: center;
}

// .mat-column-uploadDate {
//     padding-left: 5px;
// }