<mat-toolbar>
    <span class="define-span">{{data.mode=="add"?'Define KRI':"Edit KRI"}}</span>
    <span class="spacer"></span>
    <button mat-icon-button *ngIf="isMax" title="Restore" (click)="minimize()">
        <mat-icon aria-hidden="false" aria-label="Restore" fontIcon="fullscreen_exit"></mat-icon>
    </button>
    <button mat-icon-button *ngIf="!isMax" title="Maximize" (click)="maximize()">
        <mat-icon aria-hidden="false" aria-label="Maximize" fontIcon="fullscreen"></mat-icon>
    </button>
    <button mat-icon-button title="Close" cdkFocusInitial  (click)="cancelPopup()">
        <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close" ></mat-icon>
    </button>
</mat-toolbar>
<div class="container" style="overflow-y: scroll; height: 82vh; overflow-x: hidden;">
    <form [formGroup]="defineKRIForm">
        <mat-dialog-content style="max-width: 100%;"> 
            <div class="topNewSectionFiled">
                <div class="topFirstField">
                    <mat-form-field appearance="fill" *ngIf="data.mode=='add'" class="w100">
                        <mat-label>Select Department </mat-label>
                        <mat-select matSelectSearch placeholder="Search department..." formControlName="groupID">
                            <mat-option *ngFor="let group of data.groups" [value]="group.GroupID">
                                {{group.GroupName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" *ngIf="data.mode=='edit'" class="w100">
                        <mat-label>Select Department</mat-label>
                        <mat-select matSelectSearch placeholder="Search department..." formControlName="groupID" [(ngModel)]="kriData.GroupName" [disabled]="true">
                            <mat-option *ngFor="let group of data.groups" [value]="group.GroupName">
                                {{group.GroupName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="topFirstField">
                    <mat-form-field appearance="fill" *ngIf="data.mode=='add'" class="w100">
                        <mat-label>Select Unit</mat-label>
                        <mat-select matSelectSearch placeholder="Search unit..." formControlName="unitID">
                            <mat-option *ngFor="let unit of filteredAddUnits()" [value]="unit.UnitID">
                                {{unit.UnitName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" *ngIf="data.mode=='edit'" class="w100">
                        <mat-label>Select Unit</mat-label>
                        <mat-select matSelectSearch placeholder="Search unit..." formControlName="unitID" [(ngModel)]="kriData.UnitID" [compareWith]="compareUnit"
                            [disabled]="true">
                            <mat-option *ngFor="let unit of filteringEditUnits()" [value]="unit.UnitID">
                                {{unit.UnitName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="topFirstField">
                    <mat-form-field style="width:100%;" appearance="fill" *ngIf="data.mode=='add'">
                    <mat-label>Select Inherent Risk</mat-label>
                    <mat-select matSelectSearch placeholder="Search inherent risk..." formControlName="inherentRisk">
                        <mat-option *ngFor="let inherentRisk of filteredAddInherentRisk()" [value]="inherentRisk.InherentRiskID">
                            {{inherentRisk.Risk}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="width:100%;" appearance="fill" *ngIf="data.mode=='edit'">
                    <mat-label>Select Inherent Risk</mat-label>
                    <mat-select matSelectSearch placeholder="Search inherent risk..." formControlName="inherentRisk" [(ngModel)]="kriData.InherentRiskID">
                        <mat-option *ngFor="let inherentRisk of filteringEditInherentRisk()" [value]="inherentRisk.InherentRiskID">
                            {{inherentRisk.Risk}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
            </div>
            <!-- <div class="w50plus">
                
            </div> -->
            <div class="w49">
                <mat-form-field style="width:100%;" *ngIf="data.mode=='add'">
                    <mat-label>KRI</mat-label>
                    <textarea formControlName="keyRiskIndicator" matInput placeholder="Describe KRI" cols="3" rows="6"></textarea>
                </mat-form-field>
                <mat-form-field style="width:100%;" *ngIf="data.mode=='edit'">
                    <mat-label>KRI</mat-label>
                    <textarea formControlName="keyRiskIndicator" [(ngModel)]="kriData.KeyRiskIndicator" matInput
                        placeholder="Describe KRI" cols="3" rows="6"></textarea>
                </mat-form-field>
            </div>
        </mat-dialog-content>
        <div class="mid-section">
            <div class="radio-section">
                <div class="frequency">
                    <label class="sub-head" id="example-radio-group-label">Measurement Frequency <span
                            style="color: red;">*</span></label><br>
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                        formControlName="measurementFrequencyID" [(ngModel)]="kriData.MeasurementFrequencyID"
                        *ngIf="data.mode=='edit'">
                        <mat-radio-button class="example-radio-button"
                            *ngFor="let season of service.master?.measurementFrequencies" [value]="season.FrequencyID"
                            [disabled]="!season.IsActive">
                            {{season.Name}}
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                        formControlName="measurementFrequencyID" *ngIf="data.mode=='add'">
                        <mat-radio-button class="example-radio-button"
                            *ngFor="let season of service.filteredMeasurementFreq" [value]="season.FrequencyID">
                            {{season.Name}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="kri-type">
                    <label class="sub-head" id="example-radio-group-label">KRI Type <span
                            style="color: red;">*</span></label><br>
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                        formControlName="typeID" [(ngModel)]="kriData.KriTypeID" *ngIf="data.mode=='edit'">
                        <mat-radio-button class="example-radio-button" *ngFor="let season of service.master?.types"
                            [value]="season.TypeID" [disabled]="!season.IsActive">
                            {{season.Name}}
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                        formControlName="typeID" *ngIf="data.mode=='add'">
                        <mat-radio-button class="example-radio-button" *ngFor="let season of service.filteredKRIType"
                            [value]="season.TypeID">
                            {{season.Name}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div style="margin-left: 115px;">
                <label class="sub-head">Reporting Frequency</label>
                <p>{{data.reportingFrequencies.Name}}
                </p>
            </div>
            <div style="margin-left: 115px;">
                <label class="sub-head">Threshold Type</label>
                <div class="threshold-type-toggle" role="group" aria-label="Threshold Type">
                    <span class="toggle-label" [class.active]="thresholdType === 'NUMBER'" (click)="thresholdType = 'NUMBER'">Number</span>
                    <div class="toggle-track" (click)="thresholdType = thresholdType === 'NUMBER' ? 'PERCENTAGE' : 'NUMBER'">
                        <div class="toggle-handle" [class.percentage]="thresholdType === 'PERCENTAGE'"></div>
                    </div>
                    <span class="toggle-label" [class.active]="thresholdType === 'PERCENTAGE'" (click)="thresholdType = 'PERCENTAGE'">Percentage</span>
                </div>
            </div>
        </div>
        <br>
        <div class="bottom-section">
            <div class="target-data">
                <label class="sub-head" id="example-radio-group-label">Target <span
                        style="color: red;">*</span></label><br>
                <!-- <mat-radio-group> -->
                <!-- <mat-list-item role="listitem" *ngFor="let x of target; let i = index">
                        <mat-radio-button [checked]="i+1 ==selection" [value]="x.Idx"
                            (change)="selection = $event.value">
                            {{x.value}}
                        </mat-radio-button><br>
                    </mat-list-item> -->
                <!-- </mat-radio-group> -->
                <div class="each-value" style="display:flex;margin-left: -3.8vh;" *ngIf="data.mode ==='add'">
                    <div class="bubble-container">
                        <div class="define-bubble"></div>
                        <p class="sub-text">Minimum Target:</p>
                    </div>
                    <mat-form-field  appearance="outline" style="width: 16vh;padding-left: 1vh;">
                        <input matInput type="number" formControlName="minimum" [attr.min]="thresholdType === 'PERCENTAGE' ? 0 : null" [attr.max]="thresholdType === 'PERCENTAGE' ? 100 : null">
                    </mat-form-field>

                </div>

                <div class="each-value" style="display:flex;margin-left: -3.8vh;" *ngIf="data.mode ==='edit'" >
                    <div class="bubble-container">
                        <div class="define-bubble"></div>
                        <p class="sub-text">Minimum Target:</p>
                    </div>
                    <mat-form-field  appearance="outline" style="width: 16vh;padding-left: 1vh;">
                        <input matInput type="number" formControlName="minimum" [attr.min]="thresholdType === 'PERCENTAGE' ? 0 : null" [attr.max]="thresholdType === 'PERCENTAGE' ? 100 : null" [(ngModel)]="kriData.ThresholdValue1">
                    </mat-form-field>

                </div>


                <div class="each-value" style="display:flex;margin-left: -3.8vh;" *ngIf="data.mode ==='add'">
                    <div class="bubble-container">
                        <div class="define-bubble"></div>
                        <p class="sub-text">Maximum Target:</p>
                    </div>
                    <mat-form-field  appearance="outline" style="width: 16vh;padding-left: 1vh;">
                        <input matInput type="number" formControlName="maximum" [attr.min]="thresholdType === 'PERCENTAGE' ? 0 : null" [attr.max]="thresholdType === 'PERCENTAGE' ? 100 : null">
                    </mat-form-field>

                </div>

                <div class="each-value" style="display:flex;margin-left: -3.8vh;" *ngIf="data.mode ==='edit'" >
                    <div class="bubble-container">
                        <div class="define-bubble"></div>
                        <p class="sub-text">Maximum Target:</p>
                    </div>
                    <mat-form-field  appearance="outline" style="width: 16vh;padding-left: 1vh;">
                        <input matInput type="number" formControlName="maximum" [attr.min]="thresholdType === 'PERCENTAGE' ? 0 : null" [attr.max]="thresholdType === 'PERCENTAGE' ? 100 : null" [(ngModel)]="kriData.ThresholdValue5">
                    </mat-form-field>
                </div>
                <span style="color: red;" *ngIf = "defineKRIForm.get('maximum')?.touched && defineKRIForm.get('minimum')?.touched && data.mode ==='add'">
                    {{showErrorForEqualvalues(defineKRIForm.get("minimum")?.value, defineKRIForm.get("maximum")?.value) }}</span>

                <span style="color: red;" *ngIf = "data.mode ==='edit'">
                       {{showErrorForEqualvalues(defineKRIForm.get('minimum')?.value, defineKRIForm.get('maximum')?.value) }}</span>
            </div>

            <!-- <mat-error>{{ defineKRIForm.get("maximum")?.value == defineKRIForm.get("minimum")?.value ? 'Max and Min value cannot be the same' : ''}}</mat-error> -->

            <div class="threshold-data">
                <label class="sub-head">Threshold Values <span style="color: red;">*</span></label>
                <div class="threshold-value">
                    <!-- <div class="each-value">
                        <div class="bubble-container">
                            <div [style.background-color]="colors.color1" class="define-bubble"></div>
                            <p class="sub-text">Threshold Value -{{threshold.thresholds1}}</p>
                        </div>
                        <mat-label>{{selection==1?">":"<"}}{{getLastValue()}} </mat-label> %
                    </div> -->
                    <div class="each-value" *ngIf="data.mode=='add'" >
                        <div class="bubble-container" >
                            <div [style.background-color]="colors.color1" class="define-bubble"></div>
                            <p class="sub-text">Threshold Value -{{threshold.thresholds1}}</p>
                        </div>
                        <!-- <mat-label>={{defineKRIForm.get('minimum')?.value}} </mat-label>% -->
                        <mat-label>{{defineKRIForm.get("maximum")?.value > defineKRIForm.get("minimum")?.value ? ">=" : "<="}}{{defineKRIForm.get('minimum')?.value}}</mat-label><span *ngIf="thresholdType === 'PERCENTAGE'">%</span>
                    </div>
                    <div class="each-value" *ngIf="data.mode=='edit'">
                        <div class="bubble-container" >
                            <div [style.background-color]="colors.color1" class="define-bubble"></div>
                            <p class="sub-text">Threshold Value -{{threshold.thresholds1}}</p>
                        </div>
                        <!-- <mat-label>={{defineKRIForm.get('minimum')?.value  || this.kriData.ThresholdValue1}} </mat-label>% -->
                        <mat-label>{{defineKRIForm.get("maximum")?.value > defineKRIForm.get("minimum")?.value ? ">=" : "<="}}
                            {{defineKRIForm.get('minimum')?.value  || this.kriData.ThresholdValue1}}</mat-label><span *ngIf="thresholdType === 'PERCENTAGE'">%</span>
                    </div>

                    <!-- Threshold 2 add and edit mode  -->
                    <div class="each-value">
                        <div class="bubble-container">
                                <div [style.background-color]="colors.color2" class="define-bubble"></div>
                                <p class="sub-text">Threshold Value -{{threshold.thresholds2}}</p>
                        </div>

                        <mat-label>{{defineKRIForm.get("maximum")?.value > defineKRIForm.get("minimum")?.value ? ">=" : "<="}}</mat-label>

                        <div>
                            <mat-form-field *ngIf="data.mode=='add'" appearance="outline" style="height: 6vh; margin-left: 1vw;width: 4vw;margin-top: -3vh;">
                                <input matInput type="number" style="height: 4vh;     padding-bottom: 15px;"
                                    min="{{getThresholdMin()}}" max="{{getThresholdMax()}}" formControlName="value2">
                                    <div style="margin-top: -5vh;margin-left: 8vh;" *ngIf="thresholdType === 'PERCENTAGE'">%</div>
                            </mat-form-field>
                            <br>

                            <div style="margin-top: -1vh; width: 10vw;" *ngIf="defineKRIForm.get('minimum')?.value > defineKRIForm.get('maximum')?.value && defineKRIForm.get('value2')?.touched && data.mode=='add'">
                                <span style="color: red;">
                                    {{ defineKRIForm.get('value2')?.value  >= defineKRIForm.get('minimum')?.value ? 'Threshold-2 should be less than Threshold-1' : '' }}
                                     {{getError(getThresholdMax(), getThresholdMin(), defineKRIForm.get('value2')?.value)}}
                                </span>
                            </div>
                            <div style="margin-top: -1vh; width: 10vw;" *ngIf="defineKRIForm.get('minimum')?.value < defineKRIForm.get('maximum')?.value && defineKRIForm.get('value2')?.touched && data.mode=='add'">
                                <span style="color: red;">
                                    {{getError(getThresholdMax(), getThresholdMin(), defineKRIForm.get('value2')?.value)}}
                                    {{ defineKRIForm.get('value2')?.value  <= defineKRIForm.get('minimum')?.value ? 'Threshold-2 should be greater than Threshold-1' : '' }}
                                </span>
                            </div>
                        </div>

                        <div *ngIf="data.mode ==='edit'" >
                        <mat-form-field  appearance="outline" style="height: 6vh; margin-left: 1vw;width: 4vw;margin-top: -5.8vh;">
                            <input matInput type="number" matInput type="number"  style="height: 4vh;     padding-bottom: 15px;"
                            min="{{getThresholdMin()}}"  max="{{getThresholdMax()}}"
                                [(ngModel)]="kriData.ThresholdValue2" formControlName="value2"><div style="margin-top: -5vh;margin-left: 8vh;" *ngIf="thresholdType === 'PERCENTAGE'">%</div>
                        </mat-form-field>
                        <br>
                        <div style="margin-top: -1vh; width: 10vw;" *ngIf="(defineKRIForm.get('minimum')?.value > defineKRIForm.get('maximum')?.value && defineKRIForm.get('value2')?.touched && data.mode=='edit') || (data.mode=='edit' && thresholdType === 'PERCENTAGE' && (defineKRIForm.get('value2')?.value < 0 || defineKRIForm.get('value2')?.value > 100))">
                            <span style="color: red;">
                                {{getError(getThresholdMax(), getThresholdMin(), defineKRIForm.get('value2')?.value)}}
                                {{ defineKRIForm.get('value2')?.value  >= defineKRIForm.get('minimum')?.value ? 'Threshold-2 should be less than Threshold-1' : '' }}
                            </span>
                        </div>
                        <div style="margin-top: -1vh; width: 10vw;" *ngIf="(defineKRIForm.get('minimum')?.value < defineKRIForm.get('maximum')?.value && defineKRIForm.get('value2')?.touched && data.mode=='edit') || (data.mode=='edit' && thresholdType === 'PERCENTAGE' && (defineKRIForm.get('value2')?.value < 0 || defineKRIForm.get('value2')?.value > 100))">
                            <span style="color: red;">
                                {{ defineKRIForm.get('value2')?.value  <= defineKRIForm.get('minimum')?.value ? 'Threshold-2 should be greater than Threshold-1' : '' }}
                                {{getError(getThresholdMax(), getThresholdMin(), defineKRIForm.get('value2')?.value)}}
                            </span>


                        </div>
                    </div>
                    </div>

                    <!-- Threshold 3 add and edit mode  -->
                    <div class="each-value">
                        <div class="bubble-container">
                            <div [style.background-color]="colors.color3" class="define-bubble"></div>
                            <p class="sub-text">Threshold Value -{{threshold.thresholds3}}</p>
                        </div>
                        <mat-label>{{defineKRIForm.get("maximum")?.value > defineKRIForm.get("minimum")?.value ? ">=" : "<="}}</mat-label>
                        <div >
                            <mat-form-field *ngIf="data.mode=='add'" appearance="outline" style="height: 6vh; margin-left: 1vw;width: 4vw;margin-top: -3vh;">
                                <input  matInput type="number"  style="height: 4vh; padding-bottom: 15px;"
                                min="{{getThresholdMin()}}"  max="{{getThresholdMax()}}" formControlName="value3">
                                    <div style="margin-top: -5vh;margin-left: 8vh;" *ngIf="thresholdType === 'PERCENTAGE'">%</div>
                            </mat-form-field>
                            <div style="margin-top: -1vh; width: 10vw;" *ngIf="defineKRIForm.get('minimum')?.value > defineKRIForm.get('maximum')?.value && defineKRIForm.get('value3')?.touched && data.mode=='add'">
                                <span style="color: red;">
                                    {{ defineKRIForm.get('value3')?.value >= defineKRIForm.get('value2')?.value ? 'Threshold-3 should be less than Threshold-2' : '' }}
                                    {{getError(getThresholdMax(), getThresholdMin(), defineKRIForm.get('value3')?.value)}}
                                </span>
                            </div>
                            <div style="margin-top: -1vh; width: 10vw;" *ngIf="defineKRIForm.get('minimum')?.value < defineKRIForm.get('maximum')?.value && defineKRIForm.get('value3')?.touched && data.mode=='add'">
                                <span style="color: red;">
                                    {{getError(getThresholdMax(), getThresholdMin(), defineKRIForm.get('value3')?.value)}}
                                    {{ defineKRIForm.get('value3')?.value <= defineKRIForm.get('value2')?.value ? 'Threshold-3 should be greater than Threshold-2' : '' }}
                                </span>
                            </div>
                        </div>
                        <div *ngIf="data.mode=='edit'">
                            <mat-form-field appearance="outline"  style="height: 6vh; margin-left: 1vw;width: 4vw;margin-top: -4vh;" >
                                <input matInput type="number" matInput type="number"  style="height: 4vh; padding-bottom: 15px;"
                                min="{{getThresholdMin()}}"  max="{{getThresholdMax()}}"
                                    [(ngModel)]="kriData.ThresholdValue3" formControlName="value3"><div style="margin-top: -5vh;margin-left: 8vh;" *ngIf="thresholdType === 'PERCENTAGE'">%</div>
                            </mat-form-field>
                            <br>
                            <div style="margin-top: -1vh; width: 10vw;" *ngIf="(defineKRIForm.get('minimum')?.value > defineKRIForm.get('maximum')?.value && defineKRIForm.get('value3')?.touched && data.mode=='edit') || (data.mode=='edit' && thresholdType === 'PERCENTAGE' && (defineKRIForm.get('value3')?.value < 0 || defineKRIForm.get('value3')?.value > 100))">
                                <span style="color: red;">
                                    {{getError(getThresholdMax(), getThresholdMin(), defineKRIForm.get('value3')?.value)}}
                                    {{ defineKRIForm.get('value3')?.value >= defineKRIForm.get('value2')?.value ? 'Threshold-3 should be less than Threshold-2' : '' }}
                                </span>
                            </div>
                            <div style="margin-top: -1vh; width: 10vw;" *ngIf="(defineKRIForm.get('minimum')?.value < defineKRIForm.get('maximum')?.value && defineKRIForm.get('value3')?.touched && data.mode=='edit') || (data.mode=='edit' && thresholdType === 'PERCENTAGE' && (defineKRIForm.get('value3')?.value < 0 || defineKRIForm.get('value3')?.value > 100))">
                                <span style="color: red;">
                                    {{getError(getThresholdMax(), getThresholdMin(), defineKRIForm.get('value3')?.value)}}
                                    {{ defineKRIForm.get('value3')?.value <= defineKRIForm.get('value2')?.value ? 'Threshold-3 should be greater than Threshold-2' : '' }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Threshold 4 add and edit mode  -->
                    <div class="each-value">
                        <div class="bubble-container">
                            <div [style.background-color]="colors.color4" class="define-bubble"></div>
                            <p class="sub-text">Threshold Value -{{threshold.thresholds4}}</p>
                        </div>
                        <mat-label>{{defineKRIForm.get("maximum")?.value > defineKRIForm.get("minimum")?.value ? ">=" : "<="}}</mat-label>
                    <div>
                        <mat-form-field *ngIf="data.mode=='add'" appearance="outline" style="height: 6vh; margin-left: 1vw;width: 4vw;margin-top: -3vh;">
                            <input matInput type="number" min="{{getThresholdMin()}}"  max="{{getThresholdMax()}}"  style="height: 4vh;padding-bottom: 15px;"
                                oninput="validity.valid;" formControlName="value4"><div style="margin-top: -5vh;margin-left: 8vh;" *ngIf="thresholdType === 'PERCENTAGE'">%</div>
                        </mat-form-field>
                        <div style="margin-top: -1vh; width: 10vw;" *ngIf="defineKRIForm.get('minimum')?.value > defineKRIForm.get('maximum')?.value && defineKRIForm.get('value4')?.touched && data.mode=='add'">
                            <span style="color: red;">
                                {{ defineKRIForm.get('value4')?.value  >= defineKRIForm.get('value3')?.value ? 'Threshold-4 should be less than Threshold-3' : '' }}
                                {{getError(getThresholdMax(), getThresholdMin(), defineKRIForm.get('value4')?.value)}}
                                 {{ defineKRIForm.get('maximum')?.value == defineKRIForm.get('value4')?.value ? '  Threshold-4 should be greater than Threshold-5' : '' }}
                               <!-- {{ defineKRIForm.get('maximum')?.value > defineKRIForm.get('value4')?.value ? '2)  Threshold-4 should be greater than Threshold-5' : '' }} -->
                            </span>
                        </div>
                        <div style="margin-top: -1vh; width: 10vw;" *ngIf="defineKRIForm.get('minimum')?.value < defineKRIForm.get('maximum')?.value && defineKRIForm.get('value4')?.touched && data.mode=='add'">
                            <span style="color: red;">
                                {{ defineKRIForm.get('value4')?.value  <= defineKRIForm.get('value3')?.value ? 'Threshold-4 should be greater than Threshold-3' : '' }}
                                {{getError(getThresholdMax(), getThresholdMin(), defineKRIForm.get('value4')?.value)}}
                                {{ defineKRIForm.get('maximum')?.value == defineKRIForm.get('value4')?.value ? 'Threshold-4 should be less than Threshold-5' : '' }}
                            </span>
                        </div>

                    </div>
                        <div *ngIf="data.mode=='edit'" >
                        <mat-form-field appearance="outline" style="height: 6vh; margin-left: 1vw;width: 4vw;margin-top: -3vh;">
                            <input matInput type="number" min="{{getThresholdMin()}}" max="{{getThresholdMax()}}" style="height: 4vh; padding-bottom: 15px;" [(ngModel)]="kriData.ThresholdValue4"
                                formControlName="value4"><div style="margin-top: -5vh;margin-left: 8vh;" *ngIf="thresholdType === 'PERCENTAGE'">%</div>
                        </mat-form-field>
                        <br>
                        <div style="margin-top: -1vh; width: 10vw;" *ngIf="(defineKRIForm.get('minimum')?.value > defineKRIForm.get('maximum')?.value && defineKRIForm.get('value4')?.touched && data.mode=='edit') || (data.mode=='edit' && thresholdType === 'PERCENTAGE' && (defineKRIForm.get('value4')?.value < 0 || defineKRIForm.get('value4')?.value > 100))">
                            <span style="color: red;">
                                {{getError(getThresholdMax(), getThresholdMin(), defineKRIForm.get('value4')?.value)}}
                                {{ defineKRIForm.get('value4')?.value  >= defineKRIForm.get('value3')?.value ? 'Threshold-4 should be less than Threshold-3' : '' }}
                                {{ defineKRIForm.get('maximum')?.value == defineKRIForm.get('value4')?.value ? 'Threshold-4 should be less than Threshold-5' : '' }}
                                <!-- {{ defineKRIForm.get('maximum')?.value >= defineKRIForm.get('value4')?.value ? 'Threshold-4 should be greater than Threshold-5' : '' }} -->
                            </span>
                        </div>
                        <div style="margin-top: -1vh; width: 10vw;" *ngIf="(defineKRIForm.get('minimum')?.value < defineKRIForm.get('maximum')?.value && defineKRIForm.get('value4')?.touched && data.mode=='edit') || (data.mode=='edit' && thresholdType === 'PERCENTAGE' && (defineKRIForm.get('value4')?.value < 0 || defineKRIForm.get('value4')?.value > 100))">
                            <span style="color: red;">
                                {{getError(getThresholdMax(), getThresholdMin(), defineKRIForm.get('value4')?.value)}}
                                {{ defineKRIForm.get('value4')?.value  <= defineKRIForm.get('value3')?.value ? 'Threshold-4 should be greater than Threshold-3' : '' }}
                                {{ defineKRIForm.get('maximum')?.value == defineKRIForm.get('value4')?.value ? 'Threshold-4 should be less than Threshold-5' : '' }}
                                <!-- {{ defineKRIForm.get('maximum')?.value <= defineKRIForm.get('value4')?.value ? 'Threshold-4 should be greater than Threshold-5' : '' }} -->
                            </span>
                        </div>
                    </div>
                    </div>

                    <!-- <div class="each-value">
                        <div class="bubble-container">
                            <div [style.background-color]="colors.color5" class="define-bubble"></div>
                            <p class="sub-text">Threshold Value -{{threshold.thresholds5}}</p>
                        </div>
                        <p *ngIf="selection==1">=0%</p>
                        <p *ngIf="selection==2">=100%</p>
                    </div> -->

                    <!-- Threshold 5 add and edit mode  -->
                    <div class="each-value">
                        <div class="bubble-container">
                            <div [style.background-color]="colors.color5" class="define-bubble"></div>
                            <p class="sub-text">Threshold Value -{{threshold.thresholds5}}</p>
                        </div>
                        <div  *ngIf="data.mode=='add'">={{defineKRIForm.get("maximum")?.value}}<span *ngIf="thresholdType === 'PERCENTAGE'">%</span></div>
                        <!-- ={{defineKRIForm.get("maximum")?.value > defineKRIForm.get("minimum")?.value ? defineKRIForm.get("maximum")?.value : defineKRIForm.get("minimum")?.value  }} -->
                        <div *ngIf="data.mode=='edit'" >
                            ={{ defineKRIForm.get('maximum')?.value  || kriData.ThresholdValue5 }}<span *ngIf="thresholdType === 'PERCENTAGE'">%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <br>

        <div class="move-buttons" >
            <button class="buttons save" id="saveSub"  type="submit" [disabled]="!this.defineKRIForm.valid || showError() || this.equalsCheck || this.defineKRIForm.get('value2')?.value  == this.defineKRIForm.get('minimum')?.value" (click)="saveDefine()" style="    margin-left: 136vh;"  ><img src="./assets/images/icon-application.svg"
                      alt="Save"> {{data.mode == 'add' ? 'Define KRI' : 'Update KRI'}}</button>

            </div>
                    <button type="button" class="btn btn-secondary modalCancelBtn" id="cancel" (click)="cancelPopup()" style="margin-left: 74vw;height: 5.5vh; margin-top: -10.9vh;">Cancel</button>


        <!-- <div align="end" style="margin-bottom:5px">
            <button mat-flat-button color="primary" [disabled]="!this.defineKRIForm.valid || showError() || this.equalsCheck" (click)="saveDefine()">
                {{data.mode == 'add' ? 'Define KRI' : 'Update KRI'}}
            </button>

            <button mat-flat-button  class="cancel" (click)="cancelPopup()">Cancel</button>
        </div> -->
    </form>
</div>
