.d-flex{
    display: flex;
    height: calc(100% - 40px);
    align-items: center;
}
mat-card {  
    height: 100%;
    padding: 0px;
}
.padd2vh{ 
    padding: 16px;
    height: calc(100% - 32px);
}

.rightFromChart{
    width: 30% !important;
    padding: 0px;
    margin-left: 10px;
    overflow: hidden;
}
.rightFromChartHead{
    background: #f3d9ca;
    padding: 2vh;
}
.rightFromChartHead p{
    margin: -10px;
    font-size: 13px;
}
.rightFromChartBodyLine{
    display: flex;
    justify-content: space-between;    
    border-bottom: 1px solid #a9a0a0 !important;
    padding: 1vh 0px;
    margin: 0px 1vh;    
    align-items: center;
}
.rightFromChartBodyLine:last-child{
    border: 0 !important ;
}
.rightFromChartBodyLine h4{
    margin: 0;    
    font-size: 14px;
}
.rightFromChartBodyLine h3{
    margin: 0;
}
.legendsFordata{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}
.legendsFordata > div{
    display: flex;
    align-items: center;
}
.legendsFordata .squareShape{
    height: 12px;
    width: 12px;
    display: inline-block;
    margin-right: 3px;
    border-radius: 2px;
}

.nodatahe{
    height: 100%;
    display: flex;
    margin-top: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
