.mat-card {
    background: linear-gradient(158.79deg, #2470A3 36.66%, #6BBDC2 101.11%);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

h4.graphHead {
    color:#fff;
    font-weight: 700;
    font-size: 2.1vh;
    border-bottom: 1px solid #fff;
    padding-bottom: 1.5vh;
}




