
mat-card{
    border-radius: 16px;
    height: calc(100% - 60px);
    overflow: hidden;
}
.h-100{
    height: 100%;
}
.ms-10{
    margin-left: 80px;
    margin-bottom: 10px;
}
.position-relative{
    position: relative;
}
.overAllIConCircle{
    position: absolute;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    color: #fff;
    z-index: 2;
    left: 10px;
    top: -10px;
}
.overAllIConCircle svg{
    height: 25;
    width: 25px;
}
.overAllIConCircle path{
    fill: #ffffff
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.d-flex-sec1{
    padding: 0px 0px;
    width: 45%;
}

.d-flex-sec2{
    padding: 0px 0px 5px;
    width: 52%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 2vh;
    height: 24.3vh;
}



.rd-kris1 { 
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.45);
    border-radius: 50vw;
    height: 110px;
    width: 45px;
    text-align: center;
    position: relative;
    display: inline-block;
}
.rd-kris-sc1 {
    color: #991313;
    font-size: 200%;
    font-weight: bold;
    margin-top: 12px;
} 
.rd-kris-cont {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-image: linear-gradient(to top, #DAD9D9, #FFFFFF);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.45);
    border-radius: 50vw;
    height: 75px;
    width:45px;
    text-align: center;
}

.rd-kris-fig {
    color: #727272;
    font-size: 200%;
    text-shadow: 3px 5px 5px rgba(99, 99, 99, 0.8);
    margin-bottom: -0.2rem;
    margin-top: 1rem;
}

.due-date {
    color: #b9b9b9;
    font-size: 13px;
    margin: -6px 0px 0px; 
    text-align: flex-end;
}
.all-header-kris{
    font-size: 16px;
    margin: 0px; 
    text-align: flex-end;
}
.colorCo0{
    background-image: linear-gradient(to top right, #FFE0E0, #F84B4B);
}
.colorCo1{
    background-image: linear-gradient(to top right, #FFF1DC, #FEAF39);
}
.colorCo2{
    background-image: linear-gradient(to top right, #C3F1FF, #34BDE9);
}
.colorCo3{
    background-image: linear-gradient(to top right, #FDFFB9, #C2C611);
}
.colorCo4{
    background-image: linear-gradient(to top right, #39FEB7, #02981A);
}
