.buttons {
    display: flex;
    // flex-direction: column;
    gap: 10px;
    width: 100%;
    // height: 100%;
}

.button {
    width: 45%;
    // overflow-x: hidden !important;
    white-space: pre-wrap !important;
    color: red;
}

.mat-raised-button {
    padding: 0 5px;
}

.label {
    width: 100%;
}

.text {
    padding-top: 20px;
    padding-bottom: 20px;
}
