.overAllIConCircle{
    position: absolute;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    color: #fff;
    z-index: 2;
    left: 10px;
    // top: -10px;
    margin-top: -1vh;
}
.overAllIConCircle svg{
    height: 25;
    width: 25px;
}
.overAllIConCircle path{
    fill: #ffffff
}

.ms-10{
    margin-left: 80px;
    margin-bottom: 10px;
}
mat-card{
    border-radius: 16px;
    height: calc(100% - 60px);
    overflow: hidden;
 }
 .h-100{
    height: 100%;
 }
