<mat-toolbar class="mat-tool-bar">
    {{data.title}}
    <button mat-icon-button title="Close" cdkFocusInitial mat-dialog-close>
        <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
    </button>
</mat-toolbar>
<div class="mat-table-padding">
    <table mat-table [dataSource]="listdata" class="my-table">
        <tr mat-header-row *matHeaderRowDef="displayedHeaderOneColumns;"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedHeaderTwoColumns;"></tr>

        <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns"
            [ngStyle]="{ 'background-color': getBackgroundColor(i) }">
        </tr>

        <!-- Sno -->
        <ng-container matColumnDef="Sno">
            <th mat-header-cell class="fw-bold fs-6"
                style="background-color:#d9e1ec;letter-spacing:1px;vertical-align:baseline;padding:10px 0px;"
                *matHeaderCellDef [attr.rowspan]="2">
            </th>
            <td mat-cell
                style="vertical-align:baseline;padding:12px;padding-left:10px;padding-right:15px;"
                *matCellDef="let element; let i = index"
                [attr.rowspan]="getRowSpan('GroupName', i)"
                [style.display]="getRowSpan('GroupName', i) ? '' : 'none'">
                {{ getRowSerialNumber(i) }}
            </td>
        </ng-container>

        <!-- Group -->
        <ng-container matColumnDef="Group">
            <th mat-header-cell class="fw-bold fs-6"
                style="background-color:#d9e1ec;letter-spacing:1px;vertical-align:baseline;padding:10px 0px;"
                *matHeaderCellDef [attr.rowspan]="2">
                Group
            </th>
            <td style="vertical-align:baseline;padding-top:12px;"
                mat-cell *matCellDef="let element; let i = index"
                class="align-left-right"
                [attr.rowspan]="getRowSpan('GroupName', i)"
                [style.display]="getRowSpan('GroupName', i) ? '' : 'none'">
                <div style="display:flex;justify-content:space-between;align-items:center;">
                    <span class="link">{{element.GroupName}}</span>
                    <span style="margin-right:10px;margin-left:10px;">
                        {{ getRowSpanData(element.GroupName)?.length }}
                    </span>
                </div>
            </td>
        </ng-container>

        <!-- Unit -->
        <ng-container matColumnDef="Unit">
            <th mat-header-cell class="fw-bold fs-6"
                style="background-color:#d9e1ec;letter-spacing:1px;vertical-align:baseline;padding:10px 0px;"
                *matHeaderCellDef [attr.rowspan]="2">
                Unit
            </th>
            <td mat-cell *matCellDef="let element">{{element.Units}}</td>
        </ng-container>

        <!-- Overall Inherent Risk Rating -->
        <ng-container matColumnDef="Overhall Inherent Risk Rating">
            <th mat-header-cell class="text-center fs-6 fw-bold"
                style="background-color:#d9e1ec;color:#1f82a6;letter-spacing:1px;"
                *matHeaderCellDef [attr.colspan]="5">
                <span class="text-dark">Overall</span> <span>Inherent Risk</span><br>Rating
            </th>
        </ng-container>

        <!-- Overall Control Environment Rating -->
        <ng-container matColumnDef="OverAll Control Enviorment Rating">
            <th mat-header-cell class="text-center fw-bold fs-6"
                style="background-color:#d9e1ec;color:#1f82a6;letter-spacing:1px;"
                *matHeaderCellDef [attr.colspan]="4">
                <span class="text-dark">Overall</span> <span>Control Enviorment</span><br>Rating
            </th>
        </ng-container>

        <!-- Residual Risk Rating -->
        <ng-container matColumnDef="Residul Risk Rating">
            <th mat-header-cell class="text-center fs-6 fw-bold"
                style="background-color:#d9e1ec;color:#1f82a6;letter-spacing:1px;"
                *matHeaderCellDef [attr.colspan]="5">
                Residul Risk Rating
            </th>
        </ng-container>

        <!-- Inherent: Catastrophic -->
        <ng-container matColumnDef="Catastrophic">
            <th mat-header-cell class="fw-bold text-center text-uppercase border"
                style="background-color:#6928d1;color:#160435;letter-spacing:1px;font-size:1.6vh;"
                *matHeaderCellDef>Catastrophic</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                {{ element.inherit.catastrophic?.length }}
            </td>
        </ng-container>

        <!-- Inherent: Severe -->
        <ng-container matColumnDef="Severe">
            <th mat-header-cell class="fw-bold text-center text-uppercase border"
                style="background-color:#ff0d0d;color:#4e0101;letter-spacing:1px;font-size:1.6vh;"
                *matHeaderCellDef>Severe</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                {{ element.inherit.severe?.length }}
            </td>
        </ng-container>

        <!-- Inherent: High -->
        <ng-container matColumnDef="High">
            <th mat-header-cell class="fw-bold text-center text-uppercase border"
                style="background-color:rgb(221 143 143);color:#B10000;letter-spacing:1px;font-size:1.6vh;"
                *matHeaderCellDef>High</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                {{ element.inherit.high?.length }}
            </td>
        </ng-container>

        <!-- Inherent: Moderate -->
        <ng-container matColumnDef="Moderate">
            <th mat-header-cell class="text-center fw-bold text-uppercase border"
                style="background-color:rgb(255 191 145);color:#FF6E05;letter-spacing:1px;font-size:1.6vh;"
                *matHeaderCellDef>Moderate</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                {{ element.inherit.moderate?.length }}
            </td>
        </ng-container>

        <!-- Inherent: Low -->
        <ng-container matColumnDef="Low">
            <th mat-header-cell class="text-center fw-bold text-uppercase border"
                style="background-color:rgb(148 211 173);color:#0B9A45;letter-spacing:1px;font-size:1.6vh;"
                *matHeaderCellDef>Low</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                {{ element.inherit.low?.length }}
            </td>
        </ng-container>

        <!-- Control: No Controls -->
        <ng-container matColumnDef="NoControls">
            <th mat-header-cell class="fw-bold text-center text-uppercase border"
                style="background-color:rgb(221 143 143);color:#B10000;letter-spacing:1px;font-size:1.6vh;"
                *matHeaderCellDef>No Controls</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                {{ element.control.noControls?.length }}
            </td>
        </ng-container>

        <!-- Control: Ineffective -->
        <ng-container matColumnDef="Ineffective">
            <th mat-header-cell class="fw-bold text-center text-uppercase border"
                style="background-color:rgb(221 143 143);color:#B10000;letter-spacing:1px;font-size:1.6vh;"
                *matHeaderCellDef>Ineffective</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                {{ element.control.ineffective?.length }}
            </td>
        </ng-container>

        <!-- Control: Partially Effective -->
        <ng-container matColumnDef="Partially Ineffective">
            <th mat-header-cell class="text-center fw-bold text-uppercase border"
                style="background-color:rgb(255 191 145);color:#FF6E05;letter-spacing:1px;font-size:1.6vh;"
                *matHeaderCellDef>Partially<br>Effective</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                {{ element.control.partiallyEffective?.length }}
            </td>
        </ng-container>

        <!-- Control: Effective -->
        <ng-container matColumnDef="Effective">
            <th mat-header-cell class="text-center fw-bold text-uppercase border"
                style="background-color:rgb(148 211 173);color:#0B9A45;letter-spacing:1px;font-size:1.6vh;"
                *matHeaderCellDef>Effective</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                {{ element.control.effective?.length }}
            </td>
        </ng-container>

        <!-- Residual: Catastrophic -->
        <ng-container matColumnDef="CatastrophicRes">
            <th mat-header-cell class="fw-bold text-center text-uppercase border"
                style="background-color:rgb(221 143 143);color:#B10000;letter-spacing:1px;font-size:1.6vh;"
                *matHeaderCellDef>Catastrophic</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                {{ element.residual.catastrophic?.length }}
            </td>
        </ng-container>

        <!-- Residual: Severe -->
        <ng-container matColumnDef="SevereRes">
            <th mat-header-cell class="fw-bold text-center text-uppercase border"
                style="background-color:rgb(221 143 143);color:#B10000;letter-spacing:1px;font-size:1.6vh;"
                *matHeaderCellDef>Severe</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                {{ element.residual.severe?.length }}
            </td>
        </ng-container>

        <!-- Residual: High -->
        <ng-container matColumnDef="HighRes">
            <th mat-header-cell class="fw-bold text-center text-uppercase border"
                style="background-color:rgb(221 143 143);color:#B10000;letter-spacing:1px;font-size:1.6vh;"
                *matHeaderCellDef>High</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                {{ element.residual.high?.length }}
            </td>
        </ng-container>

        <!-- Residual: Moderate -->
        <ng-container matColumnDef="ModerateRes">
            <th mat-header-cell class="text-center fw-bold text-uppercase border"
                style="background-color:rgb(255 191 145);color:#FF6E05;letter-spacing:1px;font-size:1.6vh;"
                *matHeaderCellDef>Moderate</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                {{ element.residual.moderate?.length }}
            </td>
        </ng-container>

        <!-- Residual: Low -->
        <ng-container matColumnDef="LowRes">
            <th mat-header-cell class="text-center fw-bold text-uppercase border"
                style="background-color:rgb(148 211 173);color:#0B9A45;letter-spacing:1px;font-size:1.6vh;"
                *matHeaderCellDef>Low</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                {{ element.residual.low?.length }}
            </td>
        </ng-container>
    </table>
</div>

<button type="button" class="btn btn-secondary modalCancelBtn" id="cancel"
        style="margin-bottom:3vh;margin-left:129vh;"
        mat-dialog-close>
    Cancel
</button>
