<mat-expansion-panel class="app-risk-unit" style="margin-bottom: 2vh;" [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
        <mat-panel-title class="mat-display-4" style="font-weight: 700;font-size: 16px;">&nbsp;&nbsp;&nbsp;{{source[0].UnitName}}</mat-panel-title>
        <label class="mat-display-2">Risk Metrics: <span style="font-size:20px;font-weight: 700;">{{source.length}}</span></label>
        <div style="width: 100px; margin-left:10px ;margin-right: -7px;
        margin-top: 3px; ">
            <mat-progress-bar style="height: 20px; border-radius:12px;" mode="determinate"
                [value]='completed*100/source.length'>
            </mat-progress-bar>
        </div>
        <label class="mat-display-2" style="color: #2D75A6;">&nbsp;&nbsp;{{completedPercent}}% Completed</label>
        <label class="mat-display-4">&nbsp;&nbsp;Not Started: <span style="font-size:20px;font-weight: 700;">{{notstarted}}</span></label>
        <label class="mat-display-2">&nbsp;&nbsp;In Progress: <span style="font-size:20px;font-weight: 700;">{{inprogress}}</span></label>
        <label class="mat-display-2">&nbsp;&nbsp;Submitted: <span style="font-size:20px;font-weight: 700;">{{submitted}}</span></label>
        <!-- <label class="mat-display-2">&nbsp;&nbsp;Not Submitted: <span style="font-size:20px;font-weight: 700;">{{notsubmitted}}</span></label> -->
        <label class="mat-display-2">&nbsp;&nbsp;Approved: <span style="font-size:20px;font-weight: 700; color:green;">{{approved}}</span></label>
        <label class="mat-display-2">&nbsp;&nbsp;Rejected: <span style="font-size:20px;font-weight: 700; color:red;">{{rejected}}</span></label>
        <label class="mat-display-2">&nbsp;&nbsp;Reviewed: <span style="font-size:20px;font-weight: 700;">{{reviewed}}</span></label>
    </mat-expansion-panel-header>
    <mat-table [dataSource]="source">
        <ng-container matColumnDef="level">
            <mat-header-cell *matHeaderCellDef>Risk</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <b>{{element.Risk}}</b>
                {{element.CaptionData}}
            </mat-cell>
        </ng-container>
        <!-- <ng-container matColumnDef="q1">
            <mat-header-cell *matHeaderCellDef class="text-center">{{(preheader && preheader.length>0)?preheader[0].Caption:"-"}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="text-center">
                {{element.PreviousScoring?(element.PreviousScoring[0]?element.PreviousScoring[0].MetricScore:""):""}}
            <button (click)="showLimits(element,0)">risk limit</button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="q2">
            <mat-header-cell *matHeaderCellDef class="text-center">{{(preheader && preheader.length>1)?preheader[1].Caption:"-"}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="text-center">
                {{element.PreviousScoring?(element.PreviousScoring[1]?element.PreviousScoring[1].MetricScore:""):""}}
                <button (click)="showLimits(element,1)">risk limit</button>
            </mat-cell>
        </ng-container> -->
        <ng-container matColumnDef="q3">
            <mat-header-cell *matHeaderCellDef class="text-center">{{(preheader &&
                preheader.length)?preheader[0].Caption:"-"}}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="text-center"
                [style.background-color]="element.PreviousScoring ? (element.PreviousScoring[0] ? element.PreviousScoring[0].ColorCode : '#FFFFFF'):'#FFFFFF'">
                <!-- {{element.PreviousScoring.length>0 ? (element.PreviousScoring[0].MetricScore !=
                "" ? element.PreviousScoring[0].MetricScore : "") : ""}} -->
                {{ element.PreviousScoring.length > 0 ? element.PreviousScoring[0].MetricScore : '' }}
                <!-- <button (click)="showLimits(element,2)">risk limit</button> -->
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="risk-limit">
            <mat-header-cell *matHeaderCellDef class="text-center" style="padding: 0px;"><span style="padding-left: 4px;">Risk Limits</span></mat-header-cell>
            <mat-cell *matCellDef="let element" style="padding: 0px 1px;border-left: 0px;">
                <div class="risk-limit" [style.background-color]="colors[0]?.ColorCode"><span class="risk-limit-left">LOW</span><span class="risk-limit-right">{{element.Limit1}}</span></div>
                <div class="risk-limit" style="margin: 1px 0px;" [style.background-color]="colors[1]?.ColorCode"><span class="risk-limit-left">MODERATE</span><span class="risk-limit-right">{{element.Limit2}}</span></div>
                <div class="risk-limit" [style.background-color]="colors[2]?.ColorCode"><span class="risk-limit-left">CRITICAL</span><span class="risk-limit-right">{{element.Limit3}}</span></div>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="score">
            <mat-header-cell *matHeaderCellDef class="text-center">Score</mat-header-cell>
            <mat-cell *matCellDef="let element" [style.background-color]="element.ColorCode" style="border-left: 0px;">
                <span class="break-word">{{element.MetricScore}}</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="remark">
            <mat-header-cell *matHeaderCellDef>Remarks</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span>{{element.Remarks}}</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="action-plan">Action Plan</mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: center;">
                <!-- <span>{{element.ActionPlan}}</span> -->
                <!-- <app-file-upload [evdname]="'Risk Unit Maker'" [inputData]="element" [disabled]="true"></app-file-upload> -->

                <div class="action-plan-disp">
                    <span>{{element.ActionPlan}}</span>
                </div>
                <div class="file-upload-disp">
                    <app-file-upload [evdname]="'Risk Unit Maker'" [inputData]="element" [disabled]="true" [showFileIcon]="true"></app-file-upload>
                </div>


            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="comments">
            <mat-header-cell *matHeaderCellDef>Comments</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <!-- <span>{{element.StatusName}}</span> -->

                <span>{{element.CommentData?(element.CommentData.length>0?element.CommentData[0].CommentBody:''):''}}</span>
                <!-- {{element.CommentData?(element.CommentData.length>1?(element.CommentData.length-1)+"Previous Comments Available":"NA"):"NA"}} -->
                <span class="spacer"></span>
                <button mat-icon-button *ngIf="element.CommentData?(element.CommentData.length>1):false"
                    matTooltip="Show Previous Comments" class="eye-icon"
                    (click)="showComments(element.CommentData?(element.CommentData.length>0?element.CommentData:[]):[])">
                    <mat-icon>visibility</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</mat-expansion-panel>
