.mat-tool-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
::ng-deep.mat-dialog-container{
    padding: 0px;
} 
 
table{
    box-shadow: none;
}
.mat-toolbar{
    background-image: linear-gradient(to right, #0B65A0 , #009873);
}
.mat-tool-bar{
    justify-content: space-between;
}
th,td{
    padding-left: 7px !important;
}
th{
    background-color: #e7e7e7;
    border-left: 1px solid #ffffff !important;
}
.mat-table-padding{
    padding: 20px; 
    height: 400px;
    max-width: 100%;
    overflow: auto;
}
.bottom-dig{
    background-color: #e7e7e7;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 45px;
}
.bottom-dig button{
    background-color: #c9c9c9;
    color: black;
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px 1px #777777;
    overflow: hidden;
} 
