// .container{
//     display: flex;
//     flex-direction: column;
// }

.mat-header-cell,
.mat-cell {
    border-right: 1px solid #eee;
    padding: 0 5px !important;
}

.mat-action-row {
    padding-left: 2rem;
}

.mat-elevation-z8 {
    margin: 0 1vw 1vw 1vw;
}
.example-form-field ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}
.example-form-field ::ng-deep .mat-form-field-underline {
    bottom: 0;
}
.seachInCident ::ng-deep .mat-form-field-label {
    top: 2em;
}

.mat-header-row {
    min-height: 7vh;
}

.mat-row {
    min-height: 6vh;
}

.td-center {
    display: flex;
    justify-content: center;
}

// .mat-cell {
// display: flex;
// justify-content: center;
// }

.mat-column-Index {
    max-width: 2vw;
    justify-content: center;
}

.mat-column-IncidentCode,
.mat-column-ReportingDate,
.mat-column-IncidentDate {
    max-width: 7vw;
}

.mat-column-IncidentUnit {
    max-width: 10vw;
}

.mat-column-IncidentStatus {
    max-width: 10vw;
}

.mat-column-IncidentType {
    max-width: 25vw;
}

.mat-column-Criticality {
    max-width: 5vw;
}

.mat-column-NoOfRecommendation {
    max-width: 7vw;
}
.mat-column-Open,
.mat-column-ClaimClosed,
.mat-column-Closed {
    max-width: 4vw;
}

// .mat-column-IncidentUnit,
// .mat-column-IncidentType {
//     padding-left: 0.2rem;
//     word-break:normal;
//     max-width: 16vw;
//     padding: 1em;
// }

.link {
    color: #2470a3;
    cursor: pointer;
    font-weight: bold;
}

.no-data {
    width: 100%;
    text-align: center;
    font-size: 3vh;
}

.header-align {
    padding-left: 1em;
    padding-top: 1em;
    text-align: left;
}

.checkbox-align {
    margin-right: 1em;
}

.col-header {
    // display: flex;
    // align-items: flex-start;
    // justify-content: center;
    border-right: 1px solid #fff;
    background-color: #E7E7E7;
}

.card1 {
    position: relative;
}

// .input {
//     position: relative;
//     width: 100%;
//     margin: 0;
// }

.field {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0.3rem;
    border: 1px solid #C2C2C2;
    box-shadow: unset;
    color: #474747;
    background-color: #fff;
    // font-size: 96% !important;
    // font-weight: 600;
    border-radius: 0.25rem !important;
}

.field:focus,
.field:not(:placeholder-shown) {
    &+.label {
        transform: translate(.25rem, -65%) scale(.8);
        color: #1065E4;
        padding: 0px 3px;
        background: #e8e7e78c;
        top: 6px;
        border-radius: 50%;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1em + 0.5rem + 2px);
    padding: 0.375rem 0.5rem;
    // font-size: 1rem;
    // font-weight: 400;
    // line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    // box-shadow: 0px 1px 0px #00000073;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: unset;
}

.label {
    position: absolute;
    left: 0;
    top: 50%;
    padding-left: calc(0.5rem * 0.75);
    /* margin: calc(0.5rem * 0.75 + 3px) calc(0.5rem * .5); */
    white-space: nowrap;
    transform: translatey(-50%);
    transform-origin: 0 0;
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
    z-index: 11;
    font-size: 1em !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.field:focus,
.field:not(:placeholder-shown) {
    &+.label {
        transform: translate(.25rem, -65%) scale(.8);
        color: #1065E4;
        padding: 0px 3px;
        background: #e8e7e78c;
        top: 6px;
        border-radius: 50%;
    }
}
.cal-icon {
    position: absolute;
    right: 2%;
    top: 25%;
}
.searchtxtboxicon {
    /* position: absolute;
    right: 3%;
    top: 50%;
    transform: translate(0, -50%); */
    color: #737373;
    // font-size: 120%;
    // font-size: 400;
}
.searchtxtboxicons {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translate(0, -50%);
    color: #737373;
    /* font-size: 120%; */
    font-size: 400;
}
button,
input,
optgroup,
select,
textarea input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  box-shadow: none;
//   font-size: 100% !important;
}

.fldcolor,
.fldcolor:focus,
.fldcolor:focus-visible,
input.fldcolor:focus,
input.fldcolor:focus-visible {
  background-color: #e6e6e6;
  /* border: 1px solid #676767; */
  color: #000;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 0.375rem 0.75rem;
  border-radius: .3em !important;
//   font-size: 100% !important;
}

// ---------------------------------------------------------------------------------------
.topbox {
    box-shadow: 2px 5px 10px #00000033;
    background-image: linear-gradient(0deg, #ffffff61 0%, rgba(255, 255, 255, 0) 100%);
    width: 97.5%;
    /* height:95px; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5em 0.2em;
    margin: 1em 1em 2em 1em;
  }

  .left_text_container {
    line-height: 1;
  }

  .left_upper_text {
    color: #CB4900;
    font-size: 1.2em;
  }

  .left_upper_number {
    font-size: 150%;
    font-weight: 600;
  }

  .result_container {
    display: flex;
    justify-content: space-around;
  }

  .result-box {
    box-shadow: 0px 1px 2px #4c4c4ce6;
    background-color: #bababa;
    width: 11.5em;
    height: 3em;
    border-radius: 100px;
    margin-right: 1em;
    position: relative;

    &:hover {
        cursor: pointer;
    }
  }

  .red{background-color: #C01313 !important;}
  .orange{background-color: #EA7C17 !important;}
  .green{background-color: #009E50 !important;}
  .redText{color: #C01313 !important;}
  .orangeText{color: #EA7C17 !important;}
  .greenText{color: #009E50 !important;}
  .text-color{color: #000 !important;}

  .result-textbox {
    box-shadow: 0px 4px 5px #00000073;
    background-image: linear-gradient(90deg, #dad9d9 0%, #ffffff 100%);
    width: 11em;
    height: 3em;
    border-radius: 100px;
  }

  .number_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 5em;
    height: -webkit-fill-available;
  }

  .result_status {
    color: #9C9A9A;
    width: 37px;
    position: absolute;
    left: 30%;
    top: 50%;
    text-align: left;
    font-size: 1em;
    letter-spacing: 0;
    transform: translate(50%, -50%);
    line-height: 1;
    font-weight: 600;
  }

  .border-right {
    width: .13em;
    height: 41px;
    margin-top: 2px;
    background-color: #9C9A9A;
  }

  .result_count {
    color: #9C9A9A;
    text-align: right;
    font-size: 2em;
    letter-spacing: 0;
    font-weight: bold;
  }

  .calendar {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px #0000001a;
    width: 300px;
    position: absolute;
    z-index: 1;
    display: none;
  }

  .main-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    /* font-size: 1rem;
    font-weight: 400;
    line-height: 1.5; */
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid black;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    /* box-shadow: 0px 1px 0px #00000073; */
  }

  .cal-icon {
    position: absolute;
    right: 2%;
    top: 25%;
  }

  .header-input-search {
    display: flex;
    align-items: center;
  }

  .mat-form-field-type-mat-date-range-input, .mat-form-field-infix  { height: unset !important;}
  .applyFilter button, .applyFilter button:focus {
    width: 24vh;
    min-height: 3.5vh;
    height: 4.5vh;
    padding: 0.3vh 0.6vw;
    box-shadow: 0.3vh 0.4vh 0.4vh 0px rgba(0, 0, 0, 0.28);
    border-left: 2vw solid #000;
    border-right: none;
    border-top: none;
    border-bottom: none;
    transition: width 2s;
    border-radius: 0.5vh;
    color: white;
}
.btn {
    outline: none;
}
