.btn.btnreminder, .btn.btnreminder:active, .btn.btnreminder:focus, .btn.btnreminder:hover,
.btn.btnsave, .btn.btnsave:active, .btn.btnsave:focus, .btn.btnsave:hover,
.btn.btnsubmit, .btn.btnsubmit:active, .btn.btnsubmit:focus, .btn.btnsubmit:hover
{box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.45); padding: 0.8rem; color: #000 !important; vertical-align: middle; border-left: 3rem solid #000; position: relative;}


.btn.btnreminder, .btn.btnreminder:active, .btn.btnreminder:focus, .btn.btnreminder:hover { background: linear-gradient(90deg, #61C6FF 22.16%, #A9F0FF 99.53%) !important;}
.btn.btnsave, .btn.btnsave:active, .btn.btnsave:focus, .btn.btnsave:hover {
background: linear-gradient(90deg, #1EFF1A 32.57%, #5EFFBB 99.71%) !important;}
.btn.btnsubmit, .btn.btnsubmit:active, .btn.btnsubmit:focus, .btn.btnsubmit:hover {
border-radius: 5px; background: linear-gradient(90deg, #FF7474 32.86%, #FFD0AD 105.09%) !important;}
.btn.btnsubmit.modalBtnSbmit{padding: 0.4rem;}

.btn.btnreminder span, .btn.btnsave span, .btn.btnsubmit span {position: absolute; left: -14%; top: 50%; transform: translate(0, -50%);}
.btn.btnsubmit.modalBtnSbmit span {position: absolute; left: -60%; top: 50%; transform: translate(0, -50%);}

.modalrejectFld{
    border-radius: 5px;
    background: linear-gradient(90deg, #f2e1e1 32.86%, #f1f1f1 105.09%) !important;
}

.modalapproveFld{
    border-radius: 5px;
    background: linear-gradient(90deg,  #c8f2c8 32.57%, #f1f1f1 105.09%) !important;
}

