.mat-dialog-content {
    font-size: 2vh;
    font-weight: 700;
    max-height: 75vh;
}

/* Base styles for buttons */
.move-buttons .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin: 0.5em;
    width: 15vw;
    padding: 0.5em;
    border-radius: 0.3em;
    color: #fff;
    background: linear-gradient(45deg, rgba(29, 160, 79, 0.8), rgba(11, 89, 161, 0.8));
    outline: none;
    border: none;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));
    opacity: 1;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

/* Specific styles for the 'save' button */
.move-buttons .buttons.save {
    justify-content: center;
    background: #245A8C;
}

/* Disabled state */
.move-buttons .buttons:disabled {
    background: #cccccc; /* Gray background */
    color: #666666;      /* Muted text color */
    cursor: not-allowed; /* Unclickable cursor */
    opacity: 0.7;        /* Slight transparency for visual cue */
    filter: none;        /* Remove drop-shadow for disabled state */
}

.mat-dialog-content {
    font-size: 2vh;
    font-weight: 700;
    max-height: 79vh;
}

