<div class="mainClassRow">
    <div style="display: flex;justify-content: space-between;">
        <h1 style="color:rgb(224, 82, 35);margin: 0px;"><span
                style="font-size:4vh;font-weight:700; margin-right:5px;">{{totalCountOfKri}}</span><span
                style='font-weight:none;font-size: 2.8vh;'>KRIs</span></h1>
        <div class="top" style="display: flex; margin-left: 15.5vh; cursor: pointer">
            <mat-card *ngFor="let m of quarterMonths; let i = index" class="top-bar"
                [ngClass]="[m.cssClass, selectedMonth === m.month ? 'active-month' : 'inactive-month']"
                (click)="onMonthClick(m)">
                <div class="centered-text">
                    <span class="font-num">{{ m.name }}</span>
                </div>
            </mat-card>
        </div>

    </div>
    <div class="mainClassRowInner">
        <div class="matInnerClassFirst">
            <mat-card style="height: 40%;" class="mat-card-bg mat-elevation-z8">
                <p class="kri-text all-header-fontsize">KRI Score</p>
                <div style="height: calc(100% - 32px);display:flex;align-items: center;width: 100%;">
                    <div style="display:flex; justify-content: space-between;width: 100%;">
                        <div *ngFor="let i of kriScoreData let j=index">
                            <div (click)="openPopUp(i.KRIValue)" style="cursor:pointer;"
                                matTooltip="view more information" matTooltipPosition="above" class="rd-kris1"
                                [style.backgroundColor]='getColorCodeData(j+1)'>
                                <div class="rd-kris-sc1" style="color:#373434; opacity: .2">{{j+1}}</div>
                                <div class="rd-kris-cont">
                                    <div style="padding-bottom:10px;">
                                        <div class="rd-kris-fig" style="margin-bottom:5px;">
                                            {{getKriScoreData(i.KRIValue)}}
                                        </div>
                                        <div class="rd-kris-lbl">Units</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
            <mat-card style="margin-top:4vh; height: calc(60% - 4vh);" class="mat-elevation-z8"
                [style.overflow]="'auto'">
                <p class="all-header-fontsize"><span class="kri-text">Migration</span> of Units</p>
                <mat-card-content class="custom" *ngFor="let i of unitsListData">
                    <app-kri-unit [fulldata]="chartData" [data]="i"></app-kri-unit>
                </mat-card-content>
                <p class="no-data" *ngIf="unitsListData?.length == 0">No Data Found</p>
            </mat-card>
        </div>
        <div class="matInnerClassSecond">
            <mat-card class="mat-elevation-z8" style="height: calc(100% - 32px); display:flex;flex-direction:column;">
                <div style="height:50%;">
                    <h1 style="margin-bottom: -5px;" class="all-header-fontsize">Top
                        <span class="kri-text">Units having # of KRIs in the Red Zone</span>
                    </h1>
                    <div style="margin-top: 15px;">
                        <table mat-table [dataSource]="dataSource" MatSort class="mat-elevation-z8">
                            <ng-container matColumnDef="unit">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element" style="font-size:14px;"
                                    matTooltip="view more information" matTooltipPosition="above"> {{element?.Unit}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="count">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let element" style="font-size:20px;"> {{element?.Count}} </td>
                            </ng-container>
                            <ng-container matColumnDef="percent">
                                <th mat-header-cell *matHeaderCellDef style="font-size:11px; text-align: center;">
                                    <div style="display: flex; justify-content: flex-end; align-items:center;">Change Compared<br> to Last Month</div>
                                </th>
                                <td mat-cell *matCellDef="let element"
                                    style="text-align: center;color: rgb(148, 147, 147)">
                                    <div style="display: flex; justify-content: flex-end; align-items:center;">
                                        <div style="margin-right:4px;"
                                            [ngClass]="{'triangle-up': element?.color=== 'red', 'triangle-down': element?.color=== 'green', 'triangle-space': element?.color=== ''}">
                                        </div>
                                        <span
                                            style="width: 35px;text-align: right;">{{getSymbol(element?.Percent)}}</span>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns1;" style="cursor: pointer;"
                                (click)="getRow(row,1)"></tr>
                        </table>
                    </div>
                    <div style="display: flex; justify-content:end; margin-top:15px;">
                        <button class="viewAll"
                            style="cursor: pointer;font-style: italic; font-style: Roboto Condensed;"
                            (click)="unitPopUp(1)">
                            <p matTooltip="view more information" matTooltipPosition="above">View All</p>
                        </button>
                    </div>
                </div>
                <div style="margin-bottom:-10px; height:50%;">
                    <h1 class="all-header-fontsize" style="margin-bottom: -5px;">Top
                        <span class="kri-text">Units having # of KRIs in the Amber Zone</span>
                    </h1>
                    <div class="example-container" style="margin-top: 15px;">
                        <table mat-table [dataSource]="dataSource1" MatSort
                            style="box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%)">
                            <ng-container matColumnDef="unit">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element" style="font-size:14px;"
                                    matTooltip="view more information" matTooltipPosition="above"> {{element?.Unit}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="count">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let element" style="font-size:20px;"> {{element?.Count}} </td>
                            </ng-container>
                            <ng-container matColumnDef="percent">
                                <th mat-header-cell *matHeaderCellDef style="font-size:11px; text-align: center">
                                        <div style="display: flex; justify-content: flex-end; align-items:center;">Change Compared<br> to Last Month</div>
                                </th>
                                <td mat-cell *matCellDef="let element"
                                    style="text-align: center;color: rgb(148, 147, 147)">
                                    <div
                                        style="display: flex; justify-content: flex-end; align-items:center; margin-left:20px;">
                                        <div style="margin-right:4px; text-align: center;"
                                            [ngClass]="{'triangle-up': element?.color=== 'red', 'triangle-down': element?.color=== 'green', 'triangle-space': element?.color=== ''}">
                                        </div>
                                        <span style="width: 35px;text-align: right;">
                                            {{getSymbol(element?.Percent)}}</span>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns1;" style="cursor: pointer;"
                                (click)="getRow(row,2)"></tr>
                        </table>
                    </div>
                    <div style="display: flex; justify-content:end; margin-top:15px;">
                        <button class="viewAll"
                            style="cursor: pointer; font-style: italic; font-family: Roboto Condensed;padding-bottom: -10px;"
                            (click)="unitPopUp(2)">
                            <p matTooltip="view more information" matTooltipPosition="above">View All</p>
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="matInnerClassThird">
            <mat-card style="display: flex; flex-direction: column; justify-content: space-between; height: 30%;"
                class="mat-elevation-z8">
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <p class="all-header-fontsize"><span class="kri-text">KRI</span> Status wise</p>
                        <P class="quater-dts" style="margin-top: -10px;">{{this.quaterDateRange}}</P>
                    </div>
                    <div>
                        <p align="end" class="all-header-kris">
                            <span style="color:rgb(224, 82, 35);font-weight: 500;">{{totalCountOfKri}} KRIs Scheduled</span>
                        </p>
                        <!-- <P class="due-date" style="margin-top: -10px; text-align: end;">{{this.totalDaysinQuater}}</P> -->
                         <p class="due-date" style="margin-top: -10px; text-align: end;"></p>
                        <p (click)="approve()" style="margin-top: -2vh;font-size: 11px;color: green;cursor: pointer;">Approved</p>
                        <p style="margin-top: -4.3vh; margin-left: 7vh;color: green;font-size: 11px;">{{this.approved}}</p>
                        <p (click)="reject()" style="margin-top: -4.3vh; margin-left: 12.5vh;font-size: 11px;color: red;cursor: pointer;">Rejected</p>
                        <p style="margin-top: -4.3vh;margin-left: 19vh;color: red;font-size: 11px;">{{this.rejected}}
                        </p>
                    </div>
                </div>
                <div>
                    <app-kri-chart [chartValue]="chartData" [datacount]="countData" [quarterFilter]="quarterFilter"></app-kri-chart>
                </div>
            </mat-card>
            <mat-card style="margin-top:4vh; height: calc(60% - 4vh);" class="mat-elevation-z8">
                <p class="all-header-fontsize">
                    <span class="kri-text all-header-fontsize">Comparative</span>Position<br>as compared to Last Reporting Cycle
                </p>
                <div>
                    <div *ngFor="let i of KeyRiskIndicatorCycleReporting let j=index">
                        <div>
                            <div class="rd-roundlbl bg-red" [style.background-color]="i.color"
                                style="margin-top: 15px; width: 65%; margin-left: auto; margin-right: auto;">
                                <div class="rd-roundlbl-cont">
                                    <div class="rd-roundlbl-fig txt-critical"
                                        style="display: flex;font-size:3vh;  justify-content: flex-end; align-items: center; margin-left: 10px;"
                                        [style.color]="i.color">{{i.cycle}} <span
                                            style="color:black; font-size: 2vh;">%</span>
                                    </div>
                                    <div style="margin-left:5px;" class="rd-roundlbl-lin bg-red"
                                        [style.background-color]="i.color"></div>
                                    <div class="rd-roundlbl-lbl font-weight-bold" style="font-size: 12px;"><span
                                            style="font-weight:700;">{{i.cycleText}}</span> <br> in # of Units
                                        {{i.zone}}
                                    </div><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>