<p style="color: #ffff;">
    {{notstarted}} Units Which has <span style="color: yellow;">Not Started</span>
</p>
<table width="100%" bordercolor='#ffff' style="background-color:black;" mat-table [dataSource]="dataSource"
    class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="idx">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element" style="color: yellow;"> {{dataSource.indexOf(element)+1}} </td>
    </ng-container>
    <ng-container matColumnDef="units">
        <th mat-header-cell *matHeaderCellDef> Units</th>
        <td mat-cell *matCellDef="let element" style="color: yellow;"> {{element.UnitName}} </td>
    </ng-container>
    <ng-container matColumnDef="risk-metric">
        <th mat-header-cell *matHeaderCellDef> # Of Risk Metrics</th>
        <td mat-cell *matCellDef="let element" style="color:skyblue;"> {{element.StatusName}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>