/* NAVIGATION */

.bg-light.topmenuBg {background-color: transparent !important; padding-inline: 0; height: 29%; padding-inline: 7%; padding-block: 0;}

.bg-light.topmenuBg div {border-bottom: 1px solid #ffffff69; position: relative;}
.navbar-brand.risktrac  {position: absolute; top: 50%; transform: translateY(-50%); padding: 0;}
.navbar-brand.risktrac img {width: 10em;}


/* END NAVIGATION */

/* FILTER */

.topFilter {font-size: 1.2em;}
.nav-tabs.top-nav-tabs {border-bottom: none;}
.nav-link.topTabBg {background-color: #00000010; border: none; color: #000; cursor: pointer; font-size: 90%; padding: 0 1vw; margin-inline: 0.05vw;}
.nav-link:nth-child(1).topTabBg {margin-left: 0;}
.nav-tabs .nav-item.show.topTabBg .nav-link, .nav-tabs .nav-link.topTabBg.active {background-color: #ffffff30; border: none; color: #fff;}
.nav-tabs .nav-link.topTabBg:focus {outline: none;}

.fontWhite {color: #fff; text-decoration:none;}
.fontWhite:hover {color: #fff; text-decoration:underline;}
.topFilter.fontBlack {color: #000; line-height: 1.3; padding-inline: 7%;}

.help {display: inline-block; width: 1.3em; aspect-ratio: 1 / 1; background-color: #fff; color: #000; text-align: center; border-radius: 50vh; vertical-align: middle;}


