@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("theme.css");
@import url("nav.css");
@import url("form-fields.css");
@import url("layout.css");
@import url("modal.css");
@import url("tables.css");
@import url("media-query.css");

* {
  font-weight: normal;
}

:root {
  touch-action: pan-x pan-y;
  height: 100%
}

html {
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
  font-size: 62.5%;
}

body {
  background: #f2f2f2 !important;
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 14px;
  color: #333;
  height: 100vh;
}

.fontweight300 {
  font-weight: 300;
}

.h-3 {
  height: 3%
}

.h-4 {
  height: 4%
}

.h-5 {
  height: 5%
}

.h-6 {
  height: 6%
}

.h-7 {
  height: 7%
}

.h-8 {
  height: 8%
}

.h-9 {
  height: 9%
}

.h-10 {
  height: 10%
}

.h-12 {
  height: 12%
}

.h-15 {
  height: 15%
}

.h-16{height:16%}

.h-18 {
  height: 18%
}

.h-20 {
  height: 20%
}

.h-233 {
  height: 23.3%
}

.h-22 {
  height: 22%
}

.h-24 {
  height: 24%
}

.h-28 {
  height: 28%
}

.h-30 {
  height: 30%
}

.h-35 {
  height: 35%
}

.h-40 {
  height: 40%
}

.h-55 {
  height: 55%
}

.h-60 {
  height: 60%
}

.h-70 {
  height: 70%
}

.h-71 {
  height: 71%
}

.h-72 {
  height: 72%
}

.h-74 {
  height: 74%
}

.h-76 {
  height: 76%
}

.h-77 {
  height: 77%
}

.h-80 {
  height: 80%
}

.h-82 {
  height: 82%
}

.h-83 {
  height: 83%
}

.h-84 {
  height: 84%
}

.h-85 {
  height: 85%
}

.h-87 {
  height: 87%
}

.h-88 {
  height: 88%
}

.h-90 {
  height: 90%
}

.h-91 {
  height: 91.8%
}

.h-92,
.hp-92 {
  height: 92%
}

.h-93 {
  height: 93%
}

.h-93-6 {
  height: 93.6%
}

.h-94 {
  height: 94%
}

.h-95 {
  height: 95%
}

.h-96 {
  height: 96%
}

.h-97 {
  height: 97%
}

.w-3 {
  width: 3%;
}

.w-4 {
  width: 4%;
}

.w-5 {
  width: 5%;
}

.w-6 {
  width: 6%;
}

.w-7 {
  width: 7%;
}

.w-8 {
  width: 8%;
}

.w-9 {
  width: 9%;
}

.w-10 {
  width: 10%;
}

.w-11 {
  width: 11%;
}

.w-12 {
  width: 12%;
}

.w-13 {
  width: 13%;
}

.w-15 {
  width: 15%;
}

.w-16 {
  width: 16%;
}

.w-18 {
  width: 18%;
}

.w-20 {
  width: 20%;
}

.w-23 {
  width: 23%;
}

.w-24 {
  width: 24%;
}

.w-25 {
  width: 25%;
}

.w-26 {
  width: 26%;
}

.w-27 {
  width: 27%;
}

.w-28 {
  width: 28%;
}

.w-30 {
  width: 30%;
}

.w-31 {
  width: 31%;
}

.w-35 {
  width: 35%;
}

.w-36 {
  width: 36%;
}

.w-40 {
  width: 40%;
}

.w-44 {
  width: 44%;
}

.w-45 {
  width: 45%;
}

.w-46 {
  width: 46%;
}

.w-60 {
  width: 60%;
}

.w-66 {
  width: 66%;
}

.w-68 {
  width: 68%;
}

.w-70 {
  width: 70%;
}

.w-79 {
  width: 79%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.scrollbody {
  max-height: 20vh;
  display: block;
  overflow-x: auto;
  min-width: 20vw
}

::-webkit-scrollbar {
  width: .6vw;
  -webkit-appearance: none;
  background: #E4E4E4 !important;
  outline: 0;
  opacity: .7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 10px
}

::-webkit-scrollbar-track {
  overflow: hidden
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: .5px solid #BDBDBD !important;
  width: 15px;
  height: 50px !important;
  background: #BDBDBD !important;
  cursor: pointer
}

::-webkit-scrollbar-thumb:hover {
  background: #5c6170 !important;
  border: .5px solid #272727 !important
}

.maxWidth4 {
  max-width: 4vw;
}

.maxWidth {
  max-width: 9vw;
}

.maxWidth10 {
  max-width: 10vw;
}

.maxWidth12 {
  max-width: 12vw;
}

.maxWidth17 {
  max-width: 17vw;
}

.maxWidth18 {
  max-width: 18vw;
}

.maxWidth20 {
  max-width: 20vw;
}

.maxWidth22 {
  max-width: 22vw;
}

.maxWidth40 {
  max-width: 40vw;
}

.minHeight72 {
  min-height: 72vh;
}

.heightVH-22 {
  height: 22vh;
}

.minwidth10vw {
  min-width: 10vw;
}

.ptpb {
  padding-block: 1.1%;
}

.textSmall {
  font-size: 80%;
}

.vscroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.hscroll {
  overflow-x: auto;
  overflow-y: hidden;
}

.vmiddleLeft {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.vmiddleRight {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.hmiddle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.vhmiddle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}

sup {
  font-size: 1rem;
}

sup.red {
  color: #ff0000;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0.7;
}

/* SLIDER */
.switch {
  display: inline-block;
  width: 100%;
  height: 2.8vh;
  zoom: reset;
  margin-inline: auto;
  font-size: 1em;
}

.lbswitch {
  width: 4vw;
  position: relative;
}

.switch span:nth-child(1) {
  top: 22%;
  left: 7%;
}

.switch span:nth-child(3) {
  top: 20%;
  right: 5%;
}


.switch.stanpower span:nth-child(1) {
  top: 20%;
  left: 7%;
}


.switch.stanpower span:nth-child(3) {
  top: 20%;
  right: -1%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 40%;
  left: 22%;
  bottom: 0;
  background-color: #DAE2E8;
  border: 1px solid rgba(196, 196, 196, 1);
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 80%;
  width: 70%;
  height: 1.2vh;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.2vh;
  width: 1vw;
  left: 1.7vw;
  bottom: -0.6vh;
  background-color: #8B847D;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:after {
  position: absolute;
  content: "";
  height: 2.4vh;
  width: 1.2vw;
  left: -0.7vw;
  bottom: -0.8vh;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #DAE2E8;
  border: 1px solid #CCD6DD;
}

input:focus+.slider {
  box-shadow: 0 0 1px #77828A;
}

input:checked+.slider:before {
  -webkit-transform: translateX(-2.4vw);
  -ms-transform: translateX(-2.4vw);
  transform: translateX(-2.4vw);
  background-color: rgba(196, 196, 196, 1);
}

input:checked+.slider:after {
  position: absolute;
  content: "";
  height: 2vh;
  width: 1.1vw;
  left: 2.3vw;
  bottom: -0.8vh;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Rounded sliders */
.slider.roundflt {
  border-radius: 34px;
}

.slider.roundflt:before {
  border-radius: 50%;
}

select.tbledrop {
  background-color: #191919;
  border-radius: 0;
}

input.green:checked+.slider:before {
  background-color: #40D790;
}

input.golden:checked+.slider:before {
  background-color: #E0A84F;
}

.slider.golden:before {
  background-color: #77828A;
}

.slider.golden:after {
  content: "";
  left: -2vw;
  bottom: -1vh;
}


input.golden:checked+.slider:after {
  content: "";
  height: 2vh;
  left: 2.3vw;
  bottom: -0.8vh;
}

.input-field select,
.searchtxtbox {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5em 0.2em;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  color: #111;
  background-color: #fff;
  border-radius: 0;
}

.txtGreen {
  color: #07A145;
}

.progress.tableProgress {
  background-color: #e7e7e7;
  border-radius: 50vh;
}

.progress.tableProgress .progress-bar {
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%) left/10px 10px repeat-x, linear-gradient(to right, #FF8413 0%, #86badd 90%), lightgray;
  box-shadow: inset 0px -2px 5px rgba(1, 1, 1, 0.5);
  animation: zebra 1s linear infinite;
  border-radius: 50vh;
}


.progress.tableProgress .progress-bar-risk {
  background:linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%) left / 10px 10px repeat-x, linear-gradient(to right, #13AAFF 0%, #76FFA5 90%), lightgray;
  box-shadow: inset 0px -2px 5px rgba(1, 1, 1, 0.5);
  animation: zebra 1s linear infinite;
  border-radius: 50vh;
}

.progress.progressFilterBar {
  background-color: #e7e7e759;
  border-radius: 50vh;
}

.progress.progressFilterBar .progress-bar {
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%) left/10px 10px repeat-x, linear-gradient(to right, #13AAFF 0%, #76FFA5 90%), lightgray;
  box-shadow: inset 0px -2px 5px rgba(1, 1, 1, 0.5);
  animation: zebra 1s linear infinite;
}


@keyframes zebra {
  from {
    background-position: 0 0, left
  }

  to {
    background-position: 20px 0, left
  }
}

.fontSize13rem {
  line-height: 1;
  font-size: 1.3rem;
}


.table-model-bg{
  background: #f2f2f2 !important;
}

.font-italic {
  font-style: italic;
}


.mat-mdc-icon-button[disabled] {
  opacity: 0.5 !important;
}
