<mat-toolbar class="fontSize">
    <span>Inherent Risk Rating</span>
    <span class="spacer"></span>
</mat-toolbar>
<div class="container">
    <div class="Grouptable" fxLayout="row wrap" fxLayoutAlign="space-around stretch">
        <!--Risk Category start-->
        <div fxFlex="33" fxFlex.md="32" fxFlex.lg="32" fxFlex.sm="100" fxFlex.xs="100" fxFlexAlign="stretch">
            <span><b>Risk Category</b></span>
            <mat-card class="mat-elevation-z4" fxFlexAlign="stretch">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="RiskCategoryGridForms" autocomplete="off">
                        <ng-container formArrayName="GridRows">

                            <mat-table [dataSource]="dataSourceRiskCategory" matSort
                                class="risk-category-table risk-table--compact">

                                <!-- # -->
                                <ng-container matColumnDef="RowNumber">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
                                    <mat-cell *matCellDef="let row" [formGroup]="row">
                                        {{ row.get('RowNumber')?.value }}
                                    </mat-cell>
                                </ng-container>

                                <!-- Category -->
                                <ng-container matColumnDef="Category">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
                                    <mat-cell *matCellDef="let row" [formGroup]="row">
                                        <!-- View -->
                                        <span class="cell-text" *ngIf="row.get('isEditable')?.value">
                                            {{ row.get('Category')?.value }}
                                        </span>
                                        <!-- Edit -->
                                        <mat-form-field *ngIf="!row.get('isEditable')?.value" appearance="legacy"
                                            class="cell-field">
                                            <input matInput formControlName="Category">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>

                                <!-- Corporate Objective -->
                                <ng-container matColumnDef="CorporateObjective">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Corporate
                                        Objective</mat-header-cell>
                                    <mat-cell *matCellDef="let row" [formGroup]="row">
                                        <!-- View -->
                                        <span class="cell-text" *ngIf="row.get('isEditable')?.value">
                                            {{ row.get('CorporateObjectiveName')?.value }}
                                        </span>
                                        <!-- Edit -->
                                        <mat-form-field *ngIf="!row.get('isEditable')?.value" appearance="legacy"
                                            class="cell-field">
                                            <mat-select formControlName="CorporateObjectiveID"
                                                (selectionChange)="onCorporateObjectiveChange(row, $event.value)">
                                                <mat-option *ngFor="let obj of corporateObjectives"
                                                    [value]="obj.CorporateObjectiveID">
                                                    {{ obj.CorporateObjectiveName }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>

                                <!-- Status -->
                                <ng-container matColumnDef="Status">
                                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                                    <mat-cell *matCellDef="let row" [formGroup]="row" class="status-cell">
                                        <mat-slide-toggle [checked]="row.get('IsActive')?.value"
                                            (change)="changedRiskCategory(row,$event)">
                                        </mat-slide-toggle>
                                        <span class="status-label" *ngIf="row.get('IsActive')?.value">Enabled</span>
                                        <span class="status-label" *ngIf="!row.get('IsActive')?.value">Disabled</span>
                                    </mat-cell>
                                </ng-container>

                                <!-- Action -->
                                <ng-container matColumnDef="Action">
                                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index" [formGroup]="row"
                                        class="action-cell">
                                        <!-- Save / Cancel (edit mode) -->
                                        <button mat-icon-button color="primary" *ngIf="!row.get('isEditable')?.value"
                                            (click)="saveEditRiskCategoryData(RiskCategoryGridForms,i)"
                                            [disabled]="!row.valid">
                                            <mat-icon>check_circle</mat-icon>
                                        </button>
                                        <button mat-icon-button color="warn" *ngIf="!row.get('isEditable')?.value"
                                            (click)="CancelRiskCategory(RiskCategoryGridForms,i)">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                        <!-- Edit (view mode) -->
                                        <button mat-icon-button color="primary" *ngIf="row.get('isEditable')?.value"
                                            (click)="editRiskCategoryData(RiskCategoryGridForms,i)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedRiskCategoryColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedRiskCategoryColumns;"></mat-row>

                            </mat-table>


                        </ng-container>
                    </form>
                </mat-card-content>

                <mat-error *ngIf="saveRiskCategoryerror">{{saveRiskCategoryerror}}</mat-error>
                <mat-error *ngIf="exceedCharLenErr && type == 'RiskCategory'">{{exceedCharLenErr}}</mat-error>

                <mat-card-actions class="">
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button mat-mini-fab color="warn" aria-label="add risk category"
                            (click)="initiatAddRiskCategory()" *ngIf="!addRiskCategorydg">
                            <mat-icon>add</mat-icon>
                        </button>

                        <!-- ADD FORM (responsive row-wrap like Overall Inherent Risk Rating) -->
                        <form [formGroup]="riskCategoryForm" *ngIf="addRiskCategorydg" autocomplete="off" fxLayout="row"
                            fxLayoutAlign="start center" fxLayoutGap="10px" fxFlex.xs="98%" fxFlex.lg="98%">
                            <input formControlName="txtRiskCategoryID" hidden="true">
                            <!-- Risk Category Name -->
                            <mat-form-field appearance="fill" fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.lg="35%">
                                <mat-label>Risk Category Name</mat-label>
                                <input matInput formControlName="txtRiskCategoryName">
                            </mat-form-field>
                            <!-- Corporate Objective -->
                            <mat-form-field appearance="fill" fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.lg="35%">
                                <mat-label>Corporate Objective</mat-label>
                                <mat-select formControlName="ddlCorporateObjectiveID">
                                    <mat-option *ngFor="let obj of corporateObjectives"
                                        [value]="obj.CorporateObjectiveID">
                                        {{ obj.CorporateObjectiveName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- Save -->
                            <button fxFlexOffset="10px" mat-mini-fab aria-label="Save Risk Category"
                                (click)="saveRiskCategoryData()" [disabled]="!riskCategoryForm.valid">
                                <mat-icon>check</mat-icon>
                            </button>
                            <!-- Cancel -->
                            <button mat-mini-fab fxFlexOffset="10px" color="warn" aria-label="Cancel Risk Category"
                                (click)="cancelRiskCategory()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </form>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <!--Risk Category end-->


        <div fxFlex="33" fxFlex.md="32" fxFlex.lg="32" fxFlex.sm="100" fxFlex.xs="100" fxFlexAlign="stretch">
            <span><b>Process</b></span>
            <mat-card class="mat-elevation-z4" fxFlexAlign="stretch">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="GridFormsProcessRisk" autocomplete="off">
                        <ng-container formArrayName="GridRows">
                            <mat-table [dataSource]="dataSourceProcessRisk" matSort>
                                <ng-container matColumnDef="Index">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [formGroup]="row">
                                        {{GridFormsProcessRisk.get('GridRows')?.value[i].Index}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Name">
                                    <mat-header-cell *matHeaderCellDef style="min-width: 14vw;"
                                        mat-sort-header>Process</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [formGroup]="row" style="flex: 1 1 100%;
                                    box-sizing: border-box;
                                    max-width: 41%;
                                    padding-right: 8px" class="tablecolumnspan">
                                        <span style="word-wrap: break-word;
                                        overflow-wrap: break-word;
                                        min-width: 12vw;
                                        white-space: normal;"
                                            [hidden]="!GridFormsProcessRisk.get('GridRows')?.value[i].isEditable">{{GridFormsProcessRisk.get('GridRows')?.value[i].Name}}</span>
                                        <mat-form-field
                                            [appearance]="GridFormsProcessRisk.get('GridRows')?.value[i].isEditable? 'none' : 'legacy'">
                                            <input matInput type="text" formControlName="Name"
                                                [hidden]="GridFormsProcessRisk.get('GridRows')?.value[i].isEditable"
                                                [readonly]="GridFormsProcessRisk.get('GridRows')?.value[i].isEditable">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Action">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [formGroup]="row">
                                        <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                                            matTooltip="Save Changes"
                                            (click)="saveEditProcessRiskData(GridFormsProcessRisk,i)"
                                            [disabled]="!row.valid"
                                            *ngIf="!GridFormsProcessRisk.get('GridRows')?.value[i]?.isEditable"
                                            color="primary">
                                            <mat-icon>check_circle</mat-icon>
                                        </button>

                                        <button mat-icon-button class="material-icons app-toolbar-menu cancel-button"
                                            matTooltip="Cancel Changes" color="warn"
                                            (click)="CancelProcessRisk(GridFormsProcessRisk,i)"
                                            *ngIf="!GridFormsProcessRisk.get('GridRows')?.value[i]?.isEditable">
                                            <mat-icon>cancel</mat-icon>
                                        </button>

                                        <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                                            *ngIf="GridFormsProcessRisk.get('GridRows')?.value[i]?.isEditable"
                                            matTooltip="Edit" color="primary"
                                            (click)="editProcessRiskData(GridFormsProcessRisk,i)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [formGroup]="row">
                                        <mat-slide-toggle
                                            [checked]="GridFormsProcessRisk.get('GridRows')?.value[i]?.IsActive"
                                            (change)="changedProcessRisk(row,$event)">
                                        </mat-slide-toggle>
                                        <span
                                            *ngIf="GridFormsProcessRisk.get('GridRows')?.value[i]?.IsActive">Enabled</span>
                                        <span
                                            *ngIf="!GridFormsProcessRisk.get('GridRows')?.value[i]?.IsActive">Disabled</span>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedProcessRiskColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedProcessRiskColumns;"></mat-row>
                            </mat-table>
                        </ng-container>
                    </form>
                </mat-card-content>

                <mat-error *ngIf="saveProcessRiskerror">{{saveProcessRiskerror}}</mat-error>
                <mat-error *ngIf="exceedCharLenErr && type == 'Process'">{{exceedCharLenErr}}</mat-error>

                <mat-card-actions class="">
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button mat-mini-fab color="warn" aria-label="add process risk"
                            (click)="initiatAddProcessRisk()" *ngIf="!addProcessRiskdg">
                            <mat-icon>add</mat-icon>
                        </button>
                        <form [formGroup]="processRiskForm" autocomplete="off" *ngIf="addProcessRiskdg">
                            <input formControlName="txtrateid" hidden="true">
                            <mat-form-field appearance="fill" fxFlex.xs="100%" fxFlex.lg="60%" fxFlex.sm="60%">
                                <mat-label>Process Name</mat-label>
                                <input matInput formControlName="txtratename">
                            </mat-form-field>
                            <button fxFlexOffset="10px" [disabled]="!processRiskForm.valid" mat-mini-fab
                                aria-label="add process risk" (click)="saveProcessRiskData()" *ngIf="addProcessRiskdg">
                                <mat-icon>check</mat-icon>
                            </button>
                            <button mat-mini-fab fxFlexOffset="10px" color="warn" aria-label="add process risk"
                                (click)="cancelProcessRisk()" *ngIf="addProcessRiskdg">
                                <mat-icon>close</mat-icon>
                            </button>
                        </form>

                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxFlex="33" fxFlex.md="32" fxFlex.lg="32" fxFlex.sm="100" fxFlex.xs="100" fxFlexAlign="stretch">

            <span><b>Inherent Likelihood Rating</b></span>
            <mat-card class="mat-elevation-z4" xFlexAlign="stretch">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="GridFormsInherentLikelihoodRating" autocomplete="off">
                        <ng-container formArrayName="GridRows">
                            <mat-table [dataSource]="dataSourceInherentLikelihoodRate" matSort>
                                <ng-container matColumnDef="Index">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [formGroup]="row">
                                        {{GridFormsInherentLikelihoodRating.get('GridRows')?.value[i].RowNumber}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="RatingName">
                                    <mat-header-cell *matHeaderCellDef style="min-width: 23vh;"
                                        mat-sort-header>Rating</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [formGroup]="row"
                                        style="flex: 1 1 100%; box-sizing: border-box; max-width: 34%; padding-right: 8px;"
                                        class="tablecolumnspan">
                                        <span
                                            style="word-wrap: break-word; overflow-wrap: break-word; white-space: normal;"
                                            [hidden]="!GridFormsInherentLikelihoodRating.get('GridRows')?.value[i].isEditable">{{GridFormsInherentLikelihoodRating.get('GridRows')?.value[i].Rating}}</span>
                                        <mat-form-field
                                            [appearance]="GridFormsInherentLikelihoodRating.get('GridRows')?.value[i].isEditable? 'none' : 'legacy'">
                                            <input matInput type="text" formControlName="Rating"
                                                [hidden]="GridFormsInherentLikelihoodRating.get('GridRows')?.value[i].isEditable"
                                                [readonly]="GridFormsInherentLikelihoodRating.get('GridRows')?.value[i].isEditable">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="RatingScore">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Score</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [formGroup]="row">
                                        <mat-form-field
                                            [appearance]="GridFormsInherentLikelihoodRating.get('GridRows')?.value[i].isEditable? 'none' : 'legacy'">
                                            <input matInput type="number" min="0" (keypress)="keyPressNumber($event)"
                                                formControlName="Score"
                                                [readonly]="GridFormsInherentLikelihoodRating.get('GridRows')?.value[i].isEditable">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Action">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [formGroup]="row">
                                        <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                                            matTooltip="Save Changes"
                                            (click)="saveEditInherentLikelihoodRateData(GridFormsInherentLikelihoodRating,i)"
                                            [disabled]="!row.valid"
                                            *ngIf="!GridFormsInherentLikelihoodRating.get('GridRows')?.value[i]?.isEditable"
                                            color="primary">
                                            <mat-icon>check_circle</mat-icon>
                                        </button>

                                        <button mat-icon-button class="material-icons app-toolbar-menu cancel-button"
                                            matTooltip="Cancel Changes" color="warn"
                                            (click)="CancelInherentLikelihoodRate(GridFormsInherentLikelihoodRating,i)"
                                            *ngIf="!GridFormsInherentLikelihoodRating.get('GridRows')?.value[i]?.isEditable">
                                            <mat-icon>cancel</mat-icon>
                                        </button>

                                        <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                                            *ngIf="GridFormsInherentLikelihoodRating.get('GridRows')?.value[i]?.isEditable"
                                            matTooltip="Edit" color="primary"
                                            (click)="editInherentLikelihoodRateData(GridFormsInherentLikelihoodRating,i)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [formGroup]="row">
                                        <mat-slide-toggle
                                            [checked]="GridFormsInherentLikelihoodRating.get('GridRows')?.value[i]?.IsActive"
                                            (change)="changedInherentLikelihoodRate(row,$event)">
                                        </mat-slide-toggle>
                                        <span
                                            *ngIf="GridFormsInherentLikelihoodRating.get('GridRows')?.value[i]?.IsActive">Enabled</span>
                                        <span
                                            *ngIf="!GridFormsInherentLikelihoodRating.get('GridRows')?.value[i]?.IsActive">Disabled</span>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row
                                    *matHeaderRowDef="displayedInherentLikelihoodRateColumns"></mat-header-row>
                                <mat-row
                                    *matRowDef="let row; columns: displayedInherentLikelihoodRateColumns;"></mat-row>
                            </mat-table>
                        </ng-container>
                    </form>
                </mat-card-content>

                <mat-error *ngIf="saveInherentLikelihoodRateerror">{{saveInherentLikelihoodRateerror}}</mat-error>
                <mat-error *ngIf="exceedCharLenErr && type == 'Rating'">{{exceedCharLenErr}}</mat-error>

                <mat-card-actions fxLayout="row" fxLayoutAlign="end end">

                    <button mat-mini-fab color="warn" aria-label="add Inherent Likelihood Rate"
                        (click)="initiatAddInherentLikelihoodRate()" *ngIf="!addInherentLikelihoodRatedg">
                        <mat-icon>add</mat-icon>
                    </button>
                    <form [formGroup]="inherentLikelihoodRateForm" (ngSubmit)="saveInherentLikelihoodRate()"
                        autocomplete="off" *ngIf="addInherentLikelihoodRatedg" fxLayout="row" fxLayoutAlign="end center"
                        fxFlex.xs="98%" fxFlex.lg="98%">
                        <input formControlName="txtInherentLikelihoodRateID" hidden="true">
                        <mat-form-field appearance="fill" fxFlexOffset="10px" fxFlex.xs="100%" fxFlex.lg="35%"
                            fxFlex.sm="35%">
                            <mat-label>Rating</mat-label>
                            <input matInput formControlName="txtInherentLikelihoodRate">
                        </mat-form-field>
                        <mat-form-field appearance="fill" fxFlexOffset="5px" fxFlex.xs="100%" fxFlex.lg="35%"
                            fxFlex.sm="35%">
                            <mat-label>Score</mat-label>
                            <input matInput type="number" min="0" (keypress)="keyPressNumber($event)"
                                formControlName="txtInherentLikelihoodScore">
                        </mat-form-field>

                        <button fxFlexOffset="10px" type="submit" mat-mini-fab
                            aria-label="Save Inherent Likelihood Rate" *ngIf="addInherentLikelihoodRatedg"
                            [disabled]="!inherentLikelihoodRateForm.valid">
                            <mat-icon>check</mat-icon>
                        </button>
                        <button mat-mini-fab fxFlexOffset="10px" color="warn"
                            aria-label="Cancel Inherent Likelihood Rate" (click)="cancelInherentLikelihoodRate()"
                            *ngIf="addInherentLikelihoodRatedg">
                            <mat-icon>close</mat-icon>
                        </button>
                    </form>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="Grouptable" fxLayout="row" fxLayoutAlign="space-around stretch">
        <div fxFlex="33" fxFlex.md="32" fxFlex.lg="32" fxFlex.sm="100" fxFlex.xs="100" fxFlexAlign="stretch">
            <span><b>Inherent Impact Rating</b></span>
            <mat-card class="mat-elevation-z4">
                <mat-card-header>

                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="GridFormsInherentImpactRate" autocomplete="off">
                        <ng-container formArrayName="GridRows">
                            <mat-table [dataSource]="dataSourceInherentImpactRate" matSort>
                                <ng-container matColumnDef="Index">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [formGroup]="row">
                                        {{GridFormsInherentImpactRate.get('GridRows')?.value[i].RowNumber}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="RatingName">
                                    <mat-header-cell *matHeaderCellDef style="min-width: 23vh;"
                                        mat-sort-header>Rating</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [formGroup]="row" style="flex: 1 1 100%;
                                    box-sizing: border-box;
                                    max-width: 34%;
                                    padding-right: 8px" class="tablecolumnspan">
                                        <span style="word-wrap: break-word;
                                        overflow-wrap: break-word;
                                        white-space: normal;"
                                            [hidden]="!GridFormsInherentImpactRate.get('GridRows')?.value[i].isEditable">{{GridFormsInherentImpactRate.get('GridRows')?.value[i].Rating}}</span>
                                        <mat-form-field
                                            [appearance]="GridFormsInherentImpactRate.get('GridRows')?.value[i].isEditable? 'none' : 'legacy'">
                                            <input matInput type="text" formControlName="Rating"
                                                [hidden]="GridFormsInherentImpactRate.get('GridRows')?.value[i].isEditable"
                                                [readonly]="GridFormsInherentImpactRate.get('GridRows')?.value[i].isEditable">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="RatingScore">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Score</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [formGroup]="row">
                                        <mat-form-field
                                            [appearance]="GridFormsInherentImpactRate.get('GridRows')?.value[i].isEditable? 'none' : 'legacy'">
                                            <input matInput type="number" min="0" (keypress)="keyPressNumber($event)"
                                                formControlName="Score"
                                                [readonly]="GridFormsInherentImpactRate.get('GridRows')?.value[i].isEditable">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Action">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                                    <mat-cell *matCellDef="let row ;let i = index" [formGroup]="row">
                                        <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                                            matTooltip="Save Changes"
                                            (click)="saveEditInherentImpactRateData(GridFormsInherentImpactRate,i)"
                                            [disabled]="!row.valid"
                                            *ngIf="!GridFormsInherentImpactRate.get('GridRows')?.value[i]?.isEditable"
                                            color="primary">
                                            <mat-icon>check_circle</mat-icon>
                                        </button>

                                        <button mat-icon-button class="material-icons app-toolbar-menu cancel-button"
                                            matTooltip="Cancel Changes" color="warn"
                                            (click)="CancelInherentImpactRate(GridFormsInherentImpactRate,i)"
                                            *ngIf="!GridFormsInherentImpactRate.get('GridRows')?.value[i]?.isEditable">
                                            <mat-icon>cancel</mat-icon>
                                        </button>

                                        <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                                            *ngIf="GridFormsInherentImpactRate.get('GridRows')?.value[i]?.isEditable"
                                            matTooltip="Edit" color="primary"
                                            (click)="editInherentImpactRateData(GridFormsInherentImpactRate,i)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index"><mat-slide-toggle
                                            [checked]="GridFormsInherentImpactRate.get('GridRows')?.value[i]?.IsActive"
                                            (change)="changedInherentImpactRate(row,$event)">
                                        </mat-slide-toggle>
                                        <span
                                            *ngIf="GridFormsInherentImpactRate.get('GridRows')?.value[i]?.IsActive">Enabled</span>
                                        <span
                                            *ngIf="!GridFormsInherentImpactRate.get('GridRows')?.value[i]?.IsActive">Disabled</span>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedInherentImpactRateColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedInherentImpactRateColumns;"></mat-row>
                            </mat-table>
                        </ng-container>
                    </form>
                </mat-card-content>

                <mat-error *ngIf="saveInherentImpactRateerror">{{saveInherentImpactRateerror}}</mat-error>
                <mat-error *ngIf="exceedCharLenErr && type == 'InherentImpactRating'">{{exceedCharLenErr}}</mat-error>
                <mat-card-actions>
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button mat-mini-fab color="warn" aria-label="add Inherent Impact Rate"
                            (click)="initiatAddInherentImpactRate()" *ngIf="!addInherentImpactRatedg">
                            <mat-icon>add</mat-icon>
                        </button>
                        <form [formGroup]="inherentImpactRateForm" autocomplete="off" *ngIf="addInherentImpactRatedg"
                            (ngSubmit)="saveInherentImpactRate()" fxLayout="row" fxLayoutAlign="end center"
                            fxFlex.xs="98%" fxFlex.lg="98%">
                            <input formControlName="txtInherentImpactRateID" hidden="true">
                            <mat-form-field appearance="fill" fxFlexOffset="10px" fxFlex.xs="100%" fxFlex.lg="35%"
                                fxFlex.sm="35%">
                                <mat-label>Rating</mat-label>
                                <input matInput formControlName="txtInherentImpactRate">
                            </mat-form-field>
                            <mat-form-field appearance="fill" fxFlexOffset="10px" fxFlex.xs="100%" fxFlex.lg="35%"
                                fxFlex.sm="35%">
                                <mat-label>Score</mat-label>
                                <input matInput type="number" min="0" (keypress)="keyPressNumber($event)"
                                    formControlName="txtInherentImpactScore">
                            </mat-form-field>
                            <button fxFlexOffset="10px" type="submit" mat-mini-fab
                                aria-label="Save Inherent Impact Rate" *ngIf="addInherentImpactRatedg"
                                [disabled]="!inherentImpactRateForm.valid">
                                <mat-icon>check</mat-icon>
                            </button>
                            <button mat-mini-fab fxFlexOffset="10px" color="warn"
                                aria-label="Cancel Inherent Impact Rate" (click)="cancelInherentImpactRate()"
                                *ngIf="addInherentImpactRatedg">
                                <mat-icon>close</mat-icon>
                            </button>
                        </form>

                    </div>
                </mat-card-actions>
            </mat-card>

        </div>
        <div fxFlex="33" fxFlex.md="32" fxFlex.lg="32" fxFlex.sm="100" fxFlex.xs="100" fxFlexAlign="stretch">
            <span><b>Overall Inherent Risk Score</b></span>
            <mat-card class="mat-elevation-z4 formulaCard">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <div class="content formulacontent">
                        <span><b>Computation Formula</b></span>
                        <div class="tag-box">
                            <ul fxLayout="row wrap">
                                <li *ngFor="let item of inherentRiskScoreTags">
                                    {{item?.ConfigDisplay}} <mat-icon *ngIf="iseditinherentRiskScoredg"
                                        (click)="RemoveInherentRiskScoreData(item)">close</mat-icon>
                                </li>
                            </ul>
                        </div>
                    </div>
                </mat-card-content>
                <mat-error *ngIf="saveinherentRiskScoreerror">{{saveinherentRiskScoreerror}}</mat-error>
                <mat-card-actions>
                    <div fxLayout="row" fxLayoutAlign="end end">
                        <div class="content" fxLayout="row wrap" fxLayoutAlign="start center">

                            <div class="tag-box-items" *ngIf="iseditinherentRiskScoredg">
                                <span *ngIf="iseditinherentRiskScoredg"><b>Scores</b></span>
                                <ul fxLayout="row wrap">
                                    <li *ngFor="let a of sourcedatainherentRiskScore; let index = index"
                                        (click)="addInherentRiskScoretagitem(a)">
                                        {{ a.ConfigDisplay }}
                                    </li>
                                </ul>
                            </div>

                            <div class="tag-box-items" *ngIf="iseditinherentRiskScoredg">
                                <span *ngIf="iseditinherentRiskScoredg"><b>Operators</b></span>
                                <ul fxLayout="row wrap">
                                    <li *ngFor="let a of sourcedatainherentRiskScoreoperator; let index = index"
                                        (click)="addInherentRiskScoretagitem(a)">
                                        {{ a.ConfigDisplay }}
                                    </li>
                                </ul>
                            </div>
                            <button fxFlexOffset="10px" mat-mini-fab aria-label="Save" *ngIf="iseditinherentRiskScoredg"
                                (click)="saveInherentRiskScoreData()">
                                <mat-icon>check</mat-icon>
                            </button>
                            <button mat-mini-fab fxFlexOffset="10px" color="warn" aria-label="Cancel"
                                (click)="CancelInherentRiskScore()" *ngIf="iseditinherentRiskScoredg">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                        <button mat-icon-button *ngIf="!iseditinherentRiskScoredg">
                            <mat-icon (click)="editInherentRiskScoreinitiate()" aria-hidden="false"
                                aria-label="Edit">edit
                            </mat-icon>
                        </button>

                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxFlex="33" fxFlex.md="32" fxFlex.lg="32" fxFlex.sm="100" fxFlex.xs="100" fxFlexAlign="stretch">
            <span><b>Overall Inherent Risk Rating</b></span>
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <mat-table [dataSource]="dataSourceInherentRiskRating" matSort>
                        <ng-container matColumnDef="RowNumber">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.RowNumber}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="RatingName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Rating</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.RiskRating}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Computation">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Computation</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.Computationtext}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="ColorCode">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Color</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <div class="colorbox-small" [style.background]="row.ColourCode"></div>{{row.ColourName}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Status">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                            <mat-cell *matCellDef="let row"><mat-slide-toggle [checked]="row.IsActive"
                                    (change)="changedInherentRiskRating(row,$event)">
                                </mat-slide-toggle>

                                <span *ngIf="row.IsActive">Enabled</span>
                                <span *ngIf="!row.IsActive">Disabled</span>

                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <button mat-icon-button>
                                    <mat-icon (click)="editInherentRiskRating(row)" aria-hidden="false"
                                        aria-label="Edit" fontIcon="edit">
                                    </mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedInherentRiskRatingColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedInherentRiskRatingColumns;"></mat-row>
                    </mat-table>
                </mat-card-content>

                <mat-error *ngIf="saveInherentRiskRatingerror">{{saveInherentRiskRatingerror}}</mat-error>
                <mat-error
                    *ngIf="exceedCharLenErr && type == 'OverallInherentRiskRating'">{{exceedCharLenErr}}</mat-error>

                <mat-card-actions>
                    <div class="content" *ngIf="iseditInherentRiskRatingdg">
                        <div class="tag-box">
                            <form [formGroup]="masterInherentRiskRatingForm" autocomplete="off"
                                *ngIf="iseditInherentRiskRatingdg" fxLayout="row" fxLayoutAlign="start center"
                                fxFlex.xs="98%" fxFlex.lg="98%">
                                <input formControlName="txtrateid" hidden="true">
                                <mat-form-field appearance="fill" fxFlex.xs="100%" fxFlex.lg="25%" fxFlex.sm="25%">
                                    <mat-label>Rating Name</mat-label>
                                    <input matInput formControlName="txtratename" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field appearance="fill" fxFlex.xs="100%" fxFlex.lg="20%" fxFlex.sm="20%"
                                    fxFlexOffset="10px">
                                    <mat-label>Color Code</mat-label>
                                    <input matInput [(colorPicker)]="color" formControlName="txtcolorcode"
                                        (colorPickerChange)="colorchangedInherentRiskRating()" />
                                    <div class="colorbox" [style.background]="color" matSuffix>
                                    </div>
                                </mat-form-field>
                                <mat-form-field appearance="fill" fxFlex.xs="100%" fxFlex.lg="25%" fxFlex.sm="25%"
                                    fxFlexOffset="10px">
                                    <mat-label>Color Name</mat-label>
                                    <input matInput formControlName="txtcolorname" />
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                    <div class="content" *ngIf="iseditInherentRiskRatingdg && beforeEditedFormulatext!=''">
                        <span><b>Current Computation Formula</b></span>
                        <div class="tag-box beforeeditcomputedtext">
                            <span>{{beforeEditedFormulatext}}</span>
                        </div>
                    </div>

                    <div class="content" *ngIf="iseditInherentRiskRatingdg">
                        <span><b>Computation Formula</b></span>
                        <div class="tag-box">
                            <ul fxLayout="row wrap">
                                <li *ngFor="let item of inherentRiskRatingTags">
                                    {{item?.ConfigDisplay}} <mat-icon *ngIf="iseditInherentRiskRatingdg"
                                        (click)="RemoveInherentRiskRatingData(item)">close</mat-icon>
                                </li>
                                <input type="text" #customtxt *ngIf="isCustomTextEnabledInherentRiskRating"
                                    (keyup.enter)="addCustomTextInherentRiskRating(customtxt.value)"
                                    (keyup.escape)="CancelCustomtext()" />
                            </ul>
                        </div>
                    </div>
                    <div fxLayout="row" *ngIf="iseditInherentRiskRatingdg">
                        <div class="content" fxLayout="row wrap">
                            <div class="tag-box-items">
                                <span *ngIf="iseditInherentRiskRatingdg"><b>Scores</b></span>
                                <ul fxLayout="row wrap">
                                    <li *ngFor="let a of sourcedataInherentRiskRatingScore; let index = index"
                                        (click)="addInherentRiskRatingtagitem(a)">
                                        {{ a.ConfigDisplay }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="content" fxLayout="row wrap" fxLayoutAlign="start center"
                        *ngIf="iseditInherentRiskRatingdg">
                        <div class="tag-box-items" *ngIf="iseditInherentRiskRatingdg" fxFlex="80%" fxFlex.md="80%"
                            fxFlex.sm="100%">
                            <span *ngIf="iseditInherentRiskRatingdg"><b>Operators</b></span>
                            <ul fxLayout="row wrap">
                                <li *ngFor="let a of sourcedataInherentRiskRatingoperator; let index = index"
                                    (click)="addInherentRiskRatingtagitem(a)">
                                    {{ a.ConfigDisplay }}
                                </li>
                            </ul>
                        </div>


                        <button fxFlexOffset="10px" mat-mini-fab (click)="saveInherentRiskRatingData()"
                            aria-label="Save" *ngIf="iseditInherentRiskRatingdg">
                            <mat-icon>check</mat-icon>
                        </button>
                        <button mat-mini-fab fxFlexOffset="10px" color="warn" aria-label="Cancel"
                            (click)="CancelInherentRiskRating()" *ngIf="iseditInherentRiskRatingdg">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                    <!-- <div fxLayout="row" class="content" fxLayoutAlign="end center">
                        <button mat-mini-fab color="warn" aria-label="add new" (click)="initiateInherentRiskRatingAdd()"
                            *ngIf="!iseditInherentRiskRatingdg">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div> -->
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>