<mat-toolbar class="fontSize">
    <span>KRI Self Scoring | Definitions</span>
</mat-toolbar>
<div class="container">
    <mat-action-row style="padding-left: 0px;padding-bottom: 0px;">

        <div class="btnGenUp ev" style="margin-bottom: 1vh;">
            <!-- <input type="file" class="file-upload" id="file-input" name="file-input" (change)="seletedFileDetails($event)"
     [uploader]="uploader" ng2FileSelect/>
     <label id="file-input-label" for="file-input">Browse File</label> -->
         <img src="./assets/images/icon-upload.svg" class="mx-2" alt="" matTooltip="Browse" />
         <input  type="file"
         class="file-upload"
         id="file-input"
         name="file-input"
         ng2FileSelect
         [uploader]="uploader"
         (change)="seletedFileDetails($event)"/>
         <label id="file-input-label" for="file-input">Browse File</label>
     </div>
    
            <div class="btnGen ev me-4" data-toggle="modal" style="position: absolute;left: 22vh;margin-bottom: 1vh;" [ngClass]="(!importButtonFlag) ? 'disable'  : ''" [matTooltip]="!importButtonFlag ? ' Select a valid file before importing list' : 'Import list in bulk'" (click)="importButtonFlag ? bulkUploadExcelFile() : ''"><img
                src="./assets/images/icon-import.svg" alt="Import List in Bulk" >Bulk Upload</div>
    <!-- 
        <button style="border: hidden; color: #2470a3; cursor: pointer;margin-left: 18vh;margin-bottom: 3vh;" (click)="downloadSampleFile()"
        matTooltip="Download Sample Bulk Upload Template" *ngIf="canFullAccess()">
        <mat-icon style="cursor: pointer;">save_alt</mat-icon>
        </button> -->
        <div class="btnGenDown ev me-4" style="border: hidden; cursor: pointer;margin-left: 18vh;margin-bottom: 1vh;" (click)="downloadSampleFile()"  id="download" 
        data-target="#addWidget"  matTooltip="Download Sample Bulk Upload Template"><img
            src="./assets/images/icon-download-template.svg" style="vertical-align: text-bottom;
            width: 1.2em;
            margin-right: 1vh;
            margin-left: 1vh;
            margin-top: 0.5vh;" alt="Download"> <span>Download Template</span> </div>
                  <div *ngIf="filenameWithoutExtension.length > 0 && invalidfile == false && validFileNameErr == false" style="position: relative; left: 29px; bottom: 3px; display: inline-flex;">
                    <p style="color: seagreen; margin: 0px;">{{fileName}}</p>
                </div>
          
        <span class="spacer"></span>
        <mat-form-field appearance="standard" style="margin-right: 4vh;">
            <mat-label>Search</mat-label>
            <input (keyup)="applyFilter($event)" matInput placeholder="Search KRI" #input>
        </mat-form-field>
        <div class="applyFilter addDesktop position-relative text-start me-4">
            <button type="button" class="btn btn-dark btnGradient ad" data-bs-toggle="modal"  matTooltip="Click here add new KRI" (click)="definitionsDialog()"><span
                class="font-weight-bold"></span>Add New</button>
            <span class="position-absolute vmiddleLeft text-white iconPositionLeft"><img src="./assets/images/icon-add-desktop.svg" style="    width: 2vh;
                margin-top: 1vh;
                margin-left: 5.9vh;"></span>
        </div>
    </mat-action-row>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="this.kriService.kriDefine" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">#</th>
                <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.Index}} </td>
            </ng-container>
            <ng-container matColumnDef="KriCode">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">KRI Code</th>
                <td mat-cell *matCellDef="let row"> {{row.KriCode}} </td>
            </ng-container>
            <ng-container matColumnDef="group">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Group</th>
                <td mat-cell *matCellDef="let row"> {{row.GroupName}} </td>
            </ng-container>
            <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Unit</th>
                <td mat-cell *matCellDef="let row"> {{row.UnitName}} </td>
            </ng-container>
            <ng-container matColumnDef="Indicator">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Key Risk Indicator</th>
                <td mat-cell *matCellDef="let row"> {{row.KeyRiskIndicator}} </td>
            </ng-container>
            <ng-container matColumnDef="Measurmentfrequency">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Measurment Frequency</th>
                <td mat-cell *matCellDef="let row"> {{row.MeasurementFrequencyName}} </td>
            </ng-container>
            <ng-container matColumnDef="Reportingfrequency">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Reporting Frequency</th>
                <td mat-cell *matCellDef="let row"> {{row.ReportingFrequencyName}} </td>
            </ng-container>
            <ng-container matColumnDef="Target">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Target</th>
                <td mat-cell *matCellDef="let row"> {{row.Target}}% </td>
            </ng-container>
            <ng-container matColumnDef="Kritype">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">KRI Type</th>
                <td mat-cell *matCellDef="let row"> {{row.KriTypeName}} </td>
            </ng-container>
            <ng-container matColumnDef="thresholdvalue-1">
                <th mat-header-cell *matHeaderCellDef class="text-align-center"
                    [ngStyle]="{'border-top': 'none','border-right':'none'}">
                    <div class="t-container">
                        <div [style.background-color]="this.kriService.kriDefineThresholds[0]?.ColorCode"
                            class="t-value">
                            1
                        </div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row">
                    <!-- <span *ngIf="row.ThresholdValue1 >= row.ThresholdValue2"> >= {{row.ThresholdValue1}}% </span>
                    <span *ngIf="row.ThresholdValue1 <= row.ThresholdValue2"> <= {{row.ThresholdValue1}}%</span> -->
                    <span>{{row.ThresholdValue1 <= row.ThresholdValue2 ? '>=' : '<=' }} {{row.ThresholdValue1}}%</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="thresholdvalue-2">
                <th mat-header-cell *matHeaderCellDef class="text-align-center"
                    [ngStyle]="{'border-top': 'none','border-left':'none','border-right':'none'}">
                    <div class="t-container">
                        <div [style.background-color]="this.kriService.kriDefineThresholds[1]?.ColorCode"
                            class="t-value">
                            2
                        </div>
                    </div>
                </th>>
                <td mat-cell *matCellDef="let row">
                    <span>{{row.ThresholdValue2 <= row.ThresholdValue3 ? '>=' : '<=' }} {{row.ThresholdValue2}}%</span>
                  </td>

            </ng-container>
            <ng-container matColumnDef="thresholdvalue-3">
                <th mat-header-cell *matHeaderCellDef class="text-align-center"
                    [ngStyle]="{'border-top': 'none','border-left':'none','border-right':'none'}">
                    <div class="t-container">
                        <div [style.background-color]="this.kriService.kriDefineThresholds[2]?.ColorCode"
                            class="t-value">
                            3
                        </div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row">
                    <span>{{row.ThresholdValue3 <= row.ThresholdValue4 ? '>=' : '<=' }} {{row.ThresholdValue3}}%</span>
                    <!-- <span *ngIf="row.ThresholdValue2 >= row.ThresholdValue3"> >= {{row.ThresholdValue3}}% </span>
                    <span *ngIf="row.ThresholdValue2 < row.ThresholdValue3"> <= {{row.ThresholdValue3}}%</span> -->
                  </td>
            </ng-container>
            <ng-container matColumnDef="thresholdvalue-4">
                <th mat-header-cell *matHeaderCellDef class="text-align-center"
                    [ngStyle]="{'border-top': 'none','border-left':'none','border-right':'none'}">
                    <div class="t-container">
                        <div [style.background-color]="this.kriService.kriDefineThresholds[3]?.ColorCode"
                            class="t-value">
                            4
                        </div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row">
                    <!-- <span *ngIf="row.ThresholdValue3 >= row.ThresholdValue4"> >= {{row.ThresholdValue4}}% </span>
                    <span *ngIf="row.ThresholdValue3 < row.ThresholdValue4"> <= {{row.ThresholdValue4}}%</span> -->
                    <span>{{row.ThresholdValue4 <= row.ThresholdValue5 ? '>=' : '<=' }} {{row.ThresholdValue4}}%</span>
                  </td>
            </ng-container>
            <ng-container matColumnDef="thresholdvalue-5">
                <th mat-header-cell *matHeaderCellDef class="text-align-center"
                    [ngStyle]="{'border-top': 'none','border-left':'none'}">
                    <div class="t-container">
                        <div [style.background-color]="this.kriService.kriDefineThresholds[4]?.ColorCode"
                            class="t-value">
                            5
                        </div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row"> ={{row.ThresholdValue5}}%

                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Action</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="editList(row)" *ngIf="row.StatusID!=5">
                        <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="edit"></mat-icon>
                    </button>
                    <button (click)="deleteList(row.MetricID)" mat-icon-button *ngIf="row.StatusID!=5">
                        <mat-icon aria-hidden="false" aria-label="Delete" fontIcon="delete"></mat-icon>
                    </button>
                </td>>
            </ng-container>

            <ng-container matColumnDef="header-row-1">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.rowspan]="2" [attr.colspan]="1">#</th>>
            </ng-container>
            <ng-container matColumnDef="header-row-9">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [attr.colspan]="1">KRI Code</th>>
            </ng-container>
            <ng-container matColumnDef="header-row-2">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [attr.colspan]="1">Group</th>>
            </ng-container>
            <ng-container matColumnDef="header-row-3">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [attr.colspan]="1">Unit</th>>
            </ng-container>
            <ng-container matColumnDef="header-row-4">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [attr.colspan]="1">Key Risk Indicator</th>>
            </ng-container>
            <ng-container matColumnDef="header-row-5">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [attr.colspan]="1">Measurement Frequency</th>>
            </ng-container>
            <ng-container matColumnDef="header-row-6">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [attr.colspan]="1">Reporting Frequency</th>>
            </ng-container>
            <ng-container matColumnDef="header-row-7">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [attr.colspan]="1">Target</th>>
            </ng-container>
            <ng-container matColumnDef="header-row-8">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [attr.colspan]="1">KRI Type</th>>
            </ng-container>
            <ng-container matColumnDef="header-row-second-group">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="5"
                    [ngStyle]="{'border-bottom':'none'}">Threshold Value </th>>
            </ng-container>
            <ng-container matColumnDef="header-row-third-group">
                <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [attr.colspan]="1">Action</th>>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="['header-row-1','header-row-9','header-row-2','header-row-3','header-row-4','header-row-5','header-row-6','header-row-7','header-row-8', 'header-row-second-group', 'header-row-third-group']">
            </tr>>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            <tr>
        </table>

        <mat-paginator #paginatorIR [pageSize]="10" [pageSizeOptions]="[ 10, 20, 30,]" ></mat-paginator>

    </div>

</div>
