<mat-toolbar class="fontSize">
    <span mat-dialog-title style="font-size: 3vh;font-weight: 400;">Incident Master</span>
    <span class="spacer"></span>
</mat-toolbar>
<div class="container">
    <div class="incident-table">
        <div class="table-header">
            <span> <b> Incident Type </b> </span>
            <span class="spacer"></span>
            <!-- <mat-form-field appearance="standard">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event, 'incidentTable')" placeholder="" #input>
                </mat-form-field> -->
        </div>
        <div class="mat-elevation-z8 border-radius">
            <mat-table [dataSource]="service.masterIT" class="border-radius-top">
                <ng-container matColumnDef="Index">
                    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Index}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef>Incident Type</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span [ngClass]="row.IsActive? '':'disable-color'" *ngIf="!row.EditMode">
                            {{row.Name}}
                        </span>
                        <div *ngIf="row.EditMode">
                            <mat-form-field class="name-input">
                                <input matInput [value]="row.Name" (keyup)="checkDuplicate(row.Name, 'incidentTable')"
                                    [(ngModel)]="row.Name" name="incidenttype" type="text">
                            </mat-form-field>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button *ngIf="!row.EditMode" mat-icon-button (click)="edit(row, 'incidentTable')">
                            <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="edit"></mat-icon>
                        </button>
                        <mat-action-row *ngIf="row.EditMode" [matTooltip]="duplicate? 'Record already exists':''">
                            <button mat-icon-button title="Done" class="select" matSuffix
                                [disabled]="row.Name.trim().length == 0 || duplicate"
                                (click)="approve(row, 'incidentTable')">
                                <mat-icon aria-hidden="true" aria-label="done" fontIcon="done"></mat-icon>
                            </button>
                            <button mat-icon-button title="Close" class="cancel" matSuffix cdkFocusInitial
                                (click)="reject(row, 'incidentTable')">
                                <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
                            </button>
                        </mat-action-row>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="IsActive">
                    <mat-header-cell *matHeaderCellDef> Status Enabled / <br>Disabled</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-slide-toggle [disabled]="flag >= 1 || (row.IsActive && isAllDisabled('incidentTable'))"
                            [(ngModel)]="row.IsActive" name="status"
                            [checked]="row.IsActive == null? false: row.IsActive"
                            (change)="approve(row, 'incidentTable')">
                        </mat-slide-toggle> &nbsp; <span>{{(row.IsActive == null? false: row.IsActive)? 'Enabled':
                            'Disabled'}}</span>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
                    [ngClass]="(i%2 == 0)? 'odd-row-bg':''"></mat-row>
            </mat-table>
            <div class="border-radius-bottom" style=" background-color: white; padding-top: 4vh;">
                <div *ngIf="newEditIT" class="form-style border-radius-bottom">
                    <label for="incidentType" style="margin-top: 1.5vh;">Incident Type:</label>
                    <mat-form-field class="name-input">
                        <input matInput [value]="newRowName" id="incidentType" [(ngModel)]="newRowName" name="label"
                            (keyup)="checkDuplicate(newRowName, 'incidentTable')" type="text">
                    </mat-form-field>
                    <mat-action-row [matTooltip]="duplicate? 'Record already exists':''">
                        <button mat-icon-button title="Done" class="select" matSuffix
                            [disabled]="newRowName.trim().length == 0 || duplicate"
                            (click)="newDataApprove('incidentTable')">
                            <mat-icon aria-hidden="true" aria-label="done" fontIcon="done"></mat-icon>
                        </button>
                        <button mat-icon-button title="Close" class="cancel" matSuffix cdkFocusInitial
                            (click)="newDataReject('incidentTable')">
                            <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
                        </button>
                    </mat-action-row>
                </div>
                <div *ngIf="!newEditIT" class="add-button border-radius-bottom">
                    <button mat-icon-button (click)="addRow('incidentTable')">
                        <mat-icon class="add-icon" aria-hidden="false" aria-label="Add" fontIcon="add"></mat-icon>
                    </button>
                </div>
            </div>
            <!-- <mat-paginator #paginatorIT [pageSizeOptions]="[10, 25, 100]"></mat-paginator> -->
        </div>
    </div>
    <div class="incident-table">
        <div class="table-header">
            <span><b>Source of Identification</b></span>
            <span class="spacer"></span>
            <!--<mat-form-field appearance="standard">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event, 'SourceOfIdentification')" placeholder="" #input>
                </mat-form-field> -->
        </div>
        <div class="mat-elevation-z8 border-radius">
            <mat-table [dataSource]="service.masterSI" class="border-radius-top">
                <ng-container matColumnDef="Index">
                    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Index}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef>Source of Identification</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span [ngClass]="row.IsActive? '':'disable-color'" *ngIf="!row.EditMode">
                            {{row.Name}}
                        </span>
                        <div *ngIf="row.EditMode">
                            <mat-form-field class="name-input">
                                <input matInput [value]="row.Name" [(ngModel)]="row.Name" name="source" type="text"
                                    (keyup)="checkDuplicate(row.Name, 'SourceOfIdentification')">
                            </mat-form-field>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button *ngIf="!row.EditMode" mat-icon-button (click)="edit(row, 'SourceOfIdentification')">
                            <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="edit"></mat-icon>
                        </button>
                        <mat-action-row *ngIf="row.EditMode" [matTooltip]="duplicate? 'Record already exists':''">
                            <button mat-icon-button title="Done" class="select" matSuffix
                                [disabled]="row.Name.trim().length == 0 || duplicate"
                                (click)="approve(row, 'SourceOfIdentification')">
                                <mat-icon aria-hidden="true" aria-label="done" fontIcon="done"></mat-icon>
                            </button>
                            <button mat-icon-button title="Close" class="cancel" matSuffix cdkFocusInitial
                                (click)="reject(row, 'SourceOfIdentification')">
                                <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
                            </button>
                        </mat-action-row>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="IsActive">
                    <mat-header-cell *matHeaderCellDef> Status Enabled / <br>Disabled</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-slide-toggle
                            [disabled]="flag >= 1 || (row.IsActive && isAllDisabled('SourceOfIdentification'))"
                            [(ngModel)]="row.IsActive" name="status"
                            [checked]="row.IsActive == null? false: row.IsActive"
                            (change)="approve(row, 'SourceOfIdentification')">
                        </mat-slide-toggle> &nbsp; <span>{{(row.IsActive == null? false: row.IsActive)? 'Enabled':
                            'Disabled'}}</span>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
                    [ngClass]="(i%2 == 0)? 'odd-row-bg':''"></mat-row>
            </mat-table>
            <div class="border-radius-bottom" style=" background-color: white; padding-top: 4vh;">
                <div *ngIf="newEditSI" class="form-style border-radius-bottom">
                    <label for="Source" style="margin-top:1.5vh;">Source of Identification:</label>
                    <mat-form-field class="name-input">
                        <input matInput [value]="newRowName" id="Source" [(ngModel)]="newRowName" name="label"
                            (keyup)="checkDuplicate(newRowName, 'SourceOfIdentification')" type="text">
                    </mat-form-field>
                    <mat-action-row [matTooltip]="duplicate? 'Record already exists':''">
                        <button mat-icon-button title="Done" class="select" matSuffix
                            [disabled]="newRowName.trim().length == 0 || duplicate"
                            (click)="newDataApprove('SourceOfIdentification')">
                            <mat-icon aria-hidden="true" aria-label="done" fontIcon="done"></mat-icon>
                        </button>
                        <button mat-icon-button title="Close" class="cancel" matSuffix cdkFocusInitial
                            (click)="newDataReject('SourceOfIdentification')">
                            <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
                        </button>
                    </mat-action-row>
                </div>
                <div *ngIf="!newEditSI" class="add-button border-radius-bottom">
                    <button mat-icon-button (click)="addRow('SourceOfIdentification')">
                        <mat-icon class="add-icon" aria-hidden="false" aria-label="Add" fontIcon="add"></mat-icon>
                    </button>
                </div>
            </div>
            <!-- <mat-paginator #paginatorSI [pageSizeOptions]="[10, 25, 100]"></mat-paginator> -->
        </div>
    </div>
    <div class="incident-table">
        <div class="table-header">
            <span> <b>Criticality</b> </span>
            <span class="spacer"></span>
            <!-- <mat-form-field appearance="standard">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event, 'Criticality')" placeholder="" #input>
                </mat-form-field> -->
        </div>
        <div class="mat-elevation-z8 border-radius">
            <mat-table [dataSource]="service.masterCriticality" class="border-radius-top">
                <ng-container matColumnDef="Index">
                    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Index}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef>Criticality</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span [ngClass]="row.IsActive? '':'disable-color'" *ngIf="!row.EditMode">
                            {{row.Name}}
                        </span>
                        <div *ngIf="row.EditMode">
                            <mat-form-field class="name-input">
                                <input matInput [value]="row.Name" [(ngModel)]="row.Name" type="text"
                                    (keyup)="checkDuplicate(row.Name, 'Criticality')" name="crititcality">
                            </mat-form-field>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button *ngIf="!row.EditMode" mat-icon-button (click)="edit(row, 'Criticality')">
                            <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="edit"></mat-icon>
                        </button>
                        <mat-action-row *ngIf="row.EditMode" [matTooltip]="duplicate? 'Record already exists':''">
                            <button mat-icon-button title="Done" class="select" matSuffix
                                [disabled]="row.Name.trim().length == 0 || duplicate"
                                (click)="approve(row, 'Criticality')">
                                <mat-icon aria-hidden="true" aria-label="done" fontIcon="done"></mat-icon>
                            </button>
                            <button mat-icon-button title="Close" class="cancel" matSuffix cdkFocusInitial
                                (click)="reject(row, 'Criticality')">
                                <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
                            </button>
                        </mat-action-row>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="IsActive">
                    <mat-header-cell *matHeaderCellDef> Status Enabled / <br>Disabled</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-slide-toggle [disabled]="flag >= 1 || (row.IsActive && isAllDisabled('Criticality'))"
                            [(ngModel)]="row.IsActive" name="status"
                            [checked]="row.IsActive == null? false: row.IsActive"
                            (change)="approve(row, 'Criticality')">
                        </mat-slide-toggle> &nbsp; <span>{{(row.IsActive == null? false: row.IsActive)? 'Enabled':
                            'Disabled'}}</span>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
                    [ngClass]="(i%2 == 0)? 'odd-row-bg':''"></mat-row>
            </mat-table>
            <div class="border-radius-bottom" style=" background-color: white; padding-top: 4vh;">
                <div *ngIf="newEditCri" class="form-style border-radius-bottom">
                    <label for="Criticality" style="margin-top:1.5vh;">Criticality:</label>
                    <mat-form-field class="name-input">
                        <input matInput [value]="newRowName" id="Criticality" [(ngModel)]="newRowName" name="label"
                            (keyup)="checkDuplicate(newRowName, 'Criticality')" type="text">
                    </mat-form-field>
                    <mat-action-row [matTooltip]="duplicate? 'Record already exists':''">
                        <button mat-icon-button title="Done" class="select" matSuffix
                            [disabled]="newRowName.trim().length == 0 || duplicate"
                            (click)="newDataApprove('Criticality')">
                            <mat-icon aria-hidden="true" aria-label="done" fontIcon="done"></mat-icon>
                        </button>
                        <button mat-icon-button title="Close" class="cancel" matSuffix cdkFocusInitial
                            (click)="newDataReject('Criticality')">
                            <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
                        </button>
                    </mat-action-row>
                </div>
                <div *ngIf="!newEditCri" class="add-button border-radius-bottom">
                    <button mat-icon-button (click)="addRow('Criticality')">
                        <mat-icon class="add-icon" aria-hidden="false" aria-label="Add" fontIcon="add"></mat-icon>
                    </button>
                </div>
            </div>
            <!-- <mat-paginator #paginatorCrit [pageSizeOptions]="[10, 25, 100]"></mat-paginator> -->
        </div>
    </div>
    <div class="incident-table">
        <div class="table-header">
            <span> <b>Operational Risk Loss Event Category</b> </span>
            <span class="spacer"></span>
            <!-- <mat-form-field appearance="standard">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event, 'OperationalRiskLoss')" placeholder="" #input>
                </mat-form-field> -->
        </div>
        <div class="mat-elevation-z8 border-radius">
            <mat-table [dataSource]="service.masterORLEC" class="border-radius-top">
                <ng-container matColumnDef="Index">
                    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Index}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef>Operational Risk Loss Event Category
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span [ngClass]="row.IsActive? '':'disable-color'" *ngIf="!row.EditMode">
                            {{row.Name}}
                        </span>
                        <div *ngIf="row.EditMode">
                            <mat-form-field class="name-input">
                                <input matInput [value]="row.Name" [(ngModel)]="row.Name" name="catergory"
                                    (keyup)="checkDuplicate(row.Name, 'OperationalRiskLoss')" type="text">
                            </mat-form-field>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button *ngIf="!row.EditMode" mat-icon-button (click)="edit(row, 'OperationalRiskLoss')">
                            <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="edit"></mat-icon>
                        </button>
                        <mat-action-row *ngIf="row.EditMode" [matTooltip]="duplicate? 'Record already exists':''">
                            <button mat-icon-button title="Done" class="select" matSuffix
                                [disabled]="row.Name.trim().length == 0 || duplicate"
                                (click)="approve(row, 'OperationalRiskLoss')">
                                <mat-icon aria-hidden="true" aria-label="done" fontIcon="done"></mat-icon>
                            </button>
                            <button mat-icon-button title="Close" class="cancel" matSuffix cdkFocusInitial
                                (click)="reject(row, 'OperationalRiskLoss')">
                                <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
                            </button>
                        </mat-action-row>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="IsActive">
                    <mat-header-cell *matHeaderCellDef> Status Enabled / <br>Disabled</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-slide-toggle
                            [disabled]="flag >= 1 || (row.IsActive && isAllDisabled('OperationalRiskLoss'))"
                            [(ngModel)]="row.IsActive" name="status"
                            [checked]="row.IsActive == null? false: row.IsActive"
                            (change)="approve(row, 'OperationalRiskLoss')">
                        </mat-slide-toggle> &nbsp; <span>{{(row.IsActive == null? false: row.IsActive)? 'Enabled':
                            'Disabled'}}</span>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
                    [ngClass]="(i%2 == 0)? 'odd-row-bg':''"></mat-row>
            </mat-table>
            <div class="border-radius-bottom" style=" background-color: white; padding-top: 4vh;">
                <div *ngIf="newEditOR" class="form-style border-radius-bottom">
                    <label for="Operational" style="margin-top: 1.5vh;">Category:</label>
                    <mat-form-field class="name-input">
                        <input matInput [value]="newRowName" id="Operational" [(ngModel)]="newRowName" name="label"
                            (keyup)="checkDuplicate(newRowName, 'OperationalRiskLoss')" type="text">
                    </mat-form-field>
                    <mat-action-row [matTooltip]="duplicate? 'Record already exists':''">
                        <button mat-icon-button title="Done" class="select" matSuffix
                            [disabled]="newRowName.trim().length == 0 || duplicate"
                            (click)="newDataApprove('OperationalRiskLoss')">
                            <mat-icon aria-hidden="true" aria-label="done" fontIcon="done"></mat-icon>
                        </button>
                        <button mat-icon-button title="Close" class="cancel" matSuffix cdkFocusInitial
                            (click)="newDataReject('OperationalRiskLoss')">
                            <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
                        </button>
                    </mat-action-row>
                </div>
                <div *ngIf="!newEditOR" class="add-button border-radius-bottom">
                    <button mat-icon-button (click)="addRow('OperationalRiskLoss')">
                        <mat-icon class="add-icon" aria-hidden="false" aria-label="Add" fontIcon="add"></mat-icon>
                    </button>
                </div>
            </div>
            <!-- <mat-paginator #paginatorOR [pageSizeOptions]="[10, 25, 100]"></mat-paginator> -->
        </div>
    </div>
    <div class="incident-table">
        <div class="table-header">
            <span> <b>Incident Reviewers</b> </span>
            <span class="spacer"></span>
            <!-- <mat-form-field appearance="standard">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event, 'IncidentReviewers')" placeholder="" #input>
                </mat-form-field> -->
        </div>
        <div class="mat-elevation-z8 border-radius" matTooltipPosition="above"
            [matTooltip]="(service.isMasterReviwersActive && service.isMasterReviwerAssigned)? 'No Active Reviewer Users' : ''" >
            <mat-table [dataSource]="service.masterIR" class="border-radius-top">
                <ng-container matColumnDef="UserIndex" >
                    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Index}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="FullName">
                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span [ngClass]="row.IsActive? '':'disable-color'" *ngIf="!row.EditMode"  [matTooltip]="row.IsDeleted ? 'Your Risk Management access has been removed in User Management' : ''">
                            {{row.FullName}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="IsActive">
                    <mat-header-cell *matHeaderCellDef> Status Enabled / <br>Disabled</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-slide-toggle [disabled]="flag >= 1 || !isUserExists(row, 'IncidentReviewers') || row.IsDeleted == true"
                            [(ngModel)]="row.IsActive" name="status"
                            [checked]="row.IsActive == null? false: row.IsActive"
                            (change)="approve(row, 'IncidentReviewers')"
                            [matTooltip]="row.IsDeleted ? 'Your Risk Management access has been removed in User Management' : ''">
                        </mat-slide-toggle> &nbsp; <span>{{(row.IsActive == null? false: row.IsActive)? 'Enabled':
                            'Disabled'}}</span>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns1; let i = index"
                    [ngClass]="(i%2 == 0)? 'odd-row-bg':''"></mat-row>
            </mat-table>
            <div style="background-color: white;" *ngIf="!(service.isMasterReviwerAssigned)">
                <div class="no-data">
                    <span>No Reviewer user added yet</span>
                </div>
            </div>
            <div class="border-radius-bottom" style=" background-color: white; padding-top: 4vh;">
                <div *ngIf="newEditIR" class="form-style border-radius-bottom">
                    <label for="Reviewers" style="margin-top: 1.5vh;">Select Reviewer:</label>
                    <mat-form-field style="margin: -2vh 0.5vw;">
                        <mat-select id="Reviewers" [(ngModel)]="selectedUser" name="user">
                            <mat-option *ngFor="let user of service.masterReviewersAvl" [value]="user.FullName">
                                {{user.FullName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-action-row>
                        <button mat-icon-button title="Done" class="select" matSuffix [disabled]="!selectedUser"
                            (click)="newDataApprove('IncidentReviewers')">
                            <mat-icon aria-hidden="true" aria-label="done" fontIcon="done"></mat-icon>
                        </button>
                        <button mat-icon-button title="Close" class="cancel" matSuffix cdkFocusInitial
                            (click)="newDataReject('IncidentReviewers')">
                            <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
                        </button>
                    </mat-action-row>
                </div>
                <div *ngIf="!newEditIR" class="add-button border-radius-bottom">
                    <button mat-icon-button (click)="addRow('IncidentReviewers')">
                        <mat-icon class="add-icon" aria-hidden="false" aria-label="Add" fontIcon="add"></mat-icon>
                    </button>
                </div>
            </div>
            <!-- <mat-paginator #paginatorIR [pageSizeOptions]="[10, 25, 100]"></mat-paginator> -->
        </div>
    </div>
    <div class="incident-table">
        <div class="table-header">
            <span> <b>Incident Approval Users</b> </span>
            <span class="spacer"></span>
            <!-- <mat-form-field appearance="standard">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event, 'IncidentApprovalUsers')" placeholder="" #input>
                </mat-form-field> -->
        </div>
        <div class="mat-elevation-z8 border-radius" matTooltipPosition="above"
            [matTooltip]="(service.isMasterApproversActive && service.isMasterApproverAssigned)? 'No Active Approval Users' : ''">
            <mat-table [dataSource]="service.masterIA" class="border-radius-top">
                <ng-container matColumnDef="UserIndex">
                    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Index}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="FullName">
                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let row" >
                        <span [ngClass]="row.IsActive? '':'disable-color'" *ngIf="!row.EditMode" [matTooltip]="row.IsDeleted ? 'Your Risk Management access has been removed in User Management' : ''">
                            {{row.FullName}}
                        </span>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="IsActive">
                    <mat-header-cell *matHeaderCellDef> Status Enabled / <br>Disabled</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-slide-toggle [disabled]="flag >= 1 || !isUserExists(row, 'IncidentApprovalUsers') || row.IsDeleted == true"
                            [(ngModel)]="row.IsActive" name="status"
                            [checked]="row.IsActive == null? false: row.IsActive"
                            (change)="approve(row, 'IncidentApprovalUsers')"
                            [matTooltip]="row.IsDeleted ? 'Your Risk Management access has been removed in User Management' : ''">
                        </mat-slide-toggle>

                         &nbsp; <span>{{(row.IsActive == null? false: row.IsActive)? 'Enabled':
                            'Disabled'}}</span>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns1; let i = index"
                    [ngClass]="(i%2 == 0)? 'odd-row-bg':''"></mat-row>
            </mat-table>
            <div style="background-color: white;" *ngIf="!(service.isMasterApproverAssigned)">
                <div class="no-data">
                    <span>No Approval user added yet</span>
                </div>
            </div>
            <div class="border-radius-bottom" style=" background-color: white; padding-top: 4vh;">
                <div *ngIf="newEditIA" class="form-style border-radius-bottom">
                    <label for="Approval" style="margin-top: 1.5vh;">Select Approval:</label>
                    <mat-form-field style="margin: -2vh 0.5vw;">
                        <mat-select [(ngModel)]="selectedUser" id="Approval" name="user">
                            <mat-option *ngFor="let user of service.masterApproversAvl" [value]="user.FullName">
                                {{user.FullName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-action-row>
                        <button mat-icon-button title="Done" class="select" matSuffix
                            (click)="newDataApprove('IncidentApprovalUsers')" [disabled]="!selectedUser">
                            <mat-icon aria-hidden="true" aria-label="done" fontIcon="done"></mat-icon>
                        </button>
                        <button mat-icon-button title="Close" class="cancel" matSuffix cdkFocusInitial
                            (click)="newDataReject('IncidentApprovalUsers')">
                            <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
                        </button>
                    </mat-action-row>
                </div>
                <div *ngIf="!newEditIA" class="add-button border-radius-bottom">
                    <button mat-icon-button (click)="addRow('IncidentApprovalUsers')">
                        <mat-icon class="add-icon" aria-hidden="false" aria-label="Add" fontIcon="add"></mat-icon>
                    </button>
                </div>
            </div>
            <!-- <mat-paginator #paginatorIA [pageSizeOptions]="[10, 25, 100]"></mat-paginator> -->
        </div>
    </div>
    <div class="incident-table1">
        <div class="table-header">
            <span> <b>Incident Checkers</b> </span>
            <span class="spacer"></span>
        </div>
        <div class="mat-elevation-z81 border-radius" matTooltipPosition="above">
            <mat-table [dataSource]="service.masterCA" class="border-radius-top">
                <ng-container matColumnDef="UserIndex">
                    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Index}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Group">
                    <mat-header-cell *matHeaderCellDef>Group</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span [ngClass]="row.IsActive? '':'disable-color'" *ngIf="!row.EditMode"  [matTooltip]="row.IsDeleted ? 'Your '+ row.UnitName +' unit access has been removed or you are no longer as power user in User Management' : ''">
                            {{row.GroupName}}
                        </span>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="Unit">
                    <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span [ngClass]="row.IsActive? '':'disable-color'" *ngIf="!row.EditMode"  [matTooltip]="row.IsDeleted ? 'Your '+ row.UnitName +' unit access has been removed or you are no longer as power user in User Management' : ''">
                            {{row.UnitName}}
                        </span>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="FullName" >
                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span [ngClass]="row.IsActive? '':'disable-color'" *ngIf="!row.EditMode"  [matTooltip]="row.IsDeleted ? 'Your '+ row.UnitName +' unit access has been removed or you are no longer as power user in User Management' : ''" >
                            {{row.FullName}}
                        </span>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="IsActive">
                    <mat-header-cell *matHeaderCellDef> Status Enabled / <br>Disabled</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-slide-toggle
                            [(ngModel)]="row.IsActive" name="status"
                            [checked]="row.IsActive == null? false: row.IsActive" [disabled]="row.IsDeleted == true"
                            (change)="approve(row, 'IncidentCheckers')"
                            [matTooltip]="row.IsDeleted ? 'Your  '+ row.UnitName +' unit access has been removed or you are no longer as power user in User Management' : ''">
                        </mat-slide-toggle> &nbsp;
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns2; let i = index"
                    [ngClass]="(i%2 == 0)? 'odd-row-bg':''"></mat-row>
            </mat-table>
            <!-- <div  *ngIf="!(service.isMasterCheckerActive)"> -->
            <div style="background-color: white;"   *ngIf="!(service.isMasterCheckerAssigned)">
                <div class="no-data">
                    <span>No Checker user added yet</span>
                </div>
            </div>
        <!-- </div> -->
            <div class="border-radius-bottom" style=" background-color: white; padding-top: 4vh;">
                <div *ngIf="newEditCA" class="form-style border-radius-bottom">
                    <label for="Checkers" style="margin-top: 1.5vh;">Select Group:</label>
                    <mat-form-field style="margin: -2vh 0.5vw;">
                        <mat-select [(ngModel)]="selectedGroup" id="CheckersGroup" name="group" (ngModelChange)="onSelectChange()"  >
                            <mat-option *ngFor="let user of service.filterGroupData" [value]="user.GroupName">
                                {{user.GroupName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                    <label for="Checkers" style="margin-top: 1.5vh;">Select Unit:</label>
                    <mat-form-field style="margin: -2vh 0.5vw;">
                        <mat-select [(ngModel)]="selectedUnit" id="CheckersUnit" name="unit"  [disabled]="!selectedGroup"  (ngModelChange)="onSelectChange()"  >
                            <mat-option *ngFor="let user of unitData" [value]="user.Name">
                                {{user.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="error" *ngIf="!selectedGroup" style="color: red;margin-left: 8vh;">Please Select the Group</div>
                </div>
                    <!-- <mat-error  *ngIf="!selectedGroup"></mat-error> -->
                    <div>
                    <label for="Checkers" style="margin-top: 1.5vh;">Select Checker:</label>
                    <mat-form-field style="margin: -2vh 0.5vw;">
                        <mat-select [(ngModel)]="selectedUser" id="Checkers" name="user"  [disabled]="!selectedUnit" >
                            <mat-option *ngFor="let user of filteredUsers" [value]="user.FullName" (ngModelChange)="onSelectChange()" >
                                {{user.FullName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="error" *ngIf="!selectedUnit" style="color: red;margin-left: 12vh;">Please Select the Unit</div>
                </div>
                    <mat-action-row>
                        <button mat-icon-button title="Done" class="select" matSuffix
                            (click)="newDataApprove('IncidentCheckers')" [disabled]="!selectedUser">
                            <mat-icon aria-hidden="true" aria-label="done" fontIcon="done"></mat-icon>
                        </button>
                        <button mat-icon-button title="Close" class="cancel" matSuffix cdkFocusInitial
                            (click)="newDataReject('IncidentCheckers')">
                            <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
                        </button>
                    </mat-action-row>
                </div>
                <div *ngIf="!newEditCA" class="add-button border-radius-bottom">
                    <button mat-icon-button (click)="addRow('IncidentCheckers')">
                        <mat-icon class="add-icon" aria-hidden="false" aria-label="Add" fontIcon="add"></mat-icon>
                    </button>
                </div>
            </div>
            <!-- <mat-paginator #paginatorIA [pageSizeOptions]="[10, 25, 100]"></mat-paginator> -->
        </div>
    </div>
</div>
<!-- <mat-dialog-actions>
    <span class="spacer"></span>
    <button mat-button mat-raised-button (click)="service.save()" color="primary">Save</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions> -->
