<mat-expansion-panel expanded="true" disabled hideToggle style="width: 100%;"
    [ngStyle]="data.idx%2!==0?{'margin-bottom': '3vh'} :null">
    <!-- hideToggle -->
    <!-- style="background-image:  linear-gradient(to right,#f2b4b4, #faf9f9 ,#adf28d)" -->
    <mat-expansion-panel-header style="height:30px;"
        [ngStyle]="data.idx%2!==0?{'background-image': 'linear-gradient(to right,#FFB2C0, #8DFFC8)'} : {'background-image': 'linear-gradient(to right,#8DFFC8, #FFB2C0)'}">
        <mat-panel-description style="font-size: 14px; color:black; font-weight: 200;white-space: nowrap;">
            Top Units Migrated to &nbsp; <span style="font-weight:600;"> {{data.value}} </span>&nbsp; Zone
        </mat-panel-description>
    </mat-expansion-panel-header>


    <table mat-table [dataSource]="source" matSort style="width: 100%;" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
        </ng-container>


        <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef> Unit Name </th>
            <td mat-cell *matCellDef="let element"> {{element.Unit}} </td>
        </ng-container>

        <ng-container matColumnDef="Count">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> # of KRI </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.Count}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="height:20px; cursor: pointer;"
            (click)="openPopUp(data.idx)"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" matTooltip="view more information" matTooltipPosition="above" style="height:10px;  cursor: pointer;"
            (click)="openPopUp(data.idx)"></tr>
    </table>

    <!-- <mat-paginator style="background-Color:rgb(184, 181, 181);" #paginator [pageSize]="4" [hidePageSize]="true" showFirstLastButtons [pageSizeOptions]="[3,5,10,]"></mat-paginator> -->
</mat-expansion-panel>