.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;

  }

  mat-dialog-content{
    padding: 20px 20px;
  }

  mat-label.gray{
    color: rgb(145, 0, 0);
}

.disable{
    pointer-events: none;
    opacity: 3;
}

fieldset.scheduler-border {
  border: 1px solid #dedede !important;
  padding: 0.5em 1.4em !important;
  margin: 0 0 0.4em !important;
  box-shadow: 0 0 0 0 #505050;
  width: 95%;
  border-radius: 0.4rem;
}

legend.scheduler-border {
  /* margin-bottom: 1.5em; */
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
  margin-top: -1.8em;
  font-size: 2vh;
  // background-color: #212122;
}

.slctLbl {
  font-size: 1em;
  color: #fff;
}

.col-form-label {
  font-size: 0.8rem;
  color: #707070;
}

/* Base styles for buttons */
.move-buttons .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin: 0.5em;
    width: 7vw;
    padding: 0.5em;
    border-radius: 0.3em;
    color: #fff;
    background: linear-gradient(45deg, rgba(29, 160, 79, 0.8), rgba(11, 89, 161, 0.8));
    outline: none;
    border: none;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));
    opacity: 1;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

/* Specific styles for the 'save' button */
.move-buttons .buttons.save {
    justify-content: center;
    background: #0b5ed7;
}

/* Disabled state */
.move-buttons .buttons:disabled {
    background: #cccccc; /* Gray background */
    color: #666666;      /* Muted text color */
    cursor: not-allowed; /* Unclickable cursor */
    opacity: 0.7;        /* Slight transparency for visual cue */
    filter: none;        /* Remove drop-shadow for disabled state */
}

