.container {
    height: auto;
    width: 100%;
}

.mat-elevation-z8 {
    margin: 2vh;
}

.mat-column-Index,
.mat-column-AddIcon {
    max-width: 2vh;
}

.link {
    font-style: oblique;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.container .mat-table{
    overflow-x:auto;
}