.mat-toolbar {
    height: 6.4vh;
}

.mat-elevation-z8 {
    margin: 0vh 4vh 0 4vh;
}

.mat-action-row {
    margin: 0vh 4vh 0 4vh;
}

.mat-header-row {
    min-height: 10vh;
}

.mat-header-cell,
.mat-cell {
    border-right: 1px solid #eee;
    padding: 0 5px;
}


// .mat-column-Index {
//     max-width: 2vw;
// }

// .mat-column-StartDate,
// .mat-column-EndDate {
//     max-width: 10vh;
// }

// .mat-column-XlsFile,
// .mat-column-PdfFile {
//     max-width: 10vh;
// }

// .mat-column-StatusName,
// .mat-column-Action {
//     max-width: 10vh;
// }

// .mat-column-ReviewerName,
// .mat-column-UnitName {
//     max-width: 40vh;
// }


.mat-column-Index {
    max-width: 2vw;
    justify-content: center;
}

.mat-column-FrameworkName {
    max-width: 15vw;
}

.mat-column-StartDate,
.mat-column-EndDate {
    max-width: 7vw;
}

.mat-column-ReviewerName,
.mat-column-UnitName,
.mat-column-SubmittedUnit {
    max-width: 15vw;
}

.mat-column-StatusName {
    max-width: 10vw;
}

.mat-column-Quarter,
.mat-column-Action {
    max-width: 4vw;
}

.applyFilter button, .applyFilter button:focus {
    width: 31vh;
    min-height: 3.5vh;
    height: 4.5vh;
    padding: 0.3vh 0.6vw;
    box-shadow: 0.3vh 0.4vh 0.4vh 0px rgba(0, 0, 0, 0.28);
    border-left: 2vw solid #000;
    border-right: none;
    border-top: none;
    border-bottom: none;
    transition: width 2s;
    border-radius: 0.5vh;
    color: white;
}

.iconPositionLeft {
    left: 84.5vw !important;
    position: absolute;
}
.mat-header-cell {
    border-right: 1px solid #fff;
    background-color: #E7E7E7;
}

 .mat-cell{
    border-right: 1px solid #eee;
    padding: 0 5px !important;
 }

 .mat-sort-header-content {
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 1vh;
}

/* Base styles for buttons */
.move-buttons .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin: 0.5em;
    width: 15vw;
    padding: 0.5em;
    border-radius: 0.3em;
    color: #fff;
    background: linear-gradient(45deg, rgba(29, 160, 79, 0.8), rgba(11, 89, 161, 0.8));
    outline: none;
    border: none;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));
    opacity: 1;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    height: 5vh;
    font-size: 16px;
    font-family: 'Roboto Condensed';
}

/* Specific styles for the 'save' button */
.move-buttons .buttons.save {
    justify-content: center;
    background: #0b5ed7;
}

/* Disabled state */
.move-buttons .buttons:disabled {
    background: #cccccc; /* Gray background */
    color: #666666;      /* Muted text color */
    cursor: not-allowed; /* Unclickable cursor */
    opacity: 0.7;        /* Slight transparency for visual cue */
    filter: none;        /* Remove drop-shadow for disabled state */
}
.modalColorBtn {
    background-color: #245A8C;
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.45);
    border: none;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    color: white !important;
    padding-left: 5vh;

  }
