.ScheduleGroup {
    background: rgb(36, 112, 163);
    background: -moz-linear-gradient(180deg, rgba(36, 112, 163, 1) 45%, rgba(100, 181, 191, 0.9790575916230366) 100%);
    background: -webkit-linear-gradient(180deg, rgba(36, 112, 163, 1) 45%, rgba(100, 181, 191, 0.9790575916230366) 100%);
    background: linear-gradient(180deg, rgba(36, 112, 163, 1) 45%, rgba(100, 181, 191, 0.9790575916230366) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2470a3", endColorstr="#64b5bf", GradientType=1);
}

.mat-toolbar {
    height: 6.4vh;
}

.mat-elevation-z8 {
    margin: 0vh 4vh 0 4vh;
}

.mat-action-row {
    margin: 0vh 2vh 0 2vh;
}

.mat-header-row {
    min-height: 10vh;
}

.dflexB{
    display: flex;
    align-items: center;
}
.dflexB span{
    margin-top: -7px;
}
.dflexB button{
    margin: -10px 15px 0px 13px;
}
.mat-column-RowNumber {
    max-width: 1vw;
}

.mat-column-ScheduleAssessmentCode {
    max-width: 4vw;
}

.mat-column-SchedulePeriod {
    max-width: 6vw;
}

.mat-column-ProposedStartDate {
    max-width: 6vw;
}

.mat-column-ProposedCompletionDate {
    max-width: 6vw;
}

.mat-column-PrimaryReviewerName {
    max-width: 6vw;
}

.mat-column-SecondaryReviewerName {
    max-width: 6vw;
}
.mat-column-Register {
    max-width: 4vw;
}

.mat-header-row {
    min-height: 10vh;
}
.mat-column-Status {
    max-width: 4vw;
    padding: 0 10px;
}
.mat-column-RCSACode{
    max-width: 2vw;
}
.mat-column-ScheduleAssessmentDescription{
    max-width: 10vw;
}


.ScheduleGrouphead>span {
    background-color: #2980b900;
    color: white;
    margin-top: 2vh;
    height: 6vh;
    font: 300 3vh / 1 Roboto Condensed;
}

// .ScheduleGrouphead>.mat-card-header-text{
//     display: none !important;
// }

mat-card-header>div.mat-card-header-text {
    display: none !important;
}

mat-card.mat-card.mat-focus-indicator.mat-elevation-z4.ScheduleGroup {
    padding: 10px 10px !important;
}

span.summaryGreen {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    height: 4vh;
    border-radius: 3px 0 0 3px;
    background: rgb(16, 179, 136);
    background: -moz-linear-gradient(90deg, rgba(16, 179, 136, 1) 45%, rgba(39, 240, 168, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(16, 179, 136, 1) 45%, rgba(39, 240, 168, 1) 100%);
    background: linear-gradient(90deg, rgba(16, 179, 136, 1) 45%, rgba(39, 240, 168, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#10b388", endColorstr="#27f0a8", GradientType=1);
}

span.summaryRed {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 4vh;
    text-align: center;
    border-radius: 0 3px 3px 0;
    background: rgb(205, 35, 35);
    background: -moz-linear-gradient(90deg, rgba(205, 35, 35, 1) 45%, rgba(249, 134, 134, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(205, 35, 35, 1) 45%, rgba(249, 134, 134, 1) 100%);
    background: linear-gradient(90deg, rgba(205, 35, 35, 1) 45%, rgba(249, 134, 134, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cd2323", endColorstr="#f98686", GradientType=1);
}

span.summaryYellow {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 4vh;
    text-align: center;
    border-radius: 0 3px 3px 0;
    background: rgb(200, 124, 11);
    background: -moz-linear-gradient(90deg, rgba(200, 124, 11, 1) 45%, rgba(249, 196, 134, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(200, 124, 11, 1) 45%, rgba(249, 196, 134, 1) 100%);
    background: linear-gradient(90deg, rgba(200, 124, 11, 1) 45%, rgba(249, 196, 134, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c87c0b", endColorstr="#f9c486", GradientType=1);
}
span.summaryGrouptext {
    color: white;
    padding: 0 8px;

}
span.nosummaryGrouptext{
    color: white;
    padding: 0 8px;
    font-weight: bold;
}

div.summaryStatusinfo {
    padding: 10px;
    //border: 1px solid #e3e5e6;
}

div.summaryinfo {
    height: 5vh;
    padding: 4vh;
    //margin-top: 2vh !important;
}

// th.mat-sort-header-sorted {
//     color: black;
// }
.mat-button-wrapper{
    cursor: pointer;
}

.mat-header-cell {
    border-right: 1px solid #fff;
    background-color: #E7E7E7;
}

 .mat-cell{
    border-right: 1px solid #eee;
    // padding: 0 5px !important;
 }

 .mat-sort-header-content {
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 1vh;
}
.normalColorBtn.modalColorBtnGreen {
    background-color: #1C9F50;
    height: 5vh;
    width: 10vh;
    font-size: 13px;
  }

  .applyFilter button, .applyFilter button:focus {
    width: 25vh;
    min-height: 3.5vh;
    height: 4.5vh;
    padding: 0.3vh 0.6vw;
    box-shadow: 0.3vh 0.4vh 0.4vh 0px rgba(0, 0, 0, 0.28);
    border-left: 2vw solid #000;
    border-right: none;
    border-top: none;
    border-bottom: none;
    transition: width 2s;
    border-radius: 0.5vh;
    color: white;
    white-space: nowrap;
}

.leftPlusIcon {
    left: -15%;
    position: absolute;
    top: 50%;
    transform: translateY(-16%);
}

/* =====================================================================
   ALL vs Individual mode filter on list screen
   ===================================================================== */

/* Selection Mode Toggle on list screen */
.list-selection-mode-section {
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-right: 16px;
}

.selection-mode-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;

    .toggle-label {
        font-size: 0.85rem;
        color: #737373;
        cursor: pointer;
        user-select: none;

        &.active {
            color: #000;
            font-weight: 500;
        }
    }

    .toggle-track {
        position: relative;
        width: 48px;
        height: 24px;
        background: #c3c3c3;
        border-radius: 12px;
        cursor: pointer;
        flex-shrink: 0;

        .toggle-handle {
            position: absolute;
            top: 50%;
            left: 3px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: #0B65A0;
            transform: translateY(-50%);
            transition: left 0.2s ease;

            &.individual {
                left: calc(100% - 21px);
            }
        }
    }
}

/* Department & Unit filter dropdowns on list screen */
.list-filter-field {
    margin-left: 12px;
    max-width: 180px;
}
