.container {
    // overflow-y: auto;
    // height: 24vh;
    margin-top: 4vh;
}

.item {
    font-size: 1.8vh;
    padding: 0;
    display: flex;
    align-content: stretch;
    align-items: stretch;
}

.date {
    min-width: 9.5vh;
    max-width: 9.5vh;
}

.data {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
}

.action {
    color:aqua;
    font-weight: bold;
}

