<div class="row" style="margin:20px">
    <h4 style="font-weight:700;">Incident Title : 
        <span style="font-size:15px; font-weight: normal;">{{service.incident?.IncidentTitle}}</span>
    </h4>
</div>
<ng-container class="container" *ngIf="service?.isReviewEditable">
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>&nbsp;&nbsp;Financial Reporting <span style="color: red;">*</span> </mat-panel-title>
        </mat-expansion-panel-header>
        <label for="incident">Incident Approved for accounting and reporting?</label><br>
        <div class="incident">
            <div style="margin-top:1vh">
                <ng-container *ngFor="let item of incidentStatusList">
                    <input type="radio" [id]="item.id" name="incident" [value]="item.id"
                        [(ngModel)]="incident.IsFinancialLoss">
                    <label [for]="item.id">{{item.value}}</label><br>
                </ng-container>
            </div>

            <div style="margin-left:36vh;margin-top: -3vh;">
                <label for="comments">Comments:</label><br>
                <mat-form-field style="width:178%" appearance="fill">
                    <textarea matInput rows="4" [(ngModel)]="incident.FinancialLossComment"></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>&nbsp;&nbsp;Comments <span style="color: red;">*</span> </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill">
            <textarea matInput name="text" cols="2" rows="6" [(ngModel)]="incident.Comment"></textarea>
        </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>&nbsp;&nbsp;RCA <span style="color: red;">*</span></mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="rca-input" appearance="fill">
            <textarea matInput name="text" id="" cols="2" rows="6" [(ngModel)]="incident.RCA"></textarea>
        </mat-form-field>
        <app-file-upload [evdname]="'RCA'" class="rca-file-upload" [disabled]="false"></app-file-upload>
    </mat-expansion-panel>
    <app-recommendation [recommendations]="recommendations"></app-recommendation>
    <div class="save-button">
        <b *ngIf="service.isReviewInEdit || recommendations.length==0" style="color: red;"> The save button is enabled
            once all the mandatory fields are entered</b>
        <button mat-button mat-raised-button color="primary" (click)="saveIncidentReview()"
            [disabled]="service.isReviewInEdit || recommendations.length==0">Save</button>
        <button mat-stroked-button type="button" style="margin-right:1vw" (click)="service.isReviewEditable=false"
            [disabled]="service.isReviewInEdit">Cancel</button>
    </div>
</ng-container>
<ng-container class="container" *ngIf="!service?.isReviewEditable">
    <div class="main-details">
        <span class="spacer"></span>
        <button mat-icon-button
            [disabled]="utils.isReadOnlyUserORM() || !service.incident.Reviewer || ![2,5,11].includes(service.incident?.StatusCode)"
            (click)="edit()">
            <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="edit"></mat-icon>
        </button>
    </div>
    <mat-expansion-panel expanded="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>&nbsp;&nbsp;Financial Reporting</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="container-incident">
            <label for="incident">Incident Approved for accounting and reporting?</label><br>
            <div style="margin-top:1vh">
                <ng-container *ngFor="let item of incidentStatusList">
                    <input type="radio" [id]="item.id" name="incident" [value]="item.id"
                        [(ngModel)]="service.incident.IsFinancialLoss" [attr.disabled]="false">
                    <label [for]="item.id">{{item.value}}</label><br>
                </ng-container>
            </div>
            <div style="margin-left:21vh;">
                <label for="comments">Comments:</label><br>
                <p>{{service.incident?.FinancialLossComment}}</p>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>&nbsp;&nbsp;Comments</mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{service.incident?.Comment}}</p>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>&nbsp;&nbsp;RCA</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="rca-input">{{service.incident?.RCA}}</p>
        <app-file-upload [evdname]="'RCA'" class="rca-file-upload" [disabled]="true"></app-file-upload>
    </mat-expansion-panel>
    <app-recommendation [recommendations]="service.recommendations"></app-recommendation>
</ng-container>