<div class="mainClassRow">
    <div class="mat-action-row">
        <div class="matInnerClassFirst">
            <div class="InnerClassFirst">
                   <app-riskappetite-overall></app-riskappetite-overall>
            </div>
            <div class="InnerClassSecond">
                <app-kri-overall></app-kri-overall>
            </div>
            <div class="InnerClassThird">
                    <app-incident-overall></app-incident-overall>
            </div>
        </div>
        <div class="matInnerClassSecond">
            <app-rcsa-overall></app-rcsa-overall>
        </div>
    </div>
</div>
