<div style="height: 100%;display: flex; height: '80vh';  width: '42vw'; flex-direction:column; justify-content:space-between">
    <div >
        <mat-toolbar style="display: flex; justify-content:space-between ;align-items: center; background-image: linear-gradient(to left ,#009873, #0B65A0);" >
            <div>Organizational Risk Appetite&nbsp; - Major Risks</div>
            <!-- <h4  style="color: #bcc2c8"><span><strong>Organizational Risk Appetite</strong></span>&nbsp; - Major Risks</h4> -->
            <button mat-icon-button title="Close" cdkFocusInitial mat-dialog-close>
                <mat-icon aria-hidden="false" aria-label="Close" fontIcon="close"></mat-icon>
            </button>
        </mat-toolbar>

        <div class="mat-table-data data-container">

            <table mat-table [dataSource]="dataSource"  matSort style="width: 100%;" class="mat-elevation-z8 rd-tbl">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="rd-tbl-ordhead" style =' padding-bottom: 35px;width:50%;border-top-left-radius: 1vmin;'  [attr.rowspan]="2"  [ngStyle]="{'border': 'none'}"> Risks </th>
                    <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="CriticalWiseRisk">
                    <th mat-header-cell *matHeaderCellDef class="rd-tbl-ordhead" style="text-align: center;width:25%; border-top-right-radius: 1vmin;padding-left: 4px; " [ngStyle]="{'border': 'none'}" [attr.colspan]="2" > Criticality Wise Risk Metrics </th>
                </ng-container>
                 <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef class="rd-tbl-ordhead" style="text-align: center;width:25%;padding-left:19px; " [ngStyle]="{'border': 'none'}" colspan="2" > Status </th>
                </ng-container>
                <ng-container matColumnDef="openCount">
                    <th mat-header-cell *matHeaderCellDef class="rd-tbl-ordhead"  style ='text-align: center; width:12.5%;'  [ngStyle]="{'border': 'none'}" > Open  </th>
                    <td mat-cell *matCellDef="let element"  class="rd-tbl-data" style="text-align: center;  font-size: 2.5vh;cursor: pointer;" (click)="openOrgPopup('open', element)"> <span matTooltip="Click here for more info!">{{element.openCount}}</span>  </td>
                </ng-container>
                <ng-container matColumnDef="closedCount">
                    <th mat-header-cell *matHeaderCellDef class="rd-tbl-ordhead"  style ='text-align: center;width:12.5%;'  [ngStyle]="{'border': 'none'}" > Closed </th>
                    <td mat-cell *matCellDef="let element" class="rd-tbl-data" style="text-align: center; font-size: 2.5vh;cursor: pointer;" (click)="openOrgPopup('closed', element)"> <span matTooltip="Click here for more info!">{{element.closedCount}}</span>  </td>
                </ng-container>
                 <ng-container matColumnDef="CriticalRiskLevel">
                    <th mat-header-cell *matHeaderCellDef class="rd-tbl-ordhead"  style ='text-align: center; width:12.5%;'  [ngStyle]="{'border': 'none'}" > Critical  </th>
                    <td mat-cell *matCellDef="let element"  class="rd-tbl-data" style="text-align: center;  font-size: 2.5vh;cursor: pointer;" (click)="openOrgPopup('CriticalRiskLevel', element)"><span matTooltip="Click here for more info!">{{element.CriticalRiskLevel}}</span>  </td>
                </ng-container>
                <ng-container matColumnDef="ModerateRiskLevel">
                    <th mat-header-cell *matHeaderCellDef class="rd-tbl-ordhead"  style ='text-align: center;width:12.5%; '  [ngStyle]="{'border': 'none'}" > Moderate </th>
                    <td mat-cell *matCellDef="let element"  class="rd-tbl-data" style="text-align: center; font-size: 2.5vh;cursor: pointer;" (click)="openOrgPopup('ModerateRiskLevel', element)"><span matTooltip="Click here for more info!"> {{element.ModerateRiskLevel}} </span></td>
                </ng-container>

                <tr mat-header-row style='height:1px; padding: 0.3rem;'*matHeaderRowDef="['name','Status','CriticalWiseRisk']"></tr>
                <tr mat-header-row style='height:1px;  padding: 0.3rem;' *matHeaderRowDef="['openCount','closedCount','CriticalRiskLevel','ModerateRiskLevel']"  ></tr>
                <tr mat-row style='height:5px;'  *matRowDef="let row; columns: displayedColumns"  ></tr>

            </table>

        </div>
    </div>
    <div class="modal-footer modalFooter">
        <!-- <button mat-stroked-button mat-dialog-close>Cancel</button> -->
        <button type="button" class="btn btn-secondary modalCancelBtn" id="cancel" style="margin-right: 1vh" mat-dialog-close>Cancel</button>
    </div>

</div>

