.main-container {
    display: flex;
    flex-direction: column;
}

.upload-button {
    font-size: 1.4vh;
    background-color: #2470A3;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 5px;

}



.mat-dialog-actions {
    display: flex;
    padding-top: 10px;
}

.mat-expansion-panel {
    box-sizing: content-box;
    display: contents;
    margin: 0;
    border-radius: 4px;
    overflow: hidden;
    transition: margin 225ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.mat-expansion-panel-header {
    background-image: linear-gradient(to right, #BED6EC, #F5F5F5);
    flex-direction: row-reverse;
    padding-left: 10px;
    height: 6.3vh;
}

// .mat-expansion-panel-header:hover {
//     flex-direction: row-reverse;
//     padding-left: 10px;
// }

.mat-panel-title {
    width: 20vw;
}

.mat-table {
    margin-top: 2vh;
}

.mat-header-row {
    align-items: center;
    border: 0px;
}

.mat-header-cell {
    border-top: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    // border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    padding: 0px 5px 0px 5px;
}

.mat-row {
    align-items: stretch;
    border: 0px;
}

.mat-cell {
    border-left: 1px solid #d4d4d4;
    // border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;

    // margin: 0px 10px 0px 10px;
    padding: 5px;
    flex-flow: column;
}

.mat-column-level.mat-cell {
    align-items: flex-start;
}

.mat-column-risk-limit.mat-cell {
    align-items: stretch;
    justify-content: space-between;
}

.mat-display-2, .mat-display-4{

    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.5vh;
    margin: 3px !important;
}

.mat-column-q3,
.mat-column-score {
    justify-content: center;
    flex: initial;
    font-size: 2vh !important;
    width: 6vw;
}
.score-input {
    justify-self: center;
    width: 90%;
}

.remark-input {
    height: 100%;
}




.mat-column-score.mat-cell {
    align-items: stretch;
    padding-right: 5px;
}




.risk-limit {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.risk-limit-left {
    display: flex;
    flex: 1;
    justify-content: end;
    margin: 0px 5px 0px 0px;
}

.risk-limit-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: start;
    margin: 5px;
}

.eye-icon {
    align-self: flex-end;
}

.mat-header-cell:last-child {
    flex: 1;
    border: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}

.mat-cell:last-child {
    flex: 1;
    border: 1px solid #d4d4d4;
}

.mdInput {
    width: 100%;
}

.textarea {
    height: auto;
}

.prev-policy {
    margin-left: 80vw;
    font-style: italic;
    font-weight: 400;
}

.curr-policy {
    font-style: italic;
    font-weight: 700;
}

.mat-display-4,
.mat-display-2,
.mat-h3,
.mat-h4 {
    margin: 0;
}

.risklimitbtn {
    background-color: #000;
    font-size: 1.7vh;
    font-weight: 400;
    color: #fff;
    width: 96%;
    position: absolute;
    bottom: 2%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    border-radius: 10vh;
    padding: 1%;
    line-height: 1.5;
    cursor: pointer;
}

.break-word {
    word-break: break-word;
}

// .action-input {
//     height: 100%;
//     width:100%;
//     border: 1px solid #d4d4d4;
//     // resize: vertical;
//     border-radius: 5px;
//     padding-left: 2px;
//     margin-right: 5px;
//     margin-top: 2px;
//   }



.mat-column-score.mat-cell,
.mat-column-remark.mat-cell,
.mat-column-comments.mat-cell {
    align-items: flex-start;
    height : 25vh;
    overflow-y: auto;
}


.mat-column-action.mat-cell {
    align-items: flex-start;
    height : 25vh;
}


.evidence-container {
    width: 100%;
    height: 100%;
    // display: flex;
    flex-direction: column;

    // justify-content: space-between;
}

.evidence-subcontainer {
    display: flex;
    height: 100%;
    // justify-content: space-between;
    align-items: center;
    // align-items: flex-end;
    margin-top: 50px;

}


.action-plan-disp {
    align-items: flex-start;
    overflow-y: auto;
    height: 30%; /* Adjusted height to 12vh */
    width: 178px;
  }

  .file-upload-disp {
    align-items: flex-start;
    overflow-y: auto;
    height: 40%; /* Adjusted height to 10vh */
    width: 178px;
  }

  .action-input {
    width: 100%;
    height: 30%;
    border: 1px solid #d4d4d4;
    resize: vertical;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px; /* Added margin-bottom to create spacing */
  }

  .disable {

    opacity: 0.3;

    pointer-events: none;

  }

  .popFormandate{
    position: relative;
  }

  .popFormandateInner{
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 5px 10px;
    position: absolute;
    width: 15vh;
    display: flex;
    flex-direction: column;
    bottom: 25px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    font-size: 1.5vh;
    line-height: 2.2vh;
  }
  .popFormandate:hover .popFormandateInner{
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in-out;
  }
  .popFormandate:hover .popFormandateInner{
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in-out;
  }
  .popFormandate input:focus ~ .popFormandateInner{
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in-out;
  }

  .modalColorBtn:disabled {
    background-color: #cccccc !important;; /* Light gray background */
    color: #666666 !important; /* Muted text color */
    cursor: not-allowed; /* Unclickable cursor */
    opacity: 0.7; /* Slight transparency for disabled state */
}
