<div class="container">
  <div class="button-container">
    <mat-form-field appearance="standard">
      <mat-label>Search</mat-label>
      <input id="inputSearch" matInput [(ngModel)]="inputSearch" (keyup)="applyFilter()" placeholder="Eg. User, Allocated Units" #input>
    </mat-form-field>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="addUser()" style="margin-bottom: 16px;">Assign New
      User</button>
  </div>
  <div class="mat-elevation-z8 mat-table-padding">
    <mat-table [dataSource]="dataSource" matSort id="userListTable">
      <ng-container matColumnDef="Index">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="tablestyle"
          style="vertical-align: middle !important;text-align: center;  background-color: #f3f3f3;">#</th>
        <td mat-cell *matCellDef="let row" class="tablestyle" style="text-align: center;">{{row.Index}}</td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="tablestyle"
          style="vertical-align: middle !important;  background-color: #f3f3f3;">User</th>
        <td mat-cell *matCellDef="let row" class="tablestyle">{{row.Name}}</td>
      </ng-container>

      <ng-container matColumnDef="UnitNames">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="tablestyle"
          style="vertical-align: middle !important; background-color: #f3f3f3;">Allocated Units
        </th>
        <td mat-cell *matCellDef="let row" class="tablestyle">{{!row.IsUserManager?row.UnitNames:""}}</td>
      </ng-container>

      <ng-container matColumnDef="ORMModule">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="tablestyle"
          style="vertical-align: middle !important;text-align: center;" [ngStyle]="{'background-color': '#E0F4E8'}">ORM Module</th>
      </ng-container>

      <ng-container matColumnDef="BCMModule">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="tablestyle"
          style="vertical-align: middle !important;text-align: center;" [ngStyle]="{'background-color': '#F4E0E0'}">BCM Module</th>
      </ng-container>

      <ng-container matColumnDef="ORMRole">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': '#E0F4E8'}" style="text-align: center;padding-left: 1vh;">Role</th>
        <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color': '#F2FFEF'}" style="text-align: center;">
          <ng-container *ngIf="row.Modules.length == 1 && row.Modules[0]?.ModuleAbbreviation == 'BCM' "> --
          </ng-container>
          <ng-container
            *ngIf="row.Modules[0]?.ModuleAbbreviation == 'ORM' || row.Modules[1]?.ModuleAbbreviation == 'ORM'">
            <ng-container *ngIf="row.Modules[0]?.ModuleAbbreviation != ''"> <mat-label
                *ngIf="!row.IsUserManager && row.Modules[0]"
               >Standard&nbsp;</mat-label> <mat-slide-toggle
                *ngIf="!row.IsUserManager && row.Modules[0]"
                class="disableClass"
                [checked]="roleCheck(row,'ORM')"
                (change)="changeRole(row)"
                [ngClass]="{'power-toggle': roleCheck(row,'ORM'), 'standardColor-toggle': !roleCheck(row,'ORM')}"></mat-slide-toggle> <mat-label
                *ngIf="!row.IsUserManager && row.Modules[0]">&nbsp;Power</mat-label> </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="ORMAdmin">
        <th mat-header-cell *matHeaderCellDef class="tablestyle"  [ngStyle]="{'background-color': '#E0F4E8'}" style="text-align: center;">Is Functional Admin?</th>
        <td mat-cell *matCellDef="let row" class="tablestyle"  [ngStyle]="{'background-color': '#F2FFEF'}" style="text-align: center;">
          <ng-container
            *ngIf="row.Modules[0]?.ModuleAbbreviation == 'ORM' || row.Modules[1]?.ModuleAbbreviation == 'ORM'">
            <mat-label *ngIf="!row.IsUserManager && row.Modules[0]">No&nbsp;</mat-label>
            <mat-slide-toggle *ngIf="!row.IsUserManager && row.Modules[0]"
            class="disableClass"
              [checked]="isFunctionalAdmin(row, 'ORM')"
               [ngClass]="{'noColor-toggle': !isFunctionalAdmin(row, 'ORM'), 'standard-toggle': isFunctionalAdmin(row, 'ORM')}" 
               (change)="funCheck(row, 'ORM')"></mat-slide-toggle>
            <mat-label *ngIf="!row.IsUserManager && row.Modules[0]">&nbsp;Yes</mat-label>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="BCMRole">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': '#F4E0E0'}" style="text-align: center;">Role</th>
        <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color': '#FAF7F7'}" style="text-align: center;">
          <ng-container *ngIf="row.Modules.length == 1 && row.Modules[0]?.ModuleAbbreviation == 'ORM' "> --
          </ng-container>
          <ng-container
            *ngIf="row.Modules[0]?.ModuleAbbreviation == 'BCM' || row.Modules[1]?.ModuleAbbreviation == 'BCM'">
            <ng-container *ngIf="row.Modules[0]?.ModuleAbbreviation != ''">
            <mat-label *ngIf="!row.IsUserManager && row.Modules[0]">Standard&nbsp;</mat-label>
            <mat-slide-toggle *ngIf="!row.IsUserManager && row.Modules[0]"
            class="disableClass"
              [checked]="roleCheck(row,'BCM')" (change)="changeRole(row)" [ngClass]="{'power-toggle': roleCheck(row,'BCM'), 'standardColor-toggle': !roleCheck(row,'BCM')}"></mat-slide-toggle>
            <mat-label *ngIf="!row.IsUserManager && row.Modules[0]">&nbsp;Power</mat-label></ng-container>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="BCMAdmin">
        <th mat-header-cell *matHeaderCellDef class="tablestyle" [ngStyle]="{'background-color': '#F4E0E0'}" style="text-align: center;">Is Functional Admin?</th>
        <td mat-cell *matCellDef="let row" class="tablestyle" [ngStyle]="{'background-color': '#FAF7F7'}" style="text-align: center;">
          <ng-container
            *ngIf="row.Modules[0]?.ModuleAbbreviation == 'BCM' || row.Modules[1]?.ModuleAbbreviation == 'BCM'">
            <mat-label *ngIf="!row.IsUserManager && row.Modules[0]">No&nbsp;</mat-label>
            <mat-slide-toggle *ngIf="!row.IsUserManager && row.Modules[0]" class="disableClass"
              [checked]="isFunctionalAdmin(row, 'BCM')" (change)="funCheck(row, 'BCM')"
              [ngClass]="{'noColor-toggle': !isFunctionalAdmin(row, 'BCM'), 'standard-toggle': isFunctionalAdmin(row, 'BCM')}"></mat-slide-toggle>
            <mat-label *ngIf="!row.IsUserManager && row.Modules[0]">&nbsp;Yes</mat-label>
          </ng-container>
        </td>
      </ng-container>


      <!-- <ng-container *ngFor="let column of headerList" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef >{{ column }}</th>
        <td mat-cell *matCellDef="let element">
          <span [ngClass]="element.IsActive? '':'disable-color'">
            {{element[column]}}
          </span>
        </td>

      </ng-container>  -->

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="tablestyle"
          style="vertical-align: middle !important;text-align: center;  background-color: #f3f3f3;">Action</th>
        <td mat-cell *matCellDef="let row" class="tablestyle" style="text-align: center;">
          <button mat-icon-button title="Edit" disabled="{{row.IsUserSelf}}" [id]="'edit'+row.Name">
            <mat-icon (click)="editUser(row)" aria-hidden="false" aria-label="Edit" fontIcon="edit">
            </mat-icon>
          </button>
          <button mat-icon-button title="Delete" disabled="{{row.IsUserSelf}}" [id]="'delete'+row.Name">
            <mat-icon (click)="deleteUser(row)" aria-hidden="false" aria-label="Delete" fontIcon="delete">
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['Index', 'Name', 'UnitNames','ORMModule','BCMModule','Action']"></tr>
      <tr mat-header-row *matHeaderRowDef="['ORMRole', 'ORMAdmin','BCMRole', 'BCMAdmin']"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[ 10, 20, 30,]"></mat-paginator>

  </div>
  <br>
</div>
