.viewAllChart{
    position: absolute;
    right: 2vw;
    bottom: 1vh;
    color: blue;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}
::ng-deep.mat-header-row{
    position: sticky;
    top: 0;
    z-index: 100;
}
.d-flex{
    display: flex;
    height: calc(100% - 40px);
    align-items: center;
}