.mat-elevation-z8 {
    margin: 0vh 4vh 0 4vh;
}

.mat-action-row {
    margin: 0vh 4vh 0 4vh;
}

.mat-header-row {
    min-height: 10vh;
}

.mat-header-cell,
.mat-cell {
    border-right: 1px solid #eee;
    padding: 0 5px;
}

.mat-column-Index {
    max-width: 2vw;
    justify-content: center;
}

.mat-column-FrameworkName {
    max-width: 15vw;
}

.mat-column-StartDate,
.mat-column-EndDate {
    max-width: 7vw;
}

// .mat-column-Reviewer {
//     max-width: 10vw;
// }

.mat-column-Reviewer,
.mat-column-Units,
.mat-column-RAFPolicyApplied {
    max-width: 15vw;
}

.mat-column-Status {
    max-width: 10vw;
}

.mat-column-XlsFile {
    max-width: 6vh;
}
.mat-column-PdfFile {
    max-width: 7vh;
    border: none !important;
}

.mat-column-Quarter,
.mat-column-Action {
    max-width: 8vh;
}
.mat-header-cell {
    border-right: 1px solid #fff;
    background-color: #E7E7E7;
}

 .mat-cell{
    border-right: 1px solid #eee;
    padding: 0 5px !important;
 }

 .mat-sort-header-content {
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 1vh;
}
