.panel-row {
    display: flex;
}

.rec-panel,
.rec-input,
.rec-dropdown,
.status-button {
    display: flex;
}

.rec-panel {
    flex-direction: row-reverse;
    justify-items: flex-start;
    align-items: baseline;
}

.rec-input {
    justify-content: space-between;
}

.text-area {
    height: 9vh;
    resize: none;
    border: none;
}

.input-description {
    width: 25vw;
}

.unit-select {
    padding: 0 10px;
}

.rec-dropdown {
    flex-direction: column;
    width: 15vw;
}

.recommendation {
    display: flex;
    justify-content: space-between;
}

.recommendations {
    overflow: auto;
    height: 15vh;
}

h4 {
    font-weight: 700;
}

.save {
    background-color: rgb(79, 79, 235);
    color: white;
    margin-right: 5px;
}

.review {
    background-color: rgb(198, 198, 237);
    color: white;

}

.upload-div {
    display: flex;
    justify-content: space-between;
}

.upload-text {
    font-style: oblique;
    font-weight: 700px;
}

.add-button {
    background-color: transparent;
    border: none;
}

.rec-container {
    display: flex;
    justify-content: space-between;
    // align-items: center;
}

// .rec-overflow {
//     overflow-y: scroll;
//     // height: 40vh;
// }
.rec-expansion {
    display: flex;
    flex-direction: column;
}

.icon {
    color: rgb(198, 198, 237);
}

.container {
    overflow-y: scroll;
    height: 20vh;
    width: 100%;
}

.action-button {
    background-color: transparent;
    border: none;
    color: blue;
}

.select {
    background-color: rgb(217, 217, 97);
    color: aliceblue;
}

.disable {
    background-color: rgb(217, 217, 97);
    color: gray;
}

.cancel {
    margin-left: 4px;
    background-color: rgb(173, 173, 228);
    color: grey;
}

.panel {
    margin-bottom: 10px;
}

.panel-container {
    display: flex;
    justify-content: space-between;
}

.rec-fsw {
    font-size: 12px;
    font-weight: 700;
    margin-right: 0;
}

.rec-fsb {
    color: black !important;
    font-size: 12px;
    font-weight: 700;
    margin-right: 0;
    margin-left: 10px;
}

.res-fs {
    font-size: 15px;
    border: none;
}

.mat-expansion-panel-header {
    display: flex;
    flex-direction: row-reverse;
    color: black !important;
    font-size: 15px;
    font-weight: 700;
}

.rec-expansion.mat-expanded {
    margin: 1em 0 !important;
}

