.tooltip-table {
    border: 1px solid #ffff;
    border-collapse: collapse;
    margin: 10px;
    font-size: 1.3vh;
}



.upload-button {
    font-size: 1.3vh;
    background-color: #2470A3;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;

}
.right-action{
    display: flex;
    align-items: center;
}
.makeHove{
    position: relative;
    margin-top: 10px;
    cursor: pointer;
}
.makeHoveInner ul{
    padding: 0px;
    list-style-type: none;
    white-space: nowrap;
    font-size: 12px;
    color: red;
    margin: -8px 0px 0px;
}
.makeHoveInner{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    top: 10px;
    left: 30px;
}
.makeHove:hover .makeHoveInner{
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in-out;
}
.disableText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: gray;
}
.column{
    margin-left: 30px;
}
.mat-elevation-z8{
    max-height: 980px;
    // overflow-x: hidden !important;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.mat-elevation-z8::-webkit-scrollbar {
    display: none;
}
.mat-header-row:last-child{
    top: 56px;
}
.mat-header-row{
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 100;
}
.reporting-frequency-font {
    font-weight: bold;
}

.historical {
    background-color: transparent;
    border: none;
    cursor: pointer;
    // font-size: 17px;
    // font-weight: 500;
    color: #fff;
}

.dropdown-label {
    margin-right: 0.5rem;
}

.measured-text-space {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.measured {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-left: 10px;
}

.editable {
    width: 4.5vw;
}

.measured-text {
    // font-size: 17px;
    // font-weight: 500;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;

}

.text-align-center {
    text-align: center;
}

.value-container {
    height: 40px;
    width: 40px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.historical-text {
    padding-left: .5vw;
    color: rgb(88, 160, 241);
}

.krivalue-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.krivalue {
    height: 20px;
    width: 20px;
    border-radius: 12px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 20vw;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    right: auto;
    z-index: 5;
    right: 0%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 5%;
    border-width: 1.2vh;
    border-style: solid;
    width: .3vw;
    height: .3vh;
    transform: rotate(-90deg);
    border-color: transparent transparent transparent black;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.mat-toolbar {
    height: 6.4vh;
}

th.mat-header-cell,
td.mat-cell {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px !important;
}

// th.mat-header-cell,
// td.mat-cell {
//     text-align: center;
//     border: 1px solid #CCC;
//     padding: 0 !important;
// }

.mat-action-row,
.mat-elevation-z8 {
    margin: 0vh 4vh 0 4vh;
}

.mat-header-row {
    min-height: 15vh;
}

.view-previous {
    color: #6BBDC2;
    text-decoration: underline;
}

.mat-column-indicator {
    // max-width: 10vw;
    width: 10vw;
}

.mat-column-Kritype {
    width: 5vw;
}

.mat-column-Kricard,
.mat-column-Measurmentfrequency,
.mat-column-Reportingfrequency,
.mat-column-status,
.mat-column-Lastchangedby {
    max-width: 5vw;
}

.mat-column-Target,
.mat-column-Krivalue,
.mat-column-action {
    max-width: 3vw;
}

.mat-column-date {
    width: 3vw;
}

.mat-column-Kritype,
.mat-column-Currentvalue {
    // max-width: 4vw;
    width: 4vw;
}

.mat-column-Measurmentdata,
.mat-column-Measurmentperiod {
    max-width: 6vw;
}

.mat-column-upload,
.mat-column-Remarks {
    max-width: 10vw;
}

.mat-column-tresholdvalue {
    // max-width: 20vw;
    width: 20vw
}

.kri-container {
    display: flex;
    flex-direction: row;
}

.left-container {
    width: 20%;
    margin-left: 20px;
}

.mat-header-cell,
.mat-cell {
    justify-content: center;

}



.mat-bgcolor {
    background: linear-gradient(158.79deg, #2470A3 36.66%, #6BBDC2 101.11%);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    padding-top: 20px;
}

.mat-card-cont {
    background-image: linear-gradient(to right, rgba(139, 233, 243, 0.947), rgba(244, 245, 154, 0.984))
}

.mat-card-m {
    margin-bottom: 5px;
    color: white;
    background: #95D5FF20;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.sub-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    padding-top: 5px;
}

.right-container {
    width: 80%;
}

.actions-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.left-action {
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-data {
    width: 100%;
    text-align: center;
    font-size: 3vh;
}


// Test New CSS - Sudip
.tooltip-table {
    border: 1px solid #ffff;
    border-collapse: collapse;
    margin: 10px;
    font-size: 1.3vh;
}



.upload-button {
    font-size: 1.3vh;
    background-color: #2470A3;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;

}
.right-action{
    display: flex;
    align-items: center;
}
.makeHove{
    position: relative;
    margin-top: 10px;
    cursor: pointer;
}
.makeHoveInner ul{
    padding: 0px;
    list-style-type: none;
    white-space: nowrap;
    font-size: 12px;
    color: red;
    margin: -8px 0px 0px;
}
.makeHoveInner{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    top: 10px;
    left: 30px;
}
.makeHove:hover .makeHoveInner{
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in-out;
}
.disableText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: gray;
}
.column{
    margin-left: 30px;
}
.mat-elevation-z8{
    max-height: 980px;
    // overflow-x: hidden !important;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.mat-elevation-z8::-webkit-scrollbar {
    display: none;
}
.mat-header-row:last-child{
    top: 56px;
}
.mat-header-row{
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 100;
}
.reporting-frequency-font {
    font-weight: bold;
}

.historical {
    background-color: transparent;
    border: none;
    cursor: pointer;
    // font-size: 17px;
    // font-weight: 500;
    color: #fff;
}

.dropdown-label {
    margin-right: 0.5rem;
}

.measured-text-space {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.measured {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-left: 10px;
}

.editable {
    width: 4.5vw;
}

.measured-text {
    // font-size: 17px;
    // font-weight: 500;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;

}

.text-align-center {
    text-align: center;
}

.value-container {
    height: 40px;
    width: 40px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.historical-text {
    padding-left: .5vw;
    color: rgb(88, 160, 241);
}

.krivalue-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.krivalue {
    height: 20px;
    width: 20px;
    border-radius: 12px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 20vw;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    right: auto;
    z-index: 5;
    right: 0%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 5%;
    border-width: 1.2vh;
    border-style: solid;
    width: .3vw;
    height: .3vh;
    transform: rotate(-90deg);
    border-color: transparent transparent transparent black;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.mat-toolbar {
    height: 6.4vh;
}

th.mat-header-cell,
td.mat-cell {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px !important;
}

// th.mat-header-cell,
// td.mat-cell {
//     text-align: center;
//     border: 1px solid #CCC;
//     padding: 0 !important;
// }

.mat-action-row,
.mat-elevation-z8 {
    margin: 0vh 4vh 0 4vh;
}

.mat-header-row {
    min-height: 15vh;
}

.view-previous {
    color: #6BBDC2;
    text-decoration: underline;
}

.mat-column-indicator {
    // max-width: 10vw;
    width: 10vw;
}

.mat-column-Kritype {
    width: 5vw;
}

.mat-column-Kricard,
.mat-column-Measurmentfrequency,
.mat-column-Reportingfrequency,
.mat-column-status,
.mat-column-Lastchangedby {
    max-width: 5vw;
}

.mat-column-Target,
.mat-column-Krivalue,
.mat-column-action {
    max-width: 3vw;
}

.mat-column-date {
    width: 3vw;
}

.mat-column-Kritype,
.mat-column-Currentvalue {
    // max-width: 4vw;
    width: 4vw;
}

.mat-column-Measurmentdata,
.mat-column-Measurmentperiod {
    max-width: 6vw;
}

.mat-column-upload,
.mat-column-Remarks {
    max-width: 10vw;
}

.mat-column-tresholdvalue {
    // max-width: 20vw;
    width: 20vw
}

.kri-container {
    display: flex;
    flex-direction: row;
}

.left-container {
    width: 20%;
    margin-left: 20px;
}

.mat-header-cell,
.mat-cell {
    justify-content: center;

}



.mat-bgcolor {
    background: linear-gradient(158.79deg, #2470A3 36.66%, #6BBDC2 101.11%);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    padding-top: 20px;
}

.mat-card-cont {
    background-image: linear-gradient(to right, rgba(139, 233, 243, 0.947), rgba(244, 245, 154, 0.984))
}

.mat-card-m {
    margin-bottom: 5px;
    color: white;
    background: #95D5FF20;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.sub-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    padding-top: 5px;
}

.right-container {
    width: 80%;
}

.actions-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.left-action {
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-data {
    width: 100%;
    text-align: center;
    font-size: 3vh;
}

// New KRI-Measurement CSS
.leftgraph {
    /* background: linear-gradient(158.79deg, #E3E3E3 36.66%, #C3C3C3 101.11%); */
    color: #fff;
   /* border-radius: 0.3em;
     box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25); */
}



/* ACCORDION */

.accbar {
    background: linear-gradient(90deg, #BED6EC 5.48%, #F5F5F5 100.01%);
}

/* Horizontal line */
.collapsible-link::before {
    content: '';
    width: 14px;
    height: 2px;
    background: #333;
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
  }

  /* Vertical line */
  .collapsible-link::after {
    content: '';
    width: 2px;
    height: 14px;
    background: #333;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s;
  }

  .collapsible-link[aria-expanded='true']::after {
    transform: rotate(90deg) translateX(-1px);
  }

  .collapsible-link[aria-expanded='true']::before {
    transform: rotate(180deg);
  }

  /*


  /*=========================
      CONTENT AFTER MENU
  ==========================*/
  /* .subnavfilter {left:1%; right:1%} */
  .pghead {font-size: 1.5rem; font-weight: 500; white-space: nowrap; width: 25%;}

  .pgheadfields {width: 22%; }

  .filterFrequecy{width: 15%;}

  .filterslider{width: 12%;}
  .switch.filterSwitch {width: 80%;}
  .switch.filterSwitch span:nth-child(1) {top: 0;}
  .switch.filterSwitch .lbswitch {left: 35%; width: 2.5vw;}
  .switch.filterSwitch .slider {top: 50%; left: 22%; height: 2vh; transform: translate(0, -50%);}
  .slider {background-color: #f1f1f1; border: none;}
  .switch.filterSwitch input:checked+.slider {background-color: #fff; border: none;}
  .switch.filterSwitch input.green:checked+.slider:before {background-color: #40D790; height: 1.8vh; width: 1.8vh; bottom: 1px; left: 2.5vw;}

  .switch.filterSwitch .slider:before {height: 1.8vh; width: 1.8vh; left: 0.7vw; bottom: 1px; background-color: #8B847D;}
  .switch.filterSwitch span:nth-child(3) {top: 0; right: 5%; color: #888;}

  .filterinfo{width: 3%;}

  .searchfilter {width: 20%;}

  .reporticon {width: 3%;}

  .srhposition {width: 100%;}
  .searchtxtbox {border: none; border-radius: 3vw; padding-left: 0.5rem;}

  .searchtxtboxicon {position: absolute; right: 3%; top: 50%; transform: translate(0, -50%); color: #737373; font-size: 120%; font-size: 400;}

  h3.lefthead {font-weight: 700; font-size: 1.5rem !important; padding: 0.5em; background-color: #5f9bc3; color: #000;}
  h3.lefthead span {display: inline-block; width: 20%;}
  h3.lefthead span:nth-child(2), .totalNo {font-weight: 700; font-size: 1.8rem;}

  .toptbl{border-bottom: 1px solid #D2D2D2; padding: 1%; color: #000;}

  .toptblbg {background-color:#5f5f5f1a; padding: 1.5%; color: #000;}

  span.spnbtn {background-color: #1371dc66; border-radius: 50vh; padding: 0.2vh 0.5vw; color: #000; margin-top: 0.2vh; display: inline-block;}





/* =====================
SIDE BAR
========================*/

.hamposition {position: absolute; right: 4%; top: 0.6%; z-index: 9;}

.hamburger-toggle {position: relative; padding: 0; background: transparent; border: 1px solid transparent; cursor: pointer; order: 1; background-image: url(../../../assets/icons/icon-left-toggle.svg);
   background-position: bottom right; background-repeat: no-repeat; height: 26px; width: 24px; cursor: pointer; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;  transition: all 0.5s ease-in-out;}

.hamburger-toggle.is-opened {background-position: top right; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;}



.l-sidebar {width: 2vw; background: linear-gradient(158.79deg, #E3E3E3 36.66%, #C3C3C3 101.11%); color: #fff; border-radius: 0.3em; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25); -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out; -ms-transition: width 0.5s ease-in-out; -o-transition: width 0.5s ease-in-out; transition: width 0.5s ease-in-out; background-image: url(../../../assets/icons/left-bg.svg);
  background-position: bottom center; background-repeat: no-repeat;
}

.l-sidebar__content {height: 100%; position: relative;}
.sidebar-is-expanded .l-sidebar {width: 14vw;}

.c-menu > .c-menu__item {max-width: 100%; overflow: hidden; display: none;}

.sidebar-is-expanded .l-sidebar .c-menu__item {display: block; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;}


main.l-main {width: 100%; height: 100%; padding: 0 0 0 0.8vw; -webkit-transition: padding 0.5s ease-in-out; -moz-transition: padding 0.5s ease-in-out; -ms-transition: padding 0.5s ease-in-out; -o-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out;}

main.l-main .content-wrapper {height: 100%;}
main.l-main .content-wrapper .page-content {border-top: 1px solid #d0d0d0;}
main.l-main .content-wrapper--with-bg .page-content {background: #fff; border-radius: 3px; border: 1px solid #d0d0d0;}
main.l-main .page-title {font-weight: 400; margin-top: 0; margin-bottom: 25px;}
.sidebar-is-expanded main.l-main { padding-left: 0.6vw;}

.sidebarstatus {width: 100%;}
.ssapproved, .ssrejected, .sspending {border-radius: 0.3rem; padding: 2% 1.5%; width: calc(100% / 2.8); font-size: 72%; margin-right: 1px;}
.ssapproved {
    background-color: #16bf6d6b;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: table-cell;
}
.ssrejected {
    background-color: #ff818166;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: table-cell;
}
.sspending {
    background-color: #ffffff85;
    margin-right: 0;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: table-cell;
}

/* ============================
RADIO BUTTON
================================ */
.round {
  position: relative;
  width: 40%;
}

.round label {
  background-color: #fff;
  /* border: 1px solid #ccc; */
  border-radius: 50%;
  cursor: pointer;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 1.1vw;
  aspect-ratio: 1 / 1;
}

.round.checkred label {
  border: 1px solid #FF0000;
}

.round.checkgreen label {
  border: 1px solid #04BA00;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  opacity: 0;
  position: absolute;
  left: 25%;
  top: 31%;
  transform: rotate(-45deg);
  width: 0.5vw;
  height: 0.5vh;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round.checkred input[type="checkbox"]:checked + label {
  background-color: #FF0000;
  border-color: #FF0000;
}

.round.checkgreen input[type="checkbox"]:checked + label {
  background-color: #04BA00;
  border-color: #04BA00;
}


.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.btn.btnreminder, .btn.btnreminder:active, .btn.btnreminder:focus, .btn.btnreminder:hover,
.btn.btnsave, .btn.btnsave:active, .btn.btnsave:focus, .btn.btnsave:hover,
.btn.btnsubmit, .btn.btnsubmit:active, .btn.btnsubmit:focus, .btn.btnsubmit:hover
{box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.45); padding: 0.8rem; color: #000 !important; vertical-align: middle; border-left: 3rem solid #000; position: relative;}


.btn.btnreminder, .btn.btnreminder:active, .btn.btnreminder:focus, .btn.btnreminder:hover {
  background: linear-gradient(90deg, #61C6FF 22.16%, #A9F0FF 99.53%) !important;}
.btn.btnsave, .btn.btnsave:active, .btn.btnsave:focus, .btn.btnsave:hover {
  background: linear-gradient(90deg, #1EFF1A 32.57%, #5EFFBB 99.71%) !important;}
.btn.btnsubmit, .btn.btnsubmit:active, .btn.btnsubmit:focus, .btn.btnsubmit:hover {
  border-radius: 5px; background: linear-gradient(90deg, #FF7474 32.86%, #FFD0AD 105.09%) !important;}
.btn.btnsubmit.modalBtnSbmit{padding: 0.4rem;}

.btn.btnreminder span, .btn.btnsave span, .btn.btnsubmit span {position: absolute; left: -14%; top: 50%; transform: translate(0, -50%);}
.btn.btnsubmit.modalBtnSbmit span {position: absolute; left: -60%; top: 50%; transform: translate(0, -50%);}




